// Colors
$d_green: #006203;
$l_green: #00cc06;
$sec_color: #ff8902;
$robo: 'Roboto', sans-serif;
$open: 'Open Sans', sans-serif;

// Utilities
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
    overflow-x: hidden;
    background: #fff;
    font: 400 1rem $open;
}

a{
    text-decoration: none;
}

.link-in{
    color: $sec_color;
    position: relative;

    &::after{
        content: '';
        background: $l_green;
        height: 5px;
        opacity: 0.1;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }

    &:hover{
        text-decoration: none;
        color: $sec_color;
    }
}

// FAQ
main{
    width: 100%;
    height: auto;
    overflow-x: hidden;

    .wrapper{
        width: 100%;
        height: 100vh;
        position: relative;
    }

    .banner-bg{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 50%;
        background: $d_green;
        z-index: 1;
    }
}

.trd-9924-ps{
    position: relative;
    z-index: 2;
    margin-bottom: 3rem;
}

.trd-9924-wrapper{
    width: 100%;
    height: fit-content;
    padding-top: 5rem;
}

.trd-9924-top{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;

    .title{
        text-align: center;
        margin-bottom: 0.5rem;

        h5{
            font: 700 20px $open;
            margin-bottom: 0;
        }

        p{
            font: 400 14px $robo;
        }
    }

    .trd-9924-form{
        width: 100%;
        margin-bottom: 2rem;
        
        form{
            position: relative;
            border-radius: 50px;
            overflow: hidden;

            .search-icon{
                position: absolute;
                width: 25px;
                top: 0;
                left: 8px;
                bottom: 0;
                z-index: 2;
                display: flex;
                justify-content: center;
                align-items: center;
                pointer-events: none;

                img{
                    width: 15px;
                }
            }

            button{
                background: $l_green;
                color: #fff;
                text-transform: uppercase;
                font-size: 12px;
                opacity: 1;
                position: absolute;
                right: 10px;
                top: 7px;
                bottom: 7px;
                z-index: 2;
                border-radius: 50px;
                box-shadow: 0px 0px 12px 5px #00cc066b;

                img{
                    width: 15px;
                    margin-bottom: 3px;
                }
            }
        }

        .input-group{
            width: 100%;
            height: 45px;
        }

        .input-control{
            border: none;
            outline: none;
            display: block;
            width: 100%;
            height: 100%;
            padding-left: 2.5rem;
            padding-right: 3rem;
            border-radius: 50px;

            &::placeholder{
                font-size: 12px;
                opacity: 0.8;
                transform: translateY(-4px);
            }
        }
    }
}

.trad-faqs{
    background: #fff;
    width: 90%;
    margin: 0 auto;
    padding: 1.5rem 1rem;
    border-radius: 20px;
    box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.1);
    
    .faqs-accordion{
        width: 90%;
        margin: 0 auto;
    }

    details {
        padding-bottom: 1rem;
        margin-bottom: 0.5rem;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid #00cc0611;

        summary{
            font: 500 14px $open;
            color: $d_green;
            transition: 300ms ease;
            outline: none;
            border: none;
            position: relative;

            
            &::-webkit-details-marker{
                display: none;
            }
        }

        summary:after {
            background: url('/img/mini_plus.svg') no-repeat center center/cover;
            border-radius: 5px;
            content: "";
            float: right;
            margin: 0 -5px 0 0;
            padding: 0;
            text-align: center;
            width: 15px;
            height: 15px;
        }
       

        p{
            padding-left: 1rem;
            margin-top: 0.5rem;
            margin-bottom: 0;
            font: 400 12px $open;
        }
    }

    details[open] summary:after {
        background: url('/img/mini_minus.svg') no-repeat center center/contain;
    }
}

details[open] summary ~ *{
    animation: droped 200ms ease-in-out;
}

@keyframes droped{
    from{
        opacity: 0;
        transform: translateY(-5px);
    }
    
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@media(min-width: 576px){
    .trd-9924-top{
        .title{
            h5{
                font-size: 24px;
            }
            
            p{
                font-size: 16px;
            }
        }
    }

    .trad-faqs{
        details{
            summary{
                font-size: 16px;
            }

            p{
                font-size: 14px;
            }
        }
    }
}

@media(min-width: 768px){
    .trd-9924-top{
        .title{
            h5{
                font-size: 28px;
            }
            
            p{
                font-size: 18px;
            }
        }
    }

    .trad-faqs{
        details{
            summary{
                font-size: 18px;
            }

            p{
                font-size: 16px;
            }
        }
    }
}

@media(min-width: 992px){

    .trd-9924-top{
        margin-bottom: 1rem;

        .title{
            margin-bottom: 1rem;
            h5{
                font-size: 40px;
            }
            
            p{
                font-size: 28px;
            }
        }

        .trd-9924-form{
            width: 90%;
            margin-right: auto;
            margin-left: auto;

            form{
                border-radius: 0;
                height: fit-content; 
                
                .search-icon{
                    left: 12px;

                    img{
                        width: 22px;
                    }
                }

                button{
                    border-radius: 10px;
                    font-size: 18px ;
                    right: 12px;
                    top: 12px;
                    bottom: 12px;
                }
            }

            .input-group{
                height: 75px;
                
            }

            .input-control{
                padding-left: 3.5rem;
                padding-right: 8rem;
                border-radius: 10px;

                &::placeholder{
                    font-size: 18px;
                    transform: translateY(-2px);
                }
            }
        }
    }

    .trad-faqs{
        padding: 4rem 2rem;

        details{
            padding-bottom: 0;
            
            summary{
                padding: 1rem 0;
                font-size: 20px;
            }

            p{
                font-size: 18px;
            }
        }
    }

}

@media(min-width: 1200px){

}

@media(min-width: 1600px){

}

