// Colors
$dp_green: #004a02;
$d_green: #006203;
$l_green: #00cc06;
$sec_color: #ff8902;
$robo: "Roboto", sans-serif;
$open: "Open Sans", sans-serif;

// Utilities
* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    overflow-x: hidden !important;
    background: #fff;
    font: 400 1rem $open;
}

a {
    text-decoration: none !important;
}

.link-in {
    color: $sec_color;
    position: relative;
    transition: 200ms;

    span {
        transition: 200ms;
    }

    &::after {
        content: "";
        background: $l_green;
        height: 5px;
        opacity: 0.1;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }

    &:hover {
        text-decoration: none;
        color: $sec_color;
    }

    &:hover span {
        padding-left: 8px;
    }
}

//DASHBOARD
nav#nav-sm {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 1000000;
}

nav#nav-lg {
    display: none;
}

.trd-1635-dss {
    width: 100%;
    height: 100%;
}

.trd-1635-nav {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    box-shadow: 0px 0px 10px 2px rgba($color: #000000, $alpha: 0.1);
}

.trd-1635-links {
    display: flex;
    width: max-content;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #000;

    img {
        width: 20px;
        height: 20px;
        margin-bottom: 10px;
        filter: grayscale(100);
        opacity: 0.8;
    }

    h6 {
        margin-bottom: 0;
        font-size: 10px;
        opacity: 0.6;
    }

    &.active {
        img {
            filter: grayscale(0);
            opacity: 1;
        }

        h6 {
            color: $dp_green;
        }
    }
}

.filter-gry {
    opacity: 0.7 !important;
}

//INDEX PAGE
main {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

.no-wrap {
    white-space: nowrap;
}

.trd-dss-wrapper {
    background: #00a605;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: sticky !important;
    top: 0;
    left: 0;
    z-index: 9999999;
}

.trd-dss-204 {
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.trd-dss-304 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.trd-dss-304 {
    color: #fff;

    h4 {
        font-weight: bolder;
        font-size: 16px;
        margin-bottom: 0;
    }

    p {
        font-family: $robo;
        font-size: 12px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        margin-bottom: 0;

        span {
            margin-right: 8px;
            opacity: 0.8;
        }

        img {
            width: 20px;
        }
    }
}

.trd-dss-404 {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    img {
        width: 50px;
        height: auto;
    }
}

.trd-dss-444 {
    width: max-content;
    height: auto;
    margin-left: 0.2rem;

    a {
        display: block;
        width: fit-content;
        height: auto;
    }
}

/////////////////@at-root
.trd-dsh-account {
    width: 100%;
    height: max-content;
}

.trd-dsh-inner {
    display: block;
    width: 100%;
}

.trd-dsh-scroll {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-flow: column;
    column-gap: 8px;
    overflow-x: scroll;
    padding-top: 1rem;
    padding-bottom: 1rem;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.trd-txt-light {
    color: #fff;

    a {
        color: #fff;
    }
}

.trd-bdr {
    position: relative;

    &::before,
    &::after {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 35px;
        position: absolute;
    }

    &::before {
        right: -10px;
        bottom: -10px;
        z-index: -1;
    }

    &::after {
        right: -20px;
        bottom: -20px;
        z-index: -2;
    }

    .spiral {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        border-radius: 30px;
        overflow: hidden;
        pointer-events: none;
        user-select: none;

        .spiral-img {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .box {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        z-index: 5;
        justify-content: center;
        align-items: flex-start;

        .trd-llt {
            font-size: 10px;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
    }
}

.trd-dsh-rounded {
    border-radius: 35px;
}

.trd-dsh12-display {
    width: 355px;
    height: 155px;
    padding: 8px 2rem;
    padding-top: 0;
    background: #18b767;
    margin-left: 1rem;
    margin-right: 1rem;

    .details {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .trd-card-info {
            font-family: $open;
        }

        .trd-comp {
            width: fit-content;
            height: auto;

            img {
                width: 60px;
                height: auto;
            }
        }
    }

    .trd-balance {
        margin-bottom: 0.5rem;

        h4 {
            font-size: 30px;
            font-weight: bolder;
            position: relative;
            line-height: 1;
            padding-left: 10px;

            sup {
                position: absolute;
                font-size: 10px;
                top: 7px;
                left: 0;
            }
        }
    }

    .trd-js-links {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .img-wrapper {
            background: #fff;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            margin-right: 10px;
            position: relative;
            box-shadow: 0px 0px 0px 7px #25c575;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        a {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: fit-content;
            height: fit-content;

            img {
                width: 15px;
                height: auto;
            }

            &:first-of-type {
                margin-right: 2rem;
            }

            span {
                font-size: 12px;
            }
        }
    }

    .cn-trd {
        font-size: 16px;
        font-weight: lighter;
    }

    .trd-js202-links {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .trd-js202-infos {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            h6 {
                font-weight: bold;
                font-size: 20px;
            }

            p {
                font-size: 10px;
                text-transform: capitalize;
            }

            &:first-of-type {
                border-right: 2px solid $l_green;
                margin-right: 1rem;
                padding-right: 1rem;
            }
        }
    }

    .trd-js204-links {
        display: block;

        .trd-progress-bar {
            position: relative;
            padding: 7px;
            width: 100%;
            height: 35px;
            background: #fff;
            border-radius: 30px;
            overflow: hidden;
        }

        .trd-progress-val {
            position: relative;
            height: 100%;
            width: 90%;
            border-radius: 30px;
            background: linear-gradient(to right, #00d6bd, #01ecaa, #20ffc0);
            box-shadow: 0px 0px 35px 0px #ff8902d9;
        }

        .trd-progess-ivl {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            line-height: 3;
            font-size: 12px;
            text-align: center;
            color: $sec_color;
            z-index: 5;
        }
    }
}

.trd-dsh12-display.trd-jsd {
    background: #00a605;
}

.trd-dsh12-display.trd-ins {
    background: #ff8902;
}

.trd-dsh12-display.trd-jsd,
.trd-dsh12-display.trd-ins {
    &:hover {
        color: #fff;
        text-decoration: none;
    }
}

.trd-dsh12-display.trd-bdr {
    &::before {
        background: #dbffdc;
    }

    &::after {
        background: #f5fff5;
    }
}

.trd-dsh12-display.trd-ins.trd-bdr {
    &::before {
        background: #ffebd4;
    }

    &::after {
        background: #fff8f0;
    }
}

.trd-frmshop-inner {
    margin-top: 2rem;
}

.trd-sm-hidden {
    display: block;
}

.trd-xl-hidden {
    display: none;
}

.trd-frm-435 {
    margin-bottom: 1rem;
    div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        overflow: hidden;
        border-radius: 30px;
        background: #f5fff5;

        h6 {
            color: #000;
            opacity: 0.7;
            font: 600 14px $robo;
            margin-bottom: 0;
        }

        a {
            color: $sec_color;
        }
    }
}

.trd-frm-435.title-tag-two {
    div {
        margin-bottom: 2rem;

        h6 {
            font-size: 20px;
            font-weight: lighter;
        }
    }
}

.trd-frm-352 {
    width: 100%;
    margin-bottom: 1.5rem;
    overflow: hidden;

    .farm-sec1 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: fit-content;
    }

    .farm-sec2 {
        .farm-location {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 1rem;

            p {
                font-size: 14px;
                color: $dp_green;
                margin-bottom: 0;
            }
        }

        .farm-btn {
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    .farm-img {
        width: 140px;
        height: auto;
        max-height: 150px;
        border: 2px solid #f5fff5;
        border-radius: 15px;
    }

    .farm-details {
        .plantation {
            line-height: 1;
            font-size: 10px;
        }

        .pc-mb-12 {
            margin-bottom: 0.4rem;
        }

        .plant-name {
            font-weight: bold;
            font-size: 18px;
        }

        .plant-amt {
            white-space: nowrap;

            .cycle {
                font-size: 12px;
            }

            .f-amt {
                font-size: 16px;
                font-weight: bold;
            }

            .duration {
                font-size: 16px;
            }
        }

        .roi {
            color: $sec_color;
        }
    }
}

.trd-rrf-43r {
    width: 100%;
    height: 100%;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.trd-rrf-inner.xl {
    display: none;
}

.trd-rrf-b-img {
    width: fit-content;
    height: auto;

    img {
        width: 154px;
        height: auto;
    }
}

.trd-rrf-top {
    text-align: left;
    font-size: 20px;
    opacity: 0.7;
    margin-bottom: 0;
}

.trd-rrf-img {
    margin-block-end: 1rem;

    img {
        width: 100%;
        height: auto;
    }
}

.trd-rrf-inner {
    background: #f5fff5;
}

.trd-rrf-blog {
    width: 100%;
    height: 100%;
}

.trd-rrf-b-content {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 0;

    .trd-rrf-b-img {
        margin-right: 1rem;
        border-radius: 30px;
    }

    .ctr-xxd {
        font-size: 14px;
        opacity: 0.8;

        span {
            color: $l_green;
            font-weight: bold;
        }
    }
}

.content-4243 {
    width: 50%;

    .title {
        font: 500 18px $robo;
        color: #000;

        span {
            opacity: 0.5;
            font-weight: lighter;
        }
    }
}

.trd-dsh-activities {
    width: 100%;
    height: fit-content;
}

.trd-act-wrapper {
    width: 100%;
    margin-top: 2rem;
}

.trd-act627-wrapper {
    width: 100%;
    height: max-content;
    border-radius: 30px;
    box-shadow: 0 0 10px 8px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

.trd-activities-list {
    display: block;
    margin-bottom: 0;
}

.btn-hover-primary {
    background: $l_green !important;
    transition: 200ms ease-in;

    &:hover {
        background: white !important;
        color: $l_green !important;
        box-shadow: 0 0 15px 5px rgba($color: #000000, $alpha: 0.1) !important;
    }
}

.trd-activities-item {
    width: 100%;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .items {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .item-img {
            margin-right: 1rem;
            height: 45px;
            width: 45px;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 15px;
                height: auto;
            }

            &.img-type-1 {
                background: #eef8ee !important;
            }

            &.img-type-2 {
                background: #fff3e5 !important;
            }
        }

        .item-tag {
            color: #000;

            h5 {
                font: 600 18px $robo;
                margin-bottom: 0;
            }

            p {
                font-size: 10px;
                margin-bottom: 0;
            }
        }
    }

    .details {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;

        h5 {
            margin-bottom: 0;
            font-weight: bold;
            color: $dp_green;
        }

        p {
            margin-bottom: 0;
            font-size: 12px;
            opacity: 0.7;
        }

        &.type-x h5 {
            color: $sec_color;
        }
    }
}

.trd-dssh-437 {
    a {
        display: block;
        width: 100%;
        height: 100%;
        padding: 3px;
        position: relative;

        span {
            position: absolute;
            top: -7px;
            right: -5px;
            background: rgb(255, 255, 255);
            color: $sec_color;
            border: 2px solid $sec_color;
            font-size: 10px;
            padding-left: 5px;
            width: 20px;
            height: 20px;
            overflow: hidden;
            border-radius: 50%;
        }
    }

    img {
        width: 36px !important;
    }
}

.trd-dss-full-wrap {
    margin-top: 2rem;
}

.trasnction-tabs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.transaction-tab {
    min-width: max-content;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.trsct-table {
    width: 100%;
    padding: 1rem 0;
    margin-bottom: 1rem;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }

    table {
        width: 100%;
    }

    thead {
        display: table-row-group;
        padding: 10px;
        margin-bottom: 20px;
        background: #f5fff5;

        th {
            color: #0000008c;
        }
    }

    tbody {
        border: 1px solid red;
        box-shadow: 0 0 10px 0 rgba($color: #000000, $alpha: 0.05);
    }

    th,
    td {
        padding: 18px 10px;
        text-align: center;
        white-space: nowrap;
    }
}

.table-flex {
    width: 100%;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding-bottom: 2rem;

    &::-webkit-scrollbar {
        display: none;
    }
}

.table-view {
    width: 100%;
    min-width: max-content;
}

.table-header {
    width: 100%;
    min-width: max-content;
    background: #f5fff5;
    color: #000000ad;
    font-weight: bolder;
    border-radius: 30px;

    .table-head-content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            width: 25%;
            display: inline-block;
            padding: 1rem 1.2rem;
            text-align: center;
            margin-right: 1.5rem;
            white-space: nowrap;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}

.table-body {
    width: 100%;
    min-width: max-content;
    margin-top: 1rem;
    padding: 10px;
}

.table-row {
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba($color: #000000, $alpha: 0.05);
}

.table-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    .tb-item {
        width: 25%;
        margin-right: 1.5rem;
        text-align: center;
        white-space: nowrap;
        color: #0000009f;

        &:last-of-type {
            margin-right: 0;
        }

        .table-items {
            width: max-content;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-right: 20px;

            .item-img {
                margin-right: 1rem;
                height: 45px;
                width: 45px;
                border-radius: 50%;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #eef8ee;

                &.type-1 {
                    background: #fff3e5;
                }

                img {
                    width: 15px;
                    height: auto;
                }
            }

            .item-tag {
                text-align: left;

                h5 {
                    font: 600 20px "Roboto", sans-serif;
                    margin-bottom: 0;
                }

                p {
                    font-size: 12px;
                    margin-bottom: 0;
                }
            }
        }

        .details.type-x {
            h5 {
                font-size: 18px;
                font-weight: bolder;
                color: #472600;
            }
        }

        .details.type-y {
            h5 {
                font-size: 18px;
                font-weight: bolder;
                color: $sec_color;
            }
        }
    }
}

.farmshop-dash.inv-section-xl {
    justify-content: flex-start;
    align-items: center;
}

.btn {
    box-shadow: none !important;
}

#sav1-box,
#sav2-box {
    cursor: pointer;
}

.tabs-btn {
    color: $sec_color;
    background: #fff;
    box-shadow: 0 0 10px 0 rgba($color: #000000, $alpha: 0.1) !important;
    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 12px;
    border-radius: 30px;
    transition: 300ms ease;

    &.active {
        background: $d_green;
        color: #ffffff;
    }

    &:hover {
        background: $d_green;
        color: #ffffff;
    }

    &:last-of-type {
        margin-right: 0;
    }
}

.trsct-table-header {
    width: 100%;
    margin-top: 10px;
    background: #f5fff5;
    color: #000000ad;
    font-weight: bolder;
    border-radius: 30px;
    padding: 15px 1rem;
}

.tables-body {
    opacity: 0.3;
}

.table-tab-top {
    text-align: left !important;
}

.table-row .table-data:nth-child(even) {
    background-color: #f5fff5;
}
.trd-activities-list .trd-activities-item:nth-child(even) {
    background-color: #f5fff5;
}
.padding-bottom-tab {
    padding-bottom: 6rem;
}

.farmshop-header.investment {
    background: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10000;
}

.farmhead-txt-wrapper a {
    display: inline-block;

    img {
        width: 20px;
    }
}

.circle-progress {
    position: relative;
    width: fit-content;

    .percentage {
        width: 73px;
        height: 73px;
        border-radius: 50%;
        background: #fff;
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.12);
        position: absolute;
        top: 47%;
        left: 50%;
        line-height: 3.8;
        text-align: center;
        font-family: $open;
        font-weight: bolder;
        font-size: 20px;
        color: rgba(0, 0, 0, 0.6);
        transform: translate(-50%, -50%);
        z-index: 199;

        &.type-top {
            top: 48%;
        }
    }
}

.trd-invs-wrapper {
    position: relative;
    background: #ff9926;
    padding-bottom: 8rem;
}

.trd-inv-recents {
    position: absolute;
    border-radius: 20px;
    background: #fff;
    width: 100%;
}

.trd-invs-top {
    background: #ff9926;
    height: max-content;

    .topinvestments {
        padding: 18px 20px;
        overflow-y: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.ttp-investments {
    color: #ffffff;
    margin-bottom: 1.5rem;

    p {
        font-weight: lighter;
        margin-bottom: 0;
    }

    h5 {
        font: 700 35px $robo;
    }
}

.inv-chart {
    width: 100%;
    min-width: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chart-box {
    width: 33.33%;
    min-width: max-content;
    margin-right: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h6 {
        white-space: nowrap;
        font-weight: lighter;
        color: #fff;
    }

    .chart-timing {
        img {
            width: 13px;
            margin-right: 5px;
        }
        span {
            color: rgba(255, 255, 255, 0.5);
            margin-right: 15px;
            font-size: 12px;
        }
    }

    a {
        display: block;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        padding: 0.5rem 1.2rem;
        margin-top: 10px;
        color: $sec_color;
        background: #fff;
        border-radius: 30px;
        border: 1px solid #f5fff5;
    }
}

.trd-act-wrapper.investments-wrap {
    padding-left: 10px;
    padding-right: 10px;
}

.lg-visible {
    display: none;
}

.notification-alert {
    background: #fff;
    width: 90%;
    height: fit-content;
    margin: 0 auto;
    margin-top: 4rem;
    padding: 1rem 1.5rem;
    border-radius: 30px;
    position: absolute;
    top: 0;
    right: 5%;
    opacity: 0;
    pointer-events: none;
    transition: all 300ms ease-in;
    overflow: hidden;
    box-shadow: 0 0 20px 5px rgba($color: #000000, $alpha: 0.1);

    &.show {
        transform: translateY(25px);
        opacity: 1;
        pointer-events: visible;
        transition: 300ms ease-in;
    }

    .trd-not-top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h5 {
            margin-bottom: 0;
            opacity: 0.5;

            img {
                width: 24px;
                height: auto;
            }

            span {
                font-size: 16px;
            }
        }
    }

    button {
        outline: none;
        border: none;
        box-shadow: none;
        background: transparent;
        padding: 1rem;

        img {
            width: 15px;
        }
    }

    .trd-notification-dis {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 1rem;
        padding-bottom: 1rem;

        .trd-noti-link {
            font-size: 10px;
        }

        .trd-side-1 {
            width: 70%;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .trd-side-img {
                margin-right: 10px;
                width: 200px;
                border-radius: 12px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            h4 {
                font-size: 14px;
            }
        }
    }
}

.trd-notification-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h5 {
        margin-bottom: 0;
        opacity: 0.5;
        font-weight: bolder;

        img {
            width: 24px;
            height: auto;
        }

        span {
            font-size: 20px;
        }
    }

    button {
        outline: none;
        border: none;
        box-shadow: none;
        background: transparent;
        padding: 1rem;

        img {
            width: 15px;
        }
    }
}

.top-up-alert {
    background: #fff;
    width: 90%;
    height: fit-content;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    border-radius: 30px;
    position: absolute;
    top: 0;
    left: 5%;
    opacity: 0;
    pointer-events: none;
    transition: all 300ms ease-in;
    overflow: hidden;
    box-shadow: 0 0 20px 5px rgba($color: #000000, $alpha: 0.1);

    &.show {
        transform: translateY(25px);
        opacity: 1;
        pointer-events: visible;
        transition: 300ms ease-in;
    }
}

.ttrd-top-alert {
    .tab {
        overflow: hidden;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .tab button {
        background-color: inherit;
        width: 100%;
        float: left;
        text-align: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.2s;
        padding: 0;
        padding-left: 2rem;
        border-bottom: 4px solid #f5fff5;
        margin-bottom: 1rem;

        &:last-of-type {
            border-bottom: none;
        }

        &.active .tabs-payment::before {
            opacity: 1;
        }

        &.disabled {
            opacity: 0.3;
            pointer-events: none;
        }

        .tabs-payment {
            position: relative;
            margin-bottom: 1rem;

            h4 {
                font-size: 14px;
                font-weight: bolder;
                text-transform: capitalize;
                color: black;
            }

            p {
                font-size: 14px;
                font-weight: lighter;
                text-transform: capitalize;
                margin-bottom: 0.5rem;

                b {
                    font-family: $open;
                    font-size: 16px;
                    font-weight: 700;
                    color: black;
                    white-space: nowrap;
                    text-transform: uppercase;
                }
            }

            &::before,
            &::after {
                content: "";
                border-radius: 50%;
                position: absolute;
                top: 0;
                left: -32px;
            }

            &::before {
                width: 12px;
                height: 12px;
                background: $l_green;
                z-index: 5;
                top: 4px;
                left: -28px;
                opacity: 0;
            }

            &::after {
                width: 20px;
                height: 20px;
                background: #fff;
                border: 2px solid $l_green;
                z-index: 4;
            }

            &.withdrawal {
                &::before {
                    background-color: $sec_color;
                }

                &::after {
                    border-color: $sec_color;
                }
            }
        }
    }

    .tabcontent {
        padding-left: 1rem;
        padding-right: 1rem;
        border-top: none;
    }

    .form-group {
        margin-bottom: 0.5rem;

        label {
            font-size: 12px;
            font: 700 12px $open;
            text-transform: capitalize;
            margin-bottom: 0;
        }

        .form-control {
            box-shadow: none;
            border-radius: 30px;
            border: none;
            background: #e0e0e0;
            padding: 0.8rem 0;
            padding-left: 1rem;
        }
    }

    .btn-top-up {
        outline: none;
        border: none;
        box-shadow: none;
        width: 100%;
        background: #00a605;
        margin-top: 1rem;
        padding: 1rem 2rem;
        border-radius: 30px;
        color: #fff;
        transition: 300ms ease-in;

        &:hover {
            background: #fff;
            color: #00a605;
            box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1) !important;
        }
    }

    .disabled {
        opacity: 0.4 !important;
        pointer-events: none !important;
    }
}

.top-up-alert.withdrawal {
    height: max-content !important;
}

.sold-out.dash {
    background: $l_green !important;

    &:hover {
        color: $l_green !important;
        background: #fff !important;
        box-shadow: 0 0 10px 5px rgba($color: #000000, $alpha: 0.1) !important;
    }
}

.farm-btn.btn.btn-lg {
    font-size: 14px;
}

.purchase-alert {
    background: #fff;
    width: 90%;
    height: fit-content;
    margin: 0 auto;
    padding: 0.8rem 1rem;
    border-radius: 30px;
    position: absolute;
    top: 5%;
    left: 5%;
    opacity: 0;
    pointer-events: none;
    transition: all 300ms ease-in;
    overflow: hidden;
    box-shadow: 0 0 20px 5px rgba($color: #000000, $alpha: 0.1);

    &.show {
        transform: translateY(25px);
        opacity: 1;
        pointer-events: visible;
        transition: 300ms ease-in;
    }

    .trd-not-top {
        width: 100%;

        button {
            border: none;
            outline: none;
            box-shadow: none;
            background: transparent;
            float: right;
            padding: 10px;

            img {
                width: 20px;
            }
        }

        .clear-fix {
            clear: both;
        }
    }
}

.trd-purchase-body {
    height: max-content;
}

.trd-pruchase-title {
    h5 {
        font: 700 20px $open;
        color: $d_green;
    }
}

.trd-body-content {
    padding-left: 20px;

    form {
        span {
            display: block;
            width: 100%;
            font-size: 12px;
            opacity: 0.6;
            font-family: $open;
            margin-bottom: 1rem;
        }

        .form-group {
            label {
                font-family: $open;
                font-weight: bold;
                font-size: 14px;
            }

            .form-control {
                border: none;
                box-shadow: none !important;
                outline: none;
                border-radius: 20px;
                background: #e0e0e085;
                padding-top: 1rem;
                padding-bottom: 1rem;
                padding-left: 1rem;

                &::placeholder {
                    font-size: 12px;
                }
            }

            p {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 0;
                white-space: nowrap;

                span {
                    margin-right: 15px;
                    margin-bottom: 0.5rem;

                    &:last-of-type {
                        margin-right: 0;
                        color: $sec_color;
                    }
                }
            }
        }

        .btn-sb-buy {
            font-size: 14px;
            padding: 1rem 1.5rem;
            text-transform: uppercase;
            width: 90%;
            margin: 0 auto 1rem;
            background: $l_green;
            color: #fff;
            transition: 200ms ease-in;
            border-radius: 30px;

            &:hover {
                background: #fff;
                color: $d_green;
                box-shadow: 0 0 10px 5px rgba($color: #000000, $alpha: 0.1) !important;
            }
        }
    }
}

.trd-body-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .trd-srd-1 {
        font-family: $robo;
        font-weight: bolder;
        margin-bottom: 1rem;

        h4 {
            font-size: 15px;
        }

        h5 {
            font-size: 15px;
            margin-bottom: 0;

            img {
                width: 18px;
            }
        }
    }

    .trd-srd-2 {
        color: $sec_color;
        font-size: 16px;
    }
}

//PAYMENT SELECT DROPDOWN
.payment-method-select {
    position: relative;
    font-size: 12px;

    select {
        display: none;
    }

    .select-selected {
        background-color: #e0e0e085;
    }

    .select-selected:after {
        position: absolute;
        content: "";
        top: 14px;
        right: 10px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: #fff transparent transparent transparent;
    }

    .select-selected.select-arrow-active:after {
        border-color: transparent transparent #fff transparent;
        top: 7px;
    }

    .select-items div,
    .select-selected {
        padding: 8px 12px;
        border: 1px solid transparent;
        border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
        cursor: pointer;
        user-select: none;
    }

    .select-selected {
        border-radius: 20px;
        color: #6f6f6f;
    }

    .select-items {
        position: absolute;
        background-color: #343a40;
        color: #fff;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 99;
    }

    .select-hide {
        display: none;
    }

    .select-items div:hover,
    .same-as-selected {
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.modal {
    display: block;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    width: 100vw;
    height: 100vh;
    z-index: 9999999999999999999999999;
    background: transparent;
    transition: all 300ms ease-in;

    &.open {
        background: rgba(0, 0, 0, 0.6);
        opacity: 1;
        pointer-events: visible;
    }
}

.purchase-alert.sales {
    opacity: 0;
    pointer-events: none;
    height: 80%;
    top: 0;
    left: 5%;

    &.show {
        transform: translateY(25px);
        opacity: 1;
        pointer-events: visible;
        transition: 300ms ease-in;
    }
}

.referral-side {
    position: absolute;
    opacity: 1;
    pointer-events: visible;
    top: 0;
    bottom: 0;
    right: 0;
    width: 80%;
    height: 100%;
    background: #fff;
    padding: 1rem;
    transition: 300ms ease-in;
    transform: translateX(102%);

    &.show {
        transform: translateX(0);
    }
}

.trd-referral-top {
    width: 100%;

    button {
        border: none;
        outline: none;
        box-shadow: none;
        background: transparent;
        float: right;
        padding: 10px;

        img {
            width: 20px;
        }
    }

    .clear-fix {
        clear: both;
    }
}

.trd-referral-body {
    height: calc(100% - 43px);
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;

    .body-wrap {
        height: fit-content;
        width: 100%;

        h4 {
            font: 700 22px $open;
            font-weight: bolder;
            color: $d_green;
        }
    }

    .trd-referral-content {
        width: 100%;

        .trd-rffr-img {
            width: 100%;

            img {
                width: 100%;
            }
        }

        form {
            width: 100%;
            margin-top: 2rem;

            .form-group {
                label {
                    font-size: 14px;
                    font-weight: bold;
                    opacity: 0.7;
                }

                .form-control {
                    border: none;
                    box-shadow: none !important;
                    outline: none;
                    border-radius: 15px;
                    background: rgb(243, 243, 243);
                    padding: 2rem 0;
                    padding-left: 1rem;

                    &::placeholder {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

.btn-grp-2 {
    font-size: 18px;
    color: #fff;
    background: $l_green;
    padding: 1rem 2rem;
    width: 100%;
    border-radius: 15px;
    white-space: nowrap;

    &:hover {
        background: #fff;
        color: $l_green;
        box-shadow: 0 0 10px 5px rgba($color: #000000, $alpha: 0.1) !important;
    }
}

.trd-body-top.plantation-chart {
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;

    .trd-srd-1 {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        span b {
            color: $sec_color;
        }
    }

    .circle-progress {
        margin-right: 15px;
    }
}

.transaction_succesful {
    background: #fff;
    width: 90%;
    height: fit-content;
    margin: 0 auto;
    padding: 0.8rem 1.5rem;
    border-radius: 30px;
    position: absolute;
    top: 10%;
    left: 5%;
    opacity: 0;
    pointer-events: none;
    transition: all 300ms ease-in;
    overflow: hidden;
    box-shadow: 0 0 20px 5px rgba($color: #000000, $alpha: 0.1);

    &.show {
        transform: translateY(25px);
        opacity: 1;
        pointer-events: visible;
        transition: 300ms ease-in;
    }

    .inner-wrapper {
        text-align: center;

        h5 {
            color: $l_green;
            font-size: 20px;
            font-weight: bolder;
        }
    }
}

.transaction_succesful.type-feed {
    opacity: 0;
    pointer-events: none;

    &.show {
        transform: translateY(25px);
        opacity: 1;
        pointer-events: visible;
        transition: 300ms ease-in;
    }
}

.inner-wrapper.type-2 {
    text-align: left;

    .form-group {
        button {
            display: block;
            width: 90%;
            max-width: 400px;
            margin: 0.5rem auto 0;
        }

        a {
            display: block;
            width: 80%;
            max-width: 300px;
            margin: 1rem auto 0;
            white-space: nowrap;
        }
    }

    .form-control {
        border: none;
        outline: none;
        box-shadow: none;
        background: #e0e0e0;
        padding: 15px 15px 0;
        border-radius: 15px;

        &::placeholder {
            opacity: 0.4;
        }
    }
}

.transaction_succesful.testmonials {
    opacity: 1;
    pointer-events: visible;

    &.show {
        transform: translateY(25px);
        opacity: 1;
        pointer-events: visible;
        transition: 300ms ease-in;
    }
}

.inner-wrapper.type-2.carousel {
    overflow: hidden;
}

.dashboard-location {
    line-height: 32px;

    img {
        width: 14px;
        height: auto;
    }
}

.dashboard-lltr {
    font-size: 12px !important;
    font-weight: bolder !important;
}

.img-dash {
    line-height: 25px;

    img {
        width: 12px;
    }
}

@media only screen and (min-width: 576px) {
    .trd-1635-links {
        img {
            width: 24px;
            height: 24px;
        }

        h6 {
            font-size: 12px;
        }
    }

    .trd-dss-304 {
        h4 {
            font-size: 25px;
        }

        p {
            font-size: 14px;

            span {
                margin-right: 10px;
            }

            img {
                width: 22px;
            }
        }
    }

    .trd-dss-404 {
        img {
            width: 65px;
        }
    }

    .notification-alert {
        width: 80%;
    }

    .trasnction-tabs {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }

    .trsct-table-header {
        width: initial;
    }

    .tabs-btn {
        font-size: 14px;
    }

    .ttrd-top-alert {
        .tab button {
            .tabs-payment {
                h4 {
                    font-size: 14px;
                }
                p {
                    font-size: 12px;

                    b {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .top-up-alert {
        width: 435px;
        height: 620px;
    }

    .purchase-alert {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .trd-pruchase-title {
        h5 {
            font-size: 22px;
        }
    }

    .trd-body-top {
        .trd-srd-1 {
            h4 {
                font-size: 18px;
            }

            h5 {
                font-size: 18px;

                img {
                    width: 18px;
                }
            }
        }
    }

    .trd-body-content {
        form {
            .form-group {
                .form-control {
                    padding-top: 1.5rem;
                    padding-bottom: 1.5rem;
                }

                p {
                    span {
                        font-size: 14px;
                        margin-right: 15px;
                        margin-bottom: 0.5rem;

                        &:last-of-type {
                            margin-right: 0;
                            color: $sec_color;
                        }
                    }
                }
            }

            .btn-sb-buy {
                font-size: 14px;
                padding: 1rem 1.5rem;
                text-transform: uppercase;
                width: 90%;
                margin: 0 auto 1rem;
                background: $l_green;
                color: #fff;
                transition: 200ms ease-in;
                border-radius: 30px;

                &:hover {
                    background: #fff;
                    color: $d_green;
                    box-shadow: 0 0 10px 5px rgba($color: #000000, $alpha: 0.1) !important;
                }
            }
        }
    }

    .payment-method-select {
        .select-items div,
        .select-selected {
            padding: 1rem 1.5rem;
        }
    }

    .transaction_succesful {
        width: 80%;
        top: 15%;
        left: 10%;

        .inner-wrapper {
            h5 {
                font-size: 24px;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .trd-1635-links {
        img {
            width: 26px;
            height: 26px;
        }

        h6 {
            font-size: 14px;
        }
    }

    .trd-dss-wrapper {
        padding: 1.5rem 1rem;
    }

    .trd-dss-304 {
        h4 {
            font-size: 34px;
        }

        p {
            font-size: 16px;

            img {
                width: 24px;
            }
        }
    }

    .trd-dss-404 {
        img {
            width: 70px;
        }
    }

    .notification-alert {
        width: 70%;
    }

    .ttrd-top-alert {
        .form-group {
            margin-bottom: 0.5rem;

            label {
                font-size: 14px;
                font: 700 14px $open;
                margin-bottom: 0.5rem;
            }

            .form-control {
                padding: 1rem 0;
                padding-left: 0.8rem;
            }
        }

        .btn-top-up {
            padding: 0.8rem;
            border-radius: 15px;
        }
    }

    .trd-pruchase-title {
        h5 {
            font-size: 28px;
        }
    }

    .trd-body-top {
        .trd-srd-1 {
            h4 {
                font-size: 18px;
            }

            h5 {
                font-size: 18px;

                img {
                    width: 18px;
                }
            }
        }
    }

    .trd-body-content {
        form {
            .form-group {
                .form-control {
                    padding-top: 1.5rem;
                    padding-bottom: 1.5rem;
                }

                p {
                    span {
                        font-size: 14px;
                        margin-right: 15px;
                        margin-bottom: 0.5rem;

                        &:last-of-type {
                            margin-right: 0;
                            color: $sec_color;
                        }
                    }
                }
            }

            .btn-sb-buy {
                font-size: 14px;
                padding: 1rem 1.5rem;
                text-transform: uppercase;
                width: 90%;
                margin: 0 auto 1rem;
                background: $l_green;
                color: #fff;
                transition: 200ms ease-in;
                border-radius: 30px;

                &:hover {
                    background: #fff;
                    color: $d_green;
                    box-shadow: 0 0 10px 5px rgba($color: #000000, $alpha: 0.1) !important;
                }
            }
        }
    }

    .payment-method-select {
        .select-items div,
        .select-selected {
            padding: 1rem 1.5rem;
        }
    }

    .referral-side {
        width: 50%;
    }

    .trd-referral-body {
        height: calc(100% - 250px);

        .body-wrap {
            h4 {
                font-size: 26px;
            }
        }

        .trd-referral-content {
            form {
                .form-group {
                    label {
                        font-size: 18px;
                    }

                    .form-control {
                        padding-top: 5rem;
                        padding-bottom: 5rem;
                        &::placeholder {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    .transaction_succesful {
        width: 615px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) !important;

        .inner-wrapper {
            h5 {
                font-size: 26px;
            }

            a {
                width: 50%;
                margin: 0 auto;
                margin-bottom: 1rem;
            }
        }
    }

    .purchase-alert.sales {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) !important;
    }
}

@media only screen and (min-width: 992px) {
    .trd-dss-wrapper {
        position: relative;
        height: 128px;

        .trds-pst {
            position: relative;
            z-index: 4;
        }

        &::after {
            content: "";
            width: 600px;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            z-index: 1;
            pointer-events: none;
            background: url(/images/406_Converted.svg) 55% repeat;
        }
    }

    .trd-act-wrapper {
        width: 95%;
        margin: 0 auto;
        margin-top: 2rem;
    }

    .trd-frm-435 {
        div {
            border-radius: 10px;
        }
    }

    .trd-dss-304 {
        h4 {
            font-size: 38px;
        }

        p {
            font-size: 18px;

            img {
                width: 24px;
            }
        }
    }

    .trd-dss-404 {
        img {
            width: 75px;
        }
    }

    .trd-dsh-scroll {
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
    }

    .trd-rrf-b-content {
        .ctr-xxd {
            font-size: 18px;
        }
    }

    .notification-alert {
        width: 50%;
    }

    .trd-noti-link {
        font-size: 12px !important;
    }

    .lg-visible {
        display: block;
        h6 {
            font-size: 12px;
        }
    }

    .purchase-alert {
        width: 80%;
    }

    .trd-pruchase-title {
        h5 {
            font-size: 28px;
        }
    }

    .trd-body-content {
        form {
            span {
                font-size: 20px;
                font-weight: lighter;
            }

            .form-group {
                label {
                    font-size: 18px;
                }

                .form-control {
                    min-height: 90px;

                    &::placeholder {
                        font-size: 16px;
                    }
                }

                p {
                    span {
                        font-size: 18px;
                    }
                }
            }

            .btn-sb-buy {
                width: 80%;
                margin: 0 auto;
                border-radius: 15px;
            }
        }
    }

    .trd-body-top {
        .trd-srd-1 {
            h4 {
                font-size: 22px;
            }

            h5 {
                font-size: 20px;

                img {
                    width: 20px;
                }
            }
        }
    }

    .payment-method-select {
        font-size: 18px;

        .select-items div,
        .select-selected {
            padding: 1.8rem 0.8rem;
        }
    }

    .referral-side {
        width: 580px;
        padding: 3rem;
    }

    .transaction_succesful {
        width: 900px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .inner-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 5rem;

            h5 {
                font-size: 28px;
                margin-bottom: 2rem;
            }

            a {
                width: 50%;
                margin: 0 auto;
                margin-bottom: 1rem;
            }
        }
    }

    .inner-wrapper.type-2 {
        h5 {
            width: 100%;
        }

        form {
            width: 100%;
        }
        .form-group {
            button {
                display: block;
                width: 90%;
                max-width: 400px;
                margin: 1rem auto 0;
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .navs {
        position: relative;
        z-index: 999999;
    }

    nav#nav-sm {
        display: none;
    }

    nav#nav-lg {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 200px;
        z-index: 23444444444;
    }

    .trd-nav-lg {
        width: 100%;
        height: 100%;
    }

    main {
        width: calc(100% - 200px);
        margin-left: auto;
        padding-left: 0.5rem;
    }

    .trd-nav-js43-top {
        background: #fff;
        width: 100%;
        height: 128px;
        margin-bottom: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    }

    .top-nav-img {
        width: fit-content;
        height: auto;

        img {
            width: 130px;
            height: auto;
        }
    }

    .trd-dss-wrapper {
        &::after {
            width: 800px;
        }
    }

    .trd-nav-js45-top {
        background: #00a605;
        width: 100%;
        height: calc(100% - 136px);
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

        .trd-navbar {
            background: inherit;
            margin-bottom: 0;
            padding-top: 0.5rem;
            position: relative;
            width: 100%;
            height: fit-content;
        }

        .trd-nav-item {
            border-bottom: 2px solid #0dbf13;

            &:last-of-type {
                border-bottom: 0;
            }
        }

        .trd-nav-link {
            display: block;
            width: 100%;
            height: 100%;
            color: #12d61a;
            transition: 200ms ease;
            font-size: 18px;
            text-transform: capitalize;
            padding: 1rem 0.4rem;

            &.active {
                color: #fff;
            }

            &:hover {
                color: #fff;
            }

            img {
                width: 20px;
                margin-right: 0.8rem;
            }
        }
    }

    .trd-dsh12-display {
        width: 33.33%;
        padding: 1rem;

        .trd-balance {
            margin-bottom: 0.5rem;
            h4 {
                font-size: 28px;

                sup {
                    top: 8px;
                }
            }
        }

        .trd-js-links {
            .img-wrapper {
                width: 15px;
                height: 15px;
                margin-right: 10px;
            }

            a {
                img {
                    width: 10px;
                }

                .w3-font {
                    font-size: 10px;
                }
            }
        }

        .trd-js202-links {
            .trd-js202-infos {
                h6 {
                    font-size: 12px;
                }

                &:first-of-type {
                    margin-right: 0.2rem;
                    padding-right: 0.2rem;
                }
            }
        }

        .trd-js204-links {
            .trd-progress-bar {
                height: 30px;
            }

            .trd-progess-ivl {
                font-size: 13px;
                line-height: 2;
            }
        }

        .cn-trd {
            font-size: 18px;
        }
    }

    .trd-comp {
        display: none;
    }

    .trd-frmshop-inner {
        margin-top: 0rem;
        padding: 1rem;
        box-shadow: 0 0 10px 5px rgba($color: #000000, $alpha: 0.1);
    }

    .trd-frm-435.xxl {
        display: none;
    }

    .trd-rrf-inner.xl {
        display: block;
    }

    .trd-rrf-inner.sm {
        display: none;
    }

    .farm-sec1.xxlg .farm-img {
        display: none;
    }

    .trd-xl-hidden {
        display: none;
    }

    .trd-sm-hidden {
        display: none;
    }

    .trd-rrf-b-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        .trd-rrf-b-img {
            margin-bottom: 2rem;
        }
    }

    .trd-rrf-43r {
        margin-bottom: 0rem !important;
    }

    .content-4243 {
        width: 100%;
    }

    .notification-alert {
        width: 680px;
    }

    .farmhead-txt-wrapper a {
        display: none;
    }

    .trd-invs-wrapper {
        background: #fff;
    }

    .circle-progress {
        .percentage {
            width: 100px;
            height: 100px;
            top: 47.5%;
            line-height: 5;
        }
    }

    .farmshop-header.investment {
        background: #fff;
    }

    .farmshop-dash.inv-section-xl {
        justify-content: flex-start;
        align-items: center;
        margin-left: 0;
        margin-bottom: 1.5rem;
        padding: 0 1.6rem;
    }

    .trd-invs-top {
        background: #fff;

        .topinvestments {
            background: url("/images/trado icon-5.png") 115% no-repeat;
            background-size: 550px 550px;
            background-color: #ff9926;
            border-radius: 20px;
            display: flex;
            width: 96%;
            margin: 0 auto;
            justify-content: space-between;
            align-items: center;
            position: relative;

            .bg-trand {
                display: none;
                position: absolute;
                top: 0;
                right: 0;
                z-index: 1000;
                width: 50%;
                height: 100%;
                background: url("/images/trado_icon_reformed.png") no-repeat
                    center center/cover;
            }

            .ttp-investments {
                position: relative;
                z-index: 5;
            }

            .inv-chart {
                position: relative;
                z-index: 5;
            }
        }
    }

    .top-up-alert {
        top: 15%;
        left: 19%;
    }

    .chart-box {
        a {
            width: 70%;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .purchase-alert {
        width: 70%;
        top: 55%;
        left: 55%;
    }

    .purchase-alert.sales {
        left: 50%;
        width: 50%;
        padding: 2.5rem 4rem;
    }
}

@media only screen and (min-width: 1500px) {
    nav#nav-lg {
        width: 250px;
    }

    main {
        width: calc(100% - 250px);
    }

    .trd-comp {
        display: block;
    }

    .trd-dsh12-display {
        .trd-js-links {
            .img-wrapper {
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }

            a {
                img {
                    width: 15px;
                }

                .w3-font {
                    font-size: 16px;
                }
            }
        }

        .trd-js202-links {
            .trd-js202-infos {
                h6 {
                    font-size: 20px;
                }

                &:first-of-type {
                    margin-right: 0.5rem;
                    padding-right: 0.5rem;
                }

                p {
                    font-size: 12px;
                }
            }
        }

        .trd-js204-links {
            .trd-progress-bar {
                height: 30px;
            }

            .trd-progess-ivl {
                font-size: 13px;
            }
        }

        .cn-trd {
            font-size: 12px;
        }
    }

    .farm-sec1.xxlg .farm-img {
        display: block;
    }

    .trd-rrf-b-content {
        flex-direction: row;

        .ctr-xxd {
            font-size: 12px;
        }
    }

    .trd-rrf-b-img {
        img {
            width: 90px;
        }
    }

    .trd-frmshop-inner {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}
