// Colors
$d_green: #006203;
$l_green: #00cc06;
$sec_color: #ff8902;
$robo: 'Roboto', sans-serif;
$open: 'Open Sans', sans-serif;

// Utilities
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
    overflow-x: hidden;
    background: #fff;
}

a{
    text-decoration: none;
}

.link-in{
    color: $sec_color;
    position: relative;

    &::after{
        content: '';
        background: $l_green;
        height: 5px;
        opacity: 0.1;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }

    &:hover{
        text-decoration: none;
        color: $sec_color;
    }
}

// Page Style
main{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.image-intro-container{
    display: none;
}

.trd-1112{
    height: 70vh;
    background-color: $d_green;
    position: relative;
}

.trd-1112-wrapper{
    margin-bottom: 5rem;
}

.trd-1112-bg{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background: $d_green;
    pointer-events: none;
    user-select: none;

    &::before{
        content: "";
        position: absolute;
        width: 110%;
        height: 105%;
        top: 0;
        left: -7%;
        right: 0;
        bottom: 0;
        z-index: 0;
        background: url("/img/406_Converted.svg") 0 0 repeat;
        transform: rotate(-8deg);
    }
}

.trd-xvz{
    position: relative;
    z-index: 1;
}

.trd-1112-top{
    width: 100%;
    height: max-content;

    .top-img{
        width: max-content;
        height: 110px;
        margin: 0 auto;
    }

    img{
        width: 150px;
        height: auto;
    }
}

.trd-1112-form{
    background: #fff;
    border-radius: 1rem;
    padding: 2rem 1.5rem;
    box-shadow: 0px 0px 16px 2px rgba($color: #000000, $alpha: 0.1);

    .header{
        text-align: center;
        width: 80%;
        margin: 0 auto;

        h5{
            font: 600 24px $robo;
            margin-bottom: 0;
        }
        
        p{
            font-size: 12px;
            font-family: $open;
            padding-left: 1rem ;
            padding-right: 1rem ;
        }
    }

}

.sign_up_form{
    display: block;

    .form-dropdown{
        position: relative;
        
        .form-control{
            padding-left: 2.5rem;
        }
    }

    .country-drop{
        width: 45px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 9999999999;
    }

    .voidapt{
    display: none; 
    }

    #a{
        padding-left: 0px;
    }

    #a img, .btn-select img{
        width: 20px;
    }

    #a li{
        height: 35px;
        padding-top: 5px;
        padding-bottom: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #a li:hover{
        background-color: #F4F3F3;
    }

    .b{
        display: none;
        background: #fff;
        width: 100%;
        max-width: 350px;
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
        border-radius: 5px;
        position: relative;
        z-index: 9999999999;
    }

    .open{
    display: show !important;
    }

    .btn-select{
        border: none;
        outline: none;
        background: transparent;
        width: 100%;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn-select li{
    list-style: none;
    float: left;
    padding-bottom: 0px;
    }

    .btn-select:hover li{
    margin-left: 0px;
    }

    .btn-select:focus{
        outline:none;
        border: none;
    }

    .form-group{
        margin-bottom: 0.5rem;
        position: relative;

        label{
            font: 400 12px $open;
            margin-bottom: 0.2rem;
        }
    }

    .form-control{
        border: none;
        outline: none;
        box-shadow: none;
        background: #f5f5f5;
        padding-left: 18px;
        padding-bottom: 10px;
        border-radius: 0.8rem;

        &::placeholder{
            font-size: 10px;
            opacity: 0.3;
        }
    }

    .svx-pass-icon{
        position: absolute;
        width: 30px;
        height: 30px;
        bottom: 0;
        right: 10px;
        opacity: 1;

        img{
            cursor: pointer;
            width: 20px;
            position: absolute;
        }
    }

    .form-check{
        margin-bottom: 0.8rem;
    }

    .form-check-label{
        font-size: 12px;
        opacity: 0.8;
    }

    .sin_alt{
        text-align: center;
        font-size: 12px;
    }
}

.trado-pri-btn{
    width: 100%;
    background: $l_green;
    color: #fff;
    border-radius: 0.8rem;
    line-height: 2.3;
    transition: 200ms ease;
    margin-bottom: 1rem;

    &:hover{
        background: #fff;
        color: $l_green;
        box-shadow: 0px 0px 16px 2px rgba($color: #000000, $alpha: 0.2);
    }
}

.trd-js32{
    position: relative;
    display: block;
    padding: 5rem 2.5rem;

    img{
        width: 100%;
        height: auto;
    }

    .top-brand{
        width: 200px;
        margin-bottom: 2rem;
    }

    .top{
        width: 80%;
        margin-right: auto;
        .header{
            h5{
                font: 700 48px $robo;
            }

            p{
                font-size: 20px;
                opacity: 0.8;
            }
        }
    }
}

.trd-js434{
    width: 75%;
}

.trd-js-lg{
    width: 100% !important;
    margin-bottom: 0.8rem !important;
}

text-opacity{
    opacity: 0.7;
}

.trado-w-js0453{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trad-h-100{
    height: 45px !important;
}

@media (min-width: 576px){
    .trd-1112-bg{
        left: -50%;
        right: -50%;
    }

    .trd-1112-top{
        margin-bottom: 1rem;
        img{
            width: 170px;
        }
    }

    .trd-1112-form{
        .header{
            h5{
                font-size: 26px;
            }
        }

    }

    .sign_up_form{
        .form-group{
            label{
                font-size: 14px;
            }
        }

        .form-control{
            &::placeholder{
                font-size: 12px;
            }
        }

         .form-check-label{
            font-size: 14px;
        }

        .sin_alt{
            font-size: 14px;
        }
    }
}
@media(min-width: 768px){
    .trd-1112-form{
        .header{           
            p{
                font-size: 14px;
            }
        }
    }       
}       
@media(min-width: 992px){
    .image-intro-container{
        display: block;
    }

    main{
        .wrapper{
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: center;
            align-items: center;
        }
    }

    .trd-1112{
        height: 100vh;
        width: 100%;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .trd-js434-top{
        margin-top: 4rem;
    }

    .trd-1112-top{
        display: none;
    }

    .h-max-content{
        height: 100%;
        background: $d_green;
    }

    .trd-1112-form{
        display: flex;
        justify-content: center;
        align-items: center;

        .header{
            display: none;
        }

        .sign_up_form {
            width: 100%;
        }
    }

    .trd-1112-wrapper{
        margin-bottom: 0;
        width: 95%;
        height: 75%;
    }

    .trd-1112-bg{
        left: 0;
        right: 0;
    }

    .trado-pri-btn{     
        line-height:  3;
    }

    .tr-pd{
        padding: 3rem;
    }

    .trd-xvz{
        height: 100%;
        margin: auto;
    }
    

    .trad-h-100{
        height: 55px !important;
    }
}
@media(min-width: 1200px){
     .sign_up_form{
        .form-group{
            margin-bottom: 1rem;

            label{
                font-size: 17px;
            }
        }
    }

    .bottom-icon{
        bottom: 8px !important;
    }

    .trd-1112-form{
        padding: 7rem 3rem;
    }

    .tr-pd{
        padding: 7rem 4rem;
    }

    .text-uppercase{
        text-transform: uppercase;
    }

    .width-ex{
        width: 80%;
        margin: 0 auto 1rem;
    }

    .trd-js434{
    width: 60%;
}

    .trad-js-734{
        margin-bottom: 2.5rem !important;

        label{
            font-size: 28px !important;
        }

         input::placeholder{
                font-size: 16px !important;
            }
        .form-control{
            height: 55px;           
        }
    }

     .trad-h-100{
        height: 68px !important;
    }
    
}
@media(min-width: 1600px){
    .container{
        width: 100%;
    }

    .trd-js434{
        width: 55%;
    }

    .trd-js434{
        width: 70%;
    }

    .trd-js32{
        padding-left: 6rem;
    }

     .tr-pd{
        padding: 7rem;
    }
}