
.aboutUs-bg{
    padding: 70px 0px;
    background-image: url("../images/jan-kopriva-LTMaAwxanGk-unsplash.svg");
    background-position: center;
    background-size: cover;
    position: relative;
}
.about-cover{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #001c00ba;
}
.abtUs-heading{
    color: white;
    font-weight: bold;
    font-size: 47px;
    text-align: center;
    position: relative;
    z-index: 5;
}
.trado-wrapper{
    width: 90%;
    margin: auto;
    padding: 140px 0px 133px 0px;
}
.abt-H2{
    font-size: 39px;
    color: #006203eb;
    font-weight: 700;
    line-height: 1.1;
}
.abt-p{
    font-size: 19px;
    line-height: 1.3;
    font-weight: 400;
    width: 86%;
    margin-top: 20px;
}
.okro-pep{
    position: relative;
}
.pepper-bg{
    width: 380px;
    margin-left: auto;
    border: 5px solid white;
    box-shadow: 0px 0px 10px #eaeab3;
    position: absolute;
    top: -75px;
    right: 0;
}
#pep-img{
    background-image: url('../images/EjChcNoXgAMhqW9.jpeg');
}
.pepper-img{
    background-size: cover;
    background-position: center;
    height: 342px;
}
#okro-bg{
    background-image: url("../images/EbFCHPOXgAA17S0.jpeg");
    background-size: cover;
    background-position: center;
    height: 342px;
}
.okro-img{
    width: 380px;
    border: 5px solid white;
    box-shadow: 0px 0px 10px #eaeab3;
    position: absolute;
    top: 94px;
}
.mission-wrapper{
    background: #f5fff5;
    position: relative;
    padding: 40px 0px!important;
}
#mission-head{
    color: #006203;
}
.target-wrapper{
    width: 100%;
    text-align: center;
    margin-bottom: 14px;
}
.target-img{
    height: 75px;
    background: #e1ffe1;
    width: 75px;
    margin: auto;
    border-radius: 100%;
    position: relative;
}
.mission-wrap{
    width: 90%;
    margin: auto;
    width: 711px;
}

.target{
    width: 36px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#abt-p{
    width: 100% !important;
    text-align: center!important;
}
.teamImg-bg{

}
.team-img{
    width: 100%;
    height: auto;
}
/*.team-img{*/
/*    background-image: url('../images/OUR TEAM.svg');*/
/*    background-position: center;*/
/*    background-size: cover;*/
/*    height: 400px;*/
/*}*/
.ourTeam-container{
    background:#006203;
}
.Companywrapper{
    width: 90%;
    margin: auto;
    padding: 80px 0px 40px 0px;
}
.ourTeam-wrapper{
    padding: 50px 0px;
    background-image: url('../images/background1.svg');
    background-size: cover;
    background-position: center;
}
.teamBg-box{
    border-radius: 7px;
    height: 183px;
    width: 188px;
    border: 5px solid white;
    margin: auto;
    position: relative;
}
.team-txt{
    padding: 20px 30px 30px 60px;
}
.teamBg-img{
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
}
.team-profiles{
    width: 90%;
    margin: auto;
}
.team-profile{
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
}
#t-bg1{
    background-image: url('../images/IMG-20200807-WA0006.jpg');
}
#t-bg2{
    background-image: url('../images/IMG-20200807-WA0013.jpg');
}
.team-h3{
    font-size: 32px;
    color: white;
}
.team-name{
    color: white;
    font-size: 19px;
    font-weight: unset;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 0;
}
.team-title{
    text-align: center;
    color: white;
    font-weight: 100;
    font-size: 20px;
    margin-top: 2px;
}
.team-line{
    position: absolute;
    bottom: -5px;
    left: -4px;
    right: -5px;
    height: 6px;
    background: #ffa33b;
}

.unique-bg{
    width: 360px;
    margin-left: auto;
    border: 5px solid white;
    box-shadow: 0px 0px 10px #eaeab3;

}
.unique-img1{
    background-image: url('../images/EZwqF6dXgAE0dbP.jpeg');
    background-size: cover;
    /*background-position: center;*/
    height: 318px;
}
.unique-img2{
    background-image: url('../images/EiB55GJX0AE8twh.jpeg');
    background-size: cover;
    /*background-position: center;*/
    height: 318px;
}
#unique-bg1{
    position: absolute;
    top: -76px;
    left: -62px;
}
#unique-bg2{
    position: absolute;
    top: 189px;
    right: -44px;
}
.uniqueImg-wrapper{
    position: relative;
}
.unique-wrapper{
    width: 86%;
    margin: auto;
}
.uniqueTxt-box{
    display: flex;
}
.uniqueTxt-box img{
    width: 24px;
}
.unique-p{
    margin-left: 20px;
    margin-bottom: 6px;
}
.uniqueTxt-wrapper{
    position: relative;
}
.unique-h2{
    font-size: 53px;
    font-weight: 700;
    color: #006203;
}
.unique-p{
    font-size: 18px;
}
.Utxt{
    width: 561px;
}
.image-wrapper{
    height: 900px;
    background: #006203;
    margin-top: 172px;
    position: relative;
}
.image-container{
    padding: 50px 0px;
    background-image: url('../images/background1.svg');
    background-size: cover;
    background-position: center;
    height: 100%;
    position: relative;
}
.image-border{
    border: 5px solid white;
    box-shadow: 0px 0px 3px #eaeab3;
}

.image-box1 {

}
#img-container1{
    width: 535px;
    height: 527px;
    overflow: hidden;
    position: absolute;
    top: -148px;
    left: 0;
}

#img-container2{
    width: 432px;
    height: 492px;
    overflow: hidden;
    position: absolute;
    top: 249px;
    left: 52px;
}
.image-box3{
    width: 500px;
    height: 482px;
    overflow: hidden;
    position: absolute;
    left: -81px;
}
.image-box3 img{
    width: 100%;
    height: 100%;
}
.image-a{
    background: #00cc06;
    border: none;
    font-size: 23px;
    width: 418px;
    padding: 20px;
    border-radius: 9px;
    color: white;
    font-weight: 400;
    position: absolute;
    top: 609px;
    right: 109px;
}

.image-a a{
    color: white;
}

.phone-img{
    width: 842px;
    position: absolute;
    top: -215px;
    right: -205px;
}
.phone-png{
    display: flex;
    margin: 60px 0px;
}
.phone-png img{
    width: 230px;

}
.phone-wrapper{
    padding: 70px 0px 0px 0px !important;
}
@media only screen and (max-width: 1200px){
    .okro-img {
        width: 330px;
        top: 64px;
        right: 95px;
    }
    #okro-bg {
        height: 311px;
    }
    .pepper-bg {
        width: 330px;
        top: -51px;
    }
    .pepper-img {
        height: 311px;
    }
    .trado-wrapper {
        width: 94%;
        padding: 140px 0px 100px 0px;
    }
    .abt-H2 {
        font-size: 36px;
    }
    .unique-bg {
        width: 311px
    }
    .unique-img1 {
        height: 289px;
    }
    .unique-img2 {
        height: 289px;

    }
    #unique-bg2 {
        right: -11px;
        top: 122px;
    }
    #img-container1 {
        width: 496px;
        height: 520px;
        top: -148px;
        left: 0;
    }
    #img-container2 {
         width: 382px;
         height: 440px;
         overflow: hidden;
         position: absolute;
         top: 249px;
         left: 52px;
    }
    .image-box3 {
        width: 419px;
        height: 421px;
        overflow: hidden;
        position: absolute;
        left: 0;
    }
    .image-a {
        width: 340px;
        top: 537px;
        right: 20px;
    }
}
@media only screen and (max-width: 1060px){
    .pepper-bg {
        width: 300px;
    }
    .pepper-img {
        height: 284px;
    }
    .okro-img {
        width: 300px;
    }
    #okro-bg {
        height: 284px;
    }
    .abt-H2 {
        font-size: 31px;
    }
    .abt-p {
        font-size: 16px;
        line-height: 1.4;
        width: 92%;
    }
    .uniqueTxt-wrapper {
        width: 91%;
    }
    .trado-wrapper {
        width: 94%;
        padding: 140px 0px 125px 0px;
    }
    .unique-wrapper{
        width: 94%;
        padding: 140px 0px 200px 0px;
        position: relative;
    }
    .unique-bg {
        width: 258px;
    }
    #unique-bg1 {
        left: -67px;
    }
    .unique-h2 {
        font-size: 45px;
    }
    .unique-p {
        margin-left: 20px;
        margin-bottom: 6px;
        font-size: 15px;
    }
    .unique-img1 {
        height: 268px;
    }
    .unique-bg {
        width: 271px;
    }
    #unique-bg2 {
        top: 97px;
    }
    #unique-bg2 {
        top: 114px;
        right: 30px;
    }
    .phone-png {
        display: flex;
        margin: 45px 0px;
    }
    .phone-img {
        width: 804px;
    }
    #img-container1 {
        width: 460px;
        height: 500px;
        top: -148px;
    }
    #img-container2 {
        width: 341px;
        height: 397px;
        top: 249px;
        left: 52px;
    }
    .image-box3 {
        width: 411px;
        height: 402px;
        left: -33px;
        top: 28px;
    }
    .image-a {
        top: 510px;
        right: 67px;
    }
}
@media only screen and (max-width: 999px){
    .okro-pep {
        display: none;
    }
    .trado-wrapper {
        width: 94%;
        padding: 58px 0px 30px 0px;
    }
    .abt-H2 {
        font-size: 30px;
    }
    .abt-p {
        font-size: 16px;
        width: 100%;
    }
    .unique-wrapper{
        height: 780px;
        position: relative;
        width: 90%;
    }
    #unique-bg1 {
        left: 5px;
        top: 38px;
    }
    #unique-bg2 {
        top: 200px;
        right: 450px;
    }
    .Utxt {
         width: 100%;
    }
    .phone-png img {
        width: 203px;
    }
    .phone-img {
        width: 757px;
        top: -199px;
    }
    #img-container1 {
        width: 420px;
        height: 463px;
        top: -148px;
    }
    #img-container2 {
        width: 324px;
        height: 397px;
        top: 213px;
        left: 45px;
    }
    .image-box3 {
        width: 385px;
        height: 365px;
        left: -28px;
        top: 28px;
    }
    .image-a {
        top: 469px;
        right: 59px;
        font-size: 20px;
        width: 287px;
    }
}
@media only screen and (max-width: 900px){
    .unique-wrapper {
        height: 700px;
        position: relative;
        width: 90%;
        padding: 0px 0px 0px 0px;
    }
    #img-container1 {
        width: 465px;
        height: 533px;
        top: 0;
        bottom: 0;
    }
    #img-container2 {
        width: 324px;
        height: 397px;
        top: 378px;
        left: -16px;
    }
    .image-box3 {
        width: 319px;
        height: 285px;
        left: -60%;
        top: 62%;
    }
    .image-a {
        top: 111%;
        right: 82%;
        font-size: 20px;
        width: 287px;
    }
}
@media only screen and (max-width: 880px){
    #unique-bg2 {
        top: 200px;
        right: 400px;
    }
    .unique-img2 {
        height: 260px;
    }
    .unique-img1 {
        height: 260px;
    }
    .phone-img {
        width: 704px;
        top: -169px;
    }
    #img-container1 {
        width: 422px;
        height: 469px;
        top: 0;
        bottom: 0;
        left: 22%;
    }
    #img-container2 {
        width: 306px;
        height: 375px;
        top: 49%;
        left: 8%;
    }
    .image-box3 {
        width: 256px;
        height: 250px;
        top: 62%;
        left: -47%;
    }
}
@media only screen and (max-width: 777px){
    .abt-H2 {
        font-size: 29px;
    }
    .abt-p {
        font-size: 13px;
    }
    .ourTeam-container{
        display: none;
    }
    #unique-bg2 {
        top: 200px;
        right: 260px;
    }
    .abtUs-heading {
        font-size: 41px;
    }
    .target-img {
        margin-left: 16px;
    }
    .unique-h2 {
        font-size: 41px;
    }
    .phone-img {
        width: 621px;
        top: -188px;
        right: -166px;
    }
    .phoneImg-wrapper{
        height: 389px;
    }
    #img-container1 {
        width: 373px;
        height: 445px;
        left: 15%;
    }
    #img-container2 {
        width: 285px;
        height: 338px;
        top: 47%;
        left: 8%;
    }

    .image-box3 {
        width: 208px;
        height: 224px;
        top: 58%;
        /* right: 22%; */
        left: -45%;
    }

    .image-a {
        top: 103%;
        right: 87%;
        font-size: 20px;
        width: 287px;
    }
}
@media only screen and (max-width: 767px){
    .phone-img {
        width: 621px;
        top: -188px;
        right: 93px;
    }
    .image-a {
        top: 98%;
        right: 37%;
        font-size: 20px;
        width: 287px;
    }
    #img-container2 {
        width: 285px;
        height: 338px;
        top: 77%;
        left: 9%;
    }
    .image-box3 {
        width: 208px;
        height: 224px;
        top: 0%;
        left: 46%;
    }
}
@media only screen and (max-width: 677px){
    .unique-img1 {
        height: 260px;
    }
    #unique-bg2 {
        top: 191px;
        right: 195px;
    }
    .phone-png img {
        width: 192px;
    }

    #img-container1 {
        width: 376px;
        height: 414px;
        top: 0;
        bottom: 0;
        left: 10%;
    }
    .image-box3 {
        width: 230px;
        height: 227px;
        left: 44%;
        top: -6%;
    }
    .image-a {
        top: 97%;
        right: 35%;
    }

}
@media only screen and (max-width: 600px){
    #abt-p{
        width: 96% !important;
        text-align: left !important;
    }
    .mission-head{
        font-size: 32px!important;
    }
    .mission-wrap {
        margin: auto 0px auto 11px;
        width: 711px;
    }
    #mission-head {
        color: #006203;
        text-align: left !important;
        font-size: 35px!important;
    }
    .trado-wrapper {
        width: 100%;
    }
    .unique-wrapper {
        width: 94%;
    }
    .unique-img1 {
        height: 250px;
    }
    .unique-bg {
        width: 246px;
    }
    .unique-img2 {
        height: 250px;
    }
    #unique-bg2 {
        top: 181px;
    }
    .unique-h2 {
        font-size: 23px;
    }
    .unique-p {
        margin-left: 13px;
        margin-bottom: 0px;
        font-size: 15px;
    }
    .phone-img {
        width: 608px;
        top: -188px;
        right: 35px;
    }
    #img-container1 {
        width: 336px;
        height: 414px;
        top: 0;
        bottom: 0;
        /* right: 237px; */
    }
    #img-container2 {
        width: 267px;
        height: 314px;
        top: 81%;
        left: 2%;
    }
    .image-box3 {
        width: 202px;
        height: 227px;
        left: 44%;
        top: -6%;
    }
}
@media only screen and (max-width: 560px){
    .unique-bg {
        width: 225px;
    }
    #unique-bg2 {
        top: 147px;
    }
    .unique-img1 {
        height: 240px;
    }
    .unique-img2 {
        height: 240px;
    }
    .phoneImg-wrapper {
        height: 355px;
    }
    .phone-img {
        width: 578px;
        top: -188px;
        right: 6px;
    }
}
@media only screen and (max-width: 500px){
    .abt-H2 {
        font-size: 30px;
    }
    .abt-p {
        font-size: 16px;
        width: 100%;
    }
    .unique-bg {
        width: 192px;
    }
    .unique-img1 {
        height: 215px;
    }
    .unique-img2 {
        height: 215px;
    }
    .unique-wrapper {
        width: 90%;
    }
    .phone-png {
        display: flex;
        margin: 30px auto;
    }
    .phone-png img {
        width: 154px;
    }
    .phone-img {
        width: 396px;
        top: -170px;
        right: 0px;
    }
    .phoneImg-wrapper {
        height: 209px;
    }
    #img-container1 {
        width: 270px;
        height: 390px;
        top: 0;
        bottom: 0;
    }
    .image-box3 {
        width: 161px;
        height: 167px;
        left: 44%;
        top: 1%;
    }
    #img-container2 {
        width: 215px;
        height: 259px;
        top: 81%;
        left: 4%;
    }
    .image-a {
        top: 72%;
        right: 24%;
    }
}
@media only screen and (max-width: 400px){
    .trado-wrapper {
        width: 100%;
        padding: 35px 0px 30px 0px;
    }
    .abt-H2 {
        font-size: 21px;
    }
    .unique-bg {
        width: 221px;
    }
    .unique-img1 {
        height: 241px;
    }
    .unique-img2 {
        height: 241px;
    }
    #unique-bg2 {
        top: 191px;
        right: 22px;
    }
    .unique-wrapper {
        width: 90%;
    }
    .image-box3 {
        width: 152px;
        height: 157px;
        left: 55%;
        top: 1%;
    }
    #img-container2 {
        width: 215px;
        height: 259px;
        top: 83%;
        left: 2%;
    }
    .image-a {
        top: 67%;
        right: 13%;
        font-size: 15px;
        width: 249px;
    }
    .image-container {
        padding: 126px 0px 0px 0px;
    }
}
