.blogWrapper{
    background: #006203;
    padding: 50px 0px;
}
.blog-heading{
    color: white;
    font-weight: bold;
    font-size: 47px;
    text-align: center;
}
#blog-container{
    position: relative;
}
.b-learnmore{
    width: fit-content;
    position: relative;
}
.blogCard-wrapper{
    width: 90%;
    margin: auto;
}
.blog-cardBody{
    padding-left: 0 !important;
    width: 83%;
}
.b-learnmore a{
    color: #ff9214 !important;
    font-size: 20px;
    padding: 0;
}
.blog-line{
    border-bottom: 6px solid #e5ede5c4;
    position: absolute;
    bottom: 6px;
    width: 119px;
}
.blog-i{
    background-image: url('../images/LTAB2.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.blogcrd-img{
    height: 221px;
    border: 1px solid black;
    border-radius: 5px;
}
.blog-cardtext{
    font-size: 17px !important;
    line-height: 1.4 !important;

}
.blog-card{
    width: fit-content !important;
    border: none;
    box-shadow: none;
    background: white;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 10px;
}
.blogcrd{
    border: 1px solid #f5fff5;
    width: 270px;
    border-radius: 10px;
    overflow: hidden;
}
@media only screen and (max-width: 500px) {
    #b-card1{
        margin-top: -36px !important;
        background: transparent !important;
    }
    .blog-cardBody {
        padding-right: 0!important;
    }
    .blogCard-wrapper {
        width: 94%;
    }
}
