.contact-wrapper{
    background: #006203;
}
.contact-width{
    width: 90%;
    margin: auto !important;
}
.contact-head{

    padding: 60px 0px;
    color: white;
}
.contact-h2{
    font-size: 59px;
    font-weight: 600;
    line-height: .9;
}
.contact-p{
    font-size: 16px;
    margin-top: 25px;
}
.contact-image{
    width: 92%;
    margin-top: 20px;
}
.contactForm-wrapper{
    padding: 61px 45px;
    border-radius: 7px;
    box-shadow: 0px 0px 11px #e9ecef;
    position: absolute;
    left: 33px;
    right: 0;
    top: -149px;
    background: white;
}
.contactForm-wrapper .form-group label{
    font-size: 19px;
    font-weight: 500;
    color: #3d3d3d;
    margin-left: 10px;
    margin-bottom: 11px;
}
.contactForm-wrapper .form-group .form-control{
    height: 70px;
    padding: 0px 30px;
    border-radius: 8px;
    background: whitesmoke;
    border: none;
}
.contactForm-wrapper .form-group textarea{
    width: 100%;
    background: whitesmoke;
    border: none;
    border-radius: 8px;
    padding: 24px 30px;
    min-height: 270px;
}
.contact-btn{
    font-size: 25px;
    height: 80px;
    background: #00cc06;
    border: transparent;
    border-radius: 8px;
}
.contact-btn:hover{
    box-shadow: 0px 0px 11px #e9ecef;
    background: white;
    color: #00cc06;
    border: transparent;
}
#contact-wrapper{
    position: relative;
    margin-bottom: 170px !important;
}
.contactForm-wrapper .form-group textareacolor::placeholder{
    color: #dfdfdf;
}
.contact-map{
    background-image: url("../images/map.png");
    background-position: center;
    background-size: cover;
    position: relative;
}
.contact-container{

}
.contact-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to right, #f5fff5 , #f5fff5 , #f5fff5 , #f5fff5eb,  #ffffff0d,  #ffffff0d);
}
.map-text-wrapper {
    display: flex;
    width: 42%;
}
.map-location {
    font-weight: 700;
    color: #3d3d3d;
    line-height: 1.3;
}
.map-icon {
    width: 39px;
}
.m-txt-wrapper {
    margin-left: 20px;
}
.map-phone-icon{
    display: flex;
    width: 31px;
    margin: 12px 0px;
}
.m-phone-numb{
    font-size: 21px;
    font-weight: 400;
    margin-left: 5px;
    color: #495057;
}
.map-info-wrapper {
    padding: 70px 0px;
    position: relative;
}
.click-me-p {
    font-size: 18px;
    margin-top: 50px;
    color: #495057;
}
.click-me-link{
    color: #ff8902;
    font-size: 19px;
    font-weight: 600;
    position: relative;
    padding: 0px 5px;
}
.click-me-link:hover{
    color: #ff8902;
    text-decoration: none;
}
.click-me-line{
    position: absolute;
    height: 9px;
    background: #dcebdbab;
    bottom: 0;
    left: 3px;
    right: 0px;
}
.click-me-line:hover{
    left: -1px;
}
@media only screen and (max-width: 1200px){
    .contact-p {
        font-size: 14px;
        margin-top: 25px;
    }
    .contact-h2 {
        font-size: 53px;
        font-weight: 600;
        line-height: .9;
    }
    .contactForm-wrapper {
        padding: 50px 40px;
    }
    .contactForm-wrapper .form-group .form-control {
        height: 62px;
    }
    .contactForm-wrapper .form-group textarea {
        min-height: 215px;
    }
    .contact-btn {
        font-size: 25px;
        height: 72px;
    }
    .map-text-wrapper {
        width: 51%;
    }
}
@media only screen and (max-width: 997px){
    .contact-width {
        width: 95%;
        margin: auto !important;
    }
    .contactForm-wrapper {
        padding: 33px 27px;
        top: -114px
    }
    .form-control {
        height: 56px;
    }
    .contactForm-wrapper .form-group label {
        font-size: 18px;
        margin-left: 11px;
        margin-bottom: 4px;
    }
    .contactForm-wrapper .form-group textarea {
        min-height: 187px;
    }
    .contact-btn {
        font-size: 23px;
        height: 67px;
    }
    .contact-h2 {
        font-size: 44px;
    }
    .contact-image {
        width: 90%;
        margin-top: 20px;
    }
    .contact-p {
        font-size: 14px;
        margin-top: 23px;
    }
    .map-text-wrapper {
        width: 59%;
    }
}
@media only screen and (max-width: 777px){
    .contact-h2 {
        font-size: 42px;
    }
    .contact-width {
        width: 95%;
    }
    .contact-map-container {
        height: 420px;
        position: relative;
    }
    .contact-map {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 300px;
    }
    .contact-overlay{
        display: none;
    }
    .map-info-wrapper {
        padding: 0px 0px 0px 38px;
        position: absolute;
        bottom: 313px;
    }
    .map-text-wrapper {
        width: 100%;
    }
    .click-me-p {
        margin-top: 15px;
    }
    .click-me-p {
        margin-left: -55px;
    }
    .m-phone-wrapper{
        margin-left: -53px;
        margin-right: 26px;
    }
}
@media only screen and (max-width: 767px){
    .contact-image {
         display: none;
    }
    .contact-head {
        padding: 40px 0px 82px 0px;
    }
    .contact-h2 {
        font-size: 36px;
    }
    .contactForm-wrapper {
        padding: 33px 27px;
        top: -316px;
    }
}
@media only screen and (max-width: 767px){
    .contactForm-wrapper {
        padding: 30px 21px;
        top: -316px;
        border-radius: 15px;
    }
    .contactForm-wrapper .form-group label {
        font-size: 16px;
    }
    .contactForm-wrapper .form-group .form-control {
        height: 50px;
        border-radius: 15px;
    }
    .contactForm-wrapper .form-group textarea {
        min-height: 177px;
        border-radius: 15px;
    }
    .contact-btn {
        font-size: 20px;
        border-radius: 15px;
        height: 58px;
    }
    #contact-wrapper{
        height: 475px;
    }
}
@media only screen and (max-width: 600px){
    .contact-map {
        height: 240px;
    }
    .map-icon {
        width: 32px;
    }
    .map-location {
        font-size: 20px;
    }
}

@media only screen and (max-width: 550px) {
    .contactForm-wrapper {
        right: 0;
        left: 0;
    }
    .contact-h2 {
        font-size: 31px;
        line-height: .8;
    }
    .contact-p {
        font-size: 14px;
        margin-top: 9px;
        line-height: 1.3;
    }
}
@media only screen and (max-width: 500px){
    .contactForm-wrapper {
        top: -213px;
    }
    #contact-wrapper {
        height: 300px;
    }
    .map-info-wrapper {
        padding: 0px 0px 0px 15px;
    }
    .map-location {
        font-size: 16px;
        line-height: 1.2;
    }
    .m-txt-wrapper {
        margin-left: 13px;
    }
    .m-phone-wrapper {
        margin-left: -43px;
    }
    .contact-map {
        height: 203px;
    }
    .map-info-wrapper {
        bottom: 234px;
    }
    .contact-map-container {
        height: 480px;
    }
    .click-me-p {
        margin-left: -43px;
    }
}
