.wrapper-404{
    padding: 30px 30px;
}
.img-404{
    width: 900px;
    margin: auto;
    text-align: center;
    position: relative;

}
.img-404 img{
    width: 100%;
    height: auto;
}
.txt-404{
    padding-top: 20px;
}
.txt-404 h5{
    font-size: 36px;
    text-align: center;
}
.txt-404 p{
    font-size: 19px;
    text-align: center;
    color: #1a1a1a8a;
}
.err-link{
    position: absolute;
    bottom: -64px;
    left: 0;
    right: 0;
    text-align: center;
}
.err-link a{
    background: #00cc06;
    border: none;
    font-size: 20px;
    width: 418px;
    padding: 20px;
    border-radius: 9px;
}
@media only screen and (max-width: 1200px) {
    .img-404 {
        width: 800px;
    }
    .wrapper-404 {
        padding: 30px 0px;
    }
}
@media only screen and (max-width: 992px) {
    .img-404 {
        width: 730px;
        margin: auto;
        text-align: center;
        position: relative;
    }
}
@media only screen and (max-width: 768px) {
    .img-404 {
        width: 592px;
    }
    .txt-404 p {
        font-size: 18px;
    }
    .txt-404 h5 {
        font-size: 31px;
    }
}
@media only screen and (max-width: 657px){
    .img-404 {
        width: 500px;
    }
}
@media only screen and (max-width: 520px) {
    .txt-404 {
        padding-top: 54px;
    }
    .img-404 {
        width: 450px;
        margin-top: 50px;
    }
}
@media only screen and (max-width: 400px) {
    .txt-404 h5 {
        font-size: 23px;
    }
    .txt-404 p {
        font-size: 15px;
    }
    .img-404 {
        width: 400px;
        margin-top: 50px;
    }
    .err-link a {
        font-size: 18px;
        width: 312px;
        padding: 14px;
        border-radius: 9px;
    }
    .wrapper-404 {
        padding: 69px 0px;
    }
    .txt-404 p {
        font-size: 12px;
    }
    .txt-404 {
        padding-bottom: 30px;
    }
    .err-link {
        bottom: -84px;
    }
}
