* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  background: #fff;
  font: 400 1rem "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

.link-in {
  color: #ff8902;
  position: relative;
}

.link-in::after {
  content: "";
  background: #00cc06;
  height: 5px;
  opacity: 0.1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.link-in:hover {
  text-decoration: none;
  color: #ff8902;
}

main {
  width: 100%;
  height: auto;
}

main .wrapper {
  width: 100%;
  height: fit-content;
  position: relative;
  background: transparent !important;
}

main .banner-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50%;
  background: #006203;
  z-index: 1;
}

.trd-9924-ps {
  position: relative;
  z-index: 2;
  margin-bottom: 3rem;
}

.trd-9924-wrapper {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 5rem;
}

.trd-9924-top {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.trd-9924-top .title {
  text-align: center;
  margin-bottom: 0.5rem;
}

.trd-9924-top .title h5 {
  font: 700 20px "Open Sans", sans-serif;
  margin-bottom: 0;
}

.trd-9924-top .title p {
  font: 400 14px "Roboto", sans-serif;
}

.trd-9924-top .trd-9924-form {
  width: 100%;
  margin-bottom: 2rem;
}

.trd-9924-top .trd-9924-form form {
  position: relative;
  border-radius: 50px;
  overflow: hidden;
}

.trd-9924-top .trd-9924-form form .search-icon {
  position: absolute;
  width: 25px;
  top: 0;
  left: 8px;
  bottom: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.trd-9924-top .trd-9924-form form .search-icon img {
  width: 15px;
}

.trd-9924-top .trd-9924-form form button {
  background: #00cc06;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  opacity: 1;
  position: absolute;
  right: 10px;
  top: 7px;
  bottom: 7px;
  z-index: 2;
  border-radius: 50px;
  box-shadow: 0px 0px 12px 5px #00cc066b;
}

.trd-9924-top .trd-9924-form form button img {
  width: 15px;
  margin-bottom: 3px;
}

.trd-9924-top .trd-9924-form .input-group {
  width: 100%;
  height: 45px;
}

.trd-9924-top .trd-9924-form .input-control {
  border: none;
  outline: none;
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 2.5rem;
  padding-right: 3rem;
  border-radius: 50px;
}

.trd-9924-top .trd-9924-form .input-control::-moz-placeholder {
  font-size: 12px;
  opacity: 0.8;
  transform: translateY(-4px);
}

.trd-9924-top .trd-9924-form .input-control:-ms-input-placeholder {
  font-size: 12px;
  opacity: 0.8;
  transform: translateY(-4px);
}

.trd-9924-top .trd-9924-form .input-control::placeholder {
  font-size: 12px;
  opacity: 0.8;
  transform: translateY(-4px);
}

.trad-faqs {
  background: #fff;
  width: 90%;
  margin: 0 auto;
  padding: 1.5rem 1rem;
  border-radius: 20px;
  box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.1);
}

.trad-faqs .faqs-accordion {
  width: 90%;
  margin: 0 auto;
}

.trad-faqs details {
  padding-bottom: 1rem;
  margin-bottom: 0.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #00cc0611;
}

.trad-faqs details summary {
  font: 500 14px "Open Sans", sans-serif;
  color: #006203;
  transition: 300ms ease;
  outline: none;
  border: none;
  position: relative;
}

.trad-faqs details summary::-webkit-details-marker {
  display: none;
}

.trad-faqs details summary:after {
  background: url("/images/mini_plus.svg") no-repeat center center/cover;
  border-radius: 5px;
  content: "";
  float: right;
  margin: 0 -5px 0 0;
  padding: 0;
  text-align: center;
  width: 15px;
  height: 15px;
}

.trad-faqs details p {
  padding-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
  font: 400 12px "Open Sans", sans-serif;
}

.trad-faqs details[open] summary:after {
  background: url("/images/mini_minus.svg") no-repeat center center/contain;
}

details[open] summary ~ * {
  -webkit-animation: droped 200ms ease-in-out;
          animation: droped 200ms ease-in-out;
}

@-webkit-keyframes droped {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes droped {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 576px) {
  .trd-9924-top .title h5 {
    font-size: 24px;
  }

  .trd-9924-top .title p {
    font-size: 16px;
  }

  .trad-faqs details summary {
    font-size: 16px;
  }

  .trad-faqs details p {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .trd-9924-top .title h5 {
    font-size: 28px;
  }

  .trd-9924-top .title p {
    font-size: 18px;
  }

  .trad-faqs details summary {
    font-size: 18px;
  }

  .trad-faqs details p {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  .trd-9924-top {
    margin-bottom: 1rem;
  }

  .trd-9924-top .title {
    margin-bottom: 1rem;
  }

  .trd-9924-top .title h5 {
    font-size: 40px;
  }

  .trd-9924-top .title p {
    font-size: 28px;
  }

  .trd-9924-top .trd-9924-form {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }

  .trd-9924-top .trd-9924-form form {
    border-radius: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  .trd-9924-top .trd-9924-form form .search-icon {
    left: 12px;
  }

  .trd-9924-top .trd-9924-form form .search-icon img {
    width: 22px;
  }

  .trd-9924-top .trd-9924-form form button {
    border-radius: 10px;
    font-size: 18px;
    right: 12px;
    top: 12px;
    bottom: 12px;
  }

  .trd-9924-top .trd-9924-form .input-group {
    height: 75px;
  }

  .trd-9924-top .trd-9924-form .input-control {
    padding-left: 3.5rem;
    padding-right: 8rem;
    border-radius: 10px;
  }

  .trd-9924-top .trd-9924-form .input-control::-moz-placeholder {
    font-size: 18px;
    transform: translateY(-2px);
  }

  .trd-9924-top .trd-9924-form .input-control:-ms-input-placeholder {
    font-size: 18px;
    transform: translateY(-2px);
  }

  .trd-9924-top .trd-9924-form .input-control::placeholder {
    font-size: 18px;
    transform: translateY(-2px);
  }

  .trad-faqs {
    padding: 4rem 2rem;
  }

  .trad-faqs details {
    padding-bottom: 0;
  }

  .trad-faqs details summary {
    padding: 1rem 0;
    font-size: 20px;
  }

  .trad-faqs details p {
    font-size: 18px;
  }
}

