.farmshop-header{
    height: 128px;
    padding: 27px 20px;
    background: #00a605;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.farm-h4{
    color: white;
    font-size: 38px;
    font-weight: 500;
    margin-bottom: 0;
}
.farm-p{
    color: #fffff18f;
    font-size: 18px;
    font-weight: 200;
}
.farmhead-img{
    width: 90px;
}
.farmshop-dash{
    display: flex;
    justify-items: flex-start;
    align-items: center;
    padding-left: 20px;
}
.frm-dash-p{
    font-size: 13px;
    color: #0000004d;
    font-weight: 300;
}
.frm-dash-p span{
    color: #6c757dbd;
    font-size: 16px;
}
.frm-dash-p2{
    color: #6c757dbd;
    font-size: 14px;
    margin-left: 7px;
}
/* Farmshop */
.farm-wrapper{
    padding: 50px 110px;
    position: relative;
}
.f-background{
    background-color: #f5fff5;
}
.farmshop-img{
    width: 111px;
    max-height: 107px;
    border-radius: 9px;
}
.heading2{
    color: #004a02;
    font-size: 37px;
    font-weight: 700;
    margin: 2px
}
.farm-sec1{
    display: flex;
}
.farmshop-card{
    background: white;
    border-radius: 10px;
    box-shadow: 0px 2px 10px #dae0e5;
    padding: 21px 21px 1px 21px;
    border-top: 5px solid #ffb45f;
}
.plantation{
    font-size: 8px;
    color: #6c757d78;
    margin: 0;
    line-height: .3;
}
.famrshop-plant-name {
    color: #004a02;
    font-size: 17px;
    font-weight: bolder;
    margin: 0;
}
.plant-cost{
    display: flex;
    border-bottom: 1px solid #28a74552;
}
.p-cost{
    border-top: 1px solid #28a74552;
}
.cycle{
    font-size: 8px;
    color: #6c757d78;
    display: block;
    margin-bottom: 0;
}
.farm-i{
    background: #f5fff5;
    height: 21px;
    width: 21px;
    text-align: center;
    border-radius: 100%;
    margin-top: 4px;

}
.farm-i img{
    margin-bottom: 6px;
}
.plant-amt{
    margin-left: 5px;
}
.f-amt{
    font-size: 15px;
    font-weight: 700;
    color: #004a02;
    margin-bottom: 0;
    padding-bottom: 5px;
    line-height: 0.7;
}
.duration{
    font-size: 12px;
    font-weight: 700;
    color: #004a02;
    margin-top: 0px;
    line-height: .8;
    margin-bottom: 4px;
}
.roi{
    color: #ffb45f;
}
.farm-details{
    padding-left: 10px;
}
.farm-location{
    display: flex
}
.locate-i{
    height: 30px;
    width: 30px;
    position: relative;
}
.locate-i i{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: fit-content;
}
.f-locate{
    font-size: 10px;
    color: hsl(122deg 100% 29%);
    font-weight: 400;
    margin-top: 5px;
    margin-left: 4px;
}
.btn:focus{
    outline: none;
}
.farm-btn{
    background-color: #00cc06 !important;
    border: transparent;
    width: 100%;
    font-size: 17px;
    font-size: 17px;
    padding: 13px 0px;
    border-radius: 10px;
}
.sold-out{
    background-color: white !important;
    color: #00cc06;
    box-shadow: 0px 0px 8px #d3d3d39e !important;
}
.sold-out:hover{
    color: #00cc06;
}

.f-learnmore{
    width: fit-content;
    position: relative;
}
.f-line{
    border-bottom: 6px solid #e5ede5c4;
    position: absolute;
    bottom: 6px;
    width: 119px;

}
.f-learnmore a{
    color: #ff9214;
    font-size: 20px;
    padding: 0;
}
.farmshop-countdown{
    text-align: center;
    margin: 6px 0px;
}
.farmshop-wrapper{
    width: 96%;
    margin: auto;
    margin-bottom: 110px;
}
.fs-c {
    padding: 15px 30px;
}
.farmshop-cd{
    font-size: 8px;

}
.frm-cd-num{
    color: #ffb058;
}


/*REFERRL EARNING MODAL*/
#refferal_earning{
    /*border: 1px solid red;*/
    position: absolute;
    z-index: 99999999;
    background: white;
    right: 0;
    top: 0;
    /* bottom: 0; */
    height: fit-content;
    padding: 20px 26px 0;
    width: 40%;
    max-width: 460px;
}

.referral-earning-wrapper{
    position: relative;
}

.ern-ref-img-wrapp{
    text-align: right;
}

.ern-ref-img{
    width: 15px;
}

.ref_earning_amt{
    text-align: center;
    padding: 20px 0px;
}

.ref_earning_amt h6{
    font-size: 15px;
    color: #3d3d3d;
    font-weight: 500;
    margin-bottom: 16px;
}

.ref-earning{
    font-size: 14px;
    color: #4d4d4d;
    font-weight: 500;
}

.ref_ern_amt{
    background: #f8fffc;
    width: 65%;
    margin: auto;
    padding: 12px 0px;
}

.ref_ern_amt h1{
    color: #28d182;
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 0;
}

.ref-ern_txt{
    width: 72%;
    margin: auto;
    text-align: center;
    padding: 5px 0px;
}

.ern-txt{
    font-size: 15px;
    color: #7a7a7a;
    line-height: 1.5;
}

.ref-ern-link-wrapper{
    width: 95%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}

.ern-link-txt{
    font-size: 14px;
    color: #7a7a7a;
}

.ref-ern-input{
    width: 100%;
    height: 110px;
    background: #f5f5f5;
    border: none;
    border-radius: 8px;
    padding: 20px;
}

.ref-ern-input::placeholder {
    color: #c0c0c0;
    font-size: 13px;
}

.ref-ern-input::placeholder {
    color: #c0c0c0;
    font-size: 13px;
}

textarea::-webkit-input-placeholder{
    color: #c0c0c0;
    font-size: 13px;
}

.ref-ern-details{
    padding: 20px;
}

.ern-details-wrapp{
    display: flex;
    justify-content: space-between;
    padding: 18px 0 10px;
}

.ern-ref-inner{
    display: flex;
}

.ern-ref-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #7be495;
    position: relative;
}

.ern-ref-i{
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.ern-ref-bWrap{
    margin-left: 10px;
    font-size: 13px;
}

.ern-ref-amount{
    color: #28d182;
    font-weight: 900;
    padding: 10px 0px;
}

.ern-ref-b{
    font-weight: 800;
}

.referral-copy-link{
    background-color: #00cc06 !important;
    border: transparent;
    width: 100%;
    padding: 18px 0px;
    border-radius: 10px;
    font-size: 14px;
    color: white;
    position: absolute;
    bottom: 75px;
}
.refferal-earning-modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #00000091;
    z-index: 999999999;
    display: none;
}

@media only screen and (max-width: 1125px){
    /* Farmshop */
    .farmshop-wrapper{
        width: 90%;
        margin-bottom: 150px;
    }
    .fs-c {
        padding: 14px 20px;
    }
    .farm-wrapper {
        padding: 50px 80px;
    }
    .farmshop-dash {
        display: none;
    }

}
@media  only screen and (max-width: 992px){
    /*REFERRL EARNING MODAL*/
    #refferal_earning {
        width: 80% !important;
        max-width: 568px !important;
    }
}
@media only screen and (max-width: 777px){
    .farmshop-wrapper{
        width: 100%;
    }



}

@media  only screen and (max-width: 576px){
    .refferal-earning-modal {
        background: transparent;
    }

    #refferal_earning {
        right: 0 !important;
        left: 0 !important;
        top: 11px !important;
        padding: 11px 10px 0 !important;
        width: 95% !important;
        margin: auto;
        border-radius: 14px !important;
        box-shadow: 0px 0px 2px #80808059;
    }

    .ref_earning_amt {
        padding: 14px 0px;
    }

    .ref_earning_amt h6 {
        margin-bottom: 10px;
    }

    .ref_ern_amt h1 {
        font-size: 25px;
        font-weight: 600;
    }

    .ref_ern_amt {
        padding: 7px 0px;
    }

    .ern-txt {
        font-size: 12px;
    }

    .ref-ern_txt {
        padding: 5px 0px;
    }

    .ref-ern-link-wrapper {
        margin-top: 2px;
    }

    .ref-ern-input {
        height: 84px;
    }

    .ref-ern-details {
        padding: 0px 20px 20px;
    }

    .ref-ern-details {
        padding: 0px 0px 20px;
    }

    .ern-ref-bWrap {
        margin-left: 10px;
        font-size: 11px;
    }

    .ern-ref-amount {
        color: #28d182;
        font-weight: 700;
        padding: 0px 0px;
        font-size: 13px;
    }

    .ern-details-wrapp {
        padding: 12px 0 10px;
    }
}
@media only screen and (max-width: 500px){

    .fs-c{
        padding: 14px 45px;
    }
    .farm-h4 {
        font-size: 26px;
        margin-bottom: 6px;
    }
    .farm-p {
        font-size: 13px;
    }
    .farmhead-img {
        width: 72px;
    }
    .farmshop-header {
        height: 93px;
        font-weight: lighter;
        padding: 18px 20px;
    }
}

