.bg-light {
    background-color: white !important;
}
button:focus {
    outline: none;
}
.navbar-light .navbar-nav .active > .nav-link {
    font-size: 18px;
    color: #008f05;
    font-weight: 700;
    border-bottom: 3px solid green;
}
.navbar-nav .active {
    color: #0b2e13 !important;
}
:focus {
    outline: 0 !important;
}
.navbar {
    padding: 14px 15px;
}
.navbar-light .navbar-nav .nav-link {
    color: #d1dae0;
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 13px;
    font-family: revert;
}
.nav-fixed {
    position: fixed;
    z-index: 9;
    background: #000000a6;
    top: 0;
    bottom: 0;
}
.navbar-brand img {
    color: #aeffb0;
    width: 115px;
}
.nav-login {
    color: #aeffb0 !important;
    padding-left: 50px;
}
.nav-signup {
    color: #ffb35c !important;
    border: 1px solid #eaffea;
    border-radius: 6px;
    box-shadow: 0px 0px 8px #e9ecef94;
}

.navbar-toggler .tog {
    display: block;
}
.navbar-toggler .fa-remove {
    display: none;
}
.width {
    width: 95%;
    margin: auto;
}

.tog {
    width: 23px;
    height: 3px;
    background: black;
    margin: 3px;
}
.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: transparent;
}

/* Carousel */
.carousel-wrap {
    color: white;
    position: relative;
    background-image: url("../images/14143.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: calc(100vh - 74px);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.carousel-in {
    width: 74%;
    z-index: 8;
    padding-left: 100px;
    padding-top: 65px;
    position: relative;
    max-width: 58%;
}
.carouser-txt h2 {
    font-size: 70px;
    font-weight: bold;
    font-family: system-ui;
    line-height: 1;
}
.carouser-txt p {
    font-size: 19px;
}
.carousel-foot {
    margin-top: 68px;
}
.carousel-foot p {
    margin-bottom: 0;
    font-size: 22px;
}
.carousel-foot a {
    background: #00cc06;
    color: white;
    margin-top: 12px;
    padding: 12px 30px 17px 30px;
    font-size: 26px;
    border-radius: 7px;
    text-align: center;
    border: none;
}
.carousel-foot a:hover {
    background: #00cc06;
    color: white;
}
.carousel-img {
    /*width: 580px;*/
    width: 48%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
}
.carousel-img img {
    width: 100%;
    height: auto;
}
.carousel-banner {
    position: absolute;
    width: 99%;
    right: -39%;
    bottom: -69%;
    transform: rotate(6deg);
}
.carousel-banner img {
    width: 100%;
    height: auto;
}

.carousel-banner2 img {
    width: 100%;
    height: auto;
}
/* Financial */
.financial-wrapper {
    background-color: #f5fff5;
    padding-top: 75px !important;
    padding-bottom: 40px !important;
}
.f-width {
    width: 65%;
    margin: auto;
}
.security-img {
    background: #dbffe7;
    width: 130px;
    height: 130px;
    position: relative;
    text-align: center;
    border-radius: 100%;
}
.security-img img {
    width: 105px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.heading {
    color: #004a02;
    font-size: 40px;
    font-weight: bold;
    line-height: 0.9;
}
.f-text {
    color: #6e716e;
    font-size: 19px;
    font-family: system-ui;
    font-weight: 400;
}

/* Saving */
.savings-wrapper {
    padding: 50px 0px;
    background-image: url("../images/asset-2.png");
    background-size: cover;
    background-position: center;
}
.saving-img {
    width: 55%;
    padding-left: 27px;
    padding-top: 20px;
}
.inveto-img {
    width: 94%;
    padding: 30px 0px 0px 20px;
}
.card .heading {
    font-size: 33px;
    line-height: 1;
}
.saving-cards {
    width: 90%;
    margin: auto;
    padding-top: 30px;
}
.crd {
    padding-right: 36px;
    padding-left: 36px;
}
.card-text {
    font-size: 14px;
    color: #454545;
    line-height: 1.3;
}
.card-btn {
    color: #ffb35c;
    text-align: left !important;
    font-size: 13px;
    border-bottom: 3px solid #e9ecefa8;
    width: fit-content;
    padding: 0;
}
.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #4950571c;
    min-height: 425px;
    position: relative;
    max-width: 400px;
}
.card-numb {
    position: absolute;
    top: -38px;
    right: -33px;
}
.card-numb h2 {
    font-size: 71px;
    font-weight: 700;
    color: #f5fff5;
}
/* Farmshop */
.farm-wrapper {
    padding: 50px 110px;
    position: relative;
}
.f-background {
    background-color: #f5fff5;
}
.farm-img {
    width: 85px;
    max-height: 100px;
    border-radius: 9px;
}
.heading2 {
    color: #004a02;
    font-size: 37px;
    font-weight: 700;
    margin: 2px;
}
.farm-sec1 {
    display: flex;
}
.farm-card {
    background: white;
    border-radius: 7px;
    box-shadow: 0px 2px 10px #dae0e5;
    padding: 21px 21px;
    border-top: 5px solid #ffb45f;
    width: 257px;
    margin: auto;
    /*max-width: 319px;*/
}
.plantation {
    font-size: 8px;
    color: #6c757d78;
    margin: 0;
    line-height: 0.3;
}
.plant-name {
    color: #004a02;
    font-size: 24px;
    margin: 0;
    font-weight: 400;
}
.plant-cost {
    display: flex;
    border-bottom: 1px solid #28a74552;
}
.p-cost {
    border-top: 1px solid #28a74552;
}
.cycle {
    font-size: 8px;
    color: #6c757d78;
    display: block;
    margin-bottom: 0;
}
.farm-i {
    background: #f5fff5;
    height: 21px;
    width: 21px;
    text-align: center;
    border-radius: 100%;
    margin-top: 4px;
}
.farm-i img {
    margin-bottom: 6px;
}
.plant-amt {
    margin-left: 5px;
}
.f-amt {
    font-size: 15px;
    font-weight: 700;
    color: #004a02;
    margin-bottom: 0;
    padding-bottom: 5px;
    line-height: 0.7;
}
.duration {
    font-size: 12px;
    font-weight: 700;
    color: #004a02;
    margin-top: 0px;
    line-height: 0.8;
    margin-bottom: 4px;
}
.roi {
    color: #ffb45f;
}
.farm-details {
    padding-left: 10px;
}
.farm-location {
    display: flex;
}
.locate-i {
    height: 30px;
    width: 30px;
}
.f-locate {
    font-size: 10px;
    color: hsl(122deg 100% 29%);
    font-weight: 400;
    margin-top: 5px;
    margin-left: 4px;
}
.btn:focus {
    outline: none;
}
.farm-btn {
    background-color: #00cc06 !important;
    border: transparent;
    width: 100%;
    font-size: 17px;
    padding: 13px 0px;
    border-radius: 10px;
}
.sold-out {
    background-color: white !important;
    color: #00cc06;
    box-shadow: 0px 0px 8px #d3d3d39e;
}
.sold-out:hover {
    color: #00cc06;
}
.f-c {
    padding: 40px 50px;
}
.f-learnmore {
    width: fit-content;
    position: relative;
}
.f-line {
    border-bottom: 6px solid #e5ede5c4;
    position: absolute;
    bottom: 6px;
    width: 119px;
}
.f-learnmore a {
    color: #ff9214;
    font-size: 20px;
    padding: 0;
}

/* works */
.work-wrap {
}
.w-work {
    margin-bottom: 15px;
}
.work-content {
    margin-top: 29px;
}
.work {
    height: 100px;
    background: #f4fef4;
    width: 100px;
    text-align: center;
    align-items: center;
    border-radius: 100%;
    padding-top: 10px;
}
.work-numb-wrapper {
    position: relative;
}
.greenline {
    background: #81e383;
    width: 81%;
    height: 2px;
    position: absolute;
    top: 53px;
    right: -11px;
    z-index: 1;
}
.w-h4 {
    background: #00c306;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 19px;
    color: white;
    font-size: 32px;
    text-align: center;
    margin: auto;
    position: relative;
    z-index: 5;
}
.work::before {
    border-bottom: 1px solid green;
}
.w-head {
    color: #004a02;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
}

.w-text {
    color: #3d3d3d;
    font-size: 15px;
    font-family: system-ui;
    font-weight: 400;
    line-height: 1.3;
    padding-right: 30px;
}
.block-line {
    width: 92%;
    margin: auto;
    height: 7px;
    background: #f5fff5;
    margin-bottom: 30px;
    margin-top: 30px;
}
.transaction-h5 {
    color: #004a02;
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 30px;
}
.naic {
    width: 250px;
}
.visa {
    width: 115px;
}
.transaction-img {
    width: 100px;
}
.social-wrapper {
    background-image: url("../images/steve-gia.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.social-layout {
    background: #004202de;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.social-head h2 {
    color: white !important;
}
.social-head p {
    color: white !important;
}
.social-inner {
    display: flex;
    margin-bottom: 33px;
}
.s-total {
    display: block;
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 0;
}
.s-total span {
    font-size: 34px;
    margin-left: -8px;
    font-weight: 600;
}
.s-name {
    display: block;
    color: #00b306;
    font-size: 17px;
    margin-top: -7px;
}
.social-img {
    background: #ffe7af;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 38px;
    padding-top: 7px;
}
.social-img img {
    width: 42px;
}
.social-description {
    margin-left: 16px;
    color: white;
}
.social {
    margin-top: 45px;
}
.users-wrapper {
    background-image: url("../images/background1.svg");
    background-size: cover;
    background-position: center;
    width: 100%;
}
.user-pro {
    display: flex;
}
.user-text {
    height: 70px;
    text-overflow: ellipsis;
}
.user-text p {
    font-size: 11px;
    margin-top: 12px;
}
.user-pro img {
    width: 100px;
}
.users-box {
    width: 300px;
    min-height: 270px;
    box-shadow: 0px 0px 8px #dee2e6;
    border-radius: 8px;
    padding: 22px;
    margin: 0px 0px 23px 0px;
    border-top: 5px solid #ffb45f;
    background: white;
}
.user-duration {
    font-size: 9px;
    color: #91b091;
    font-weight: 100;
    margin-bottom: 0px;
}
#user-pic1 {
    background-image: url("../images/12194.svg");
}
#user-pic2 {
    background-image: url("../images/alex.jpg");
}
.user-pic {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
}
.user-name {
    color: #023c03;
    font-size: 20px;
    margin: auto 15px;
}
.user-line {
    width: 100%;
    height: 2px;
    background: #f5fff5;
    margin: 25px 0px;
}
.user-image {
    width: 74px;
    height: 74px;
    border-radius: 77px;
    overflow: hidden;
}
.owl-col {
    margin-bottom: 20px;
}
.owl-nav .owl-prev {
    float: left;
    width: 28px;
    height: 28px;
    border-radius: 30px !important;
    background: #ffebd4 !important;
}
.owl-carousel .owl-nav button.owl-next {
    float: right;
    width: 28px;
    height: 28px;
    border-radius: 30px !important;
    background: #ffebd4 !important;
}
.caro-nav {
    font-size: 22px;
    color: orange;
}
.owl-theme .owl-nav {
    margin: 10px 80px;
}
.blog-image {
    width: 203px;
    border: 1px solid #e9ecef;
    border-radius: 12px;
}
.blog-wrapper {
    background: #f5fff5 !important;
}
.blog-content {
    /*width: 85%*/
}
.blog-content h5 {
    font-size: 26px;
    font-weight: 500;
}
.blog-content p {
    font-size: 26px;
    font-weight: 300;
}
.b-learn {
    margin-left: auto;
}
.blog-p {
    font-weight: 400;
    color: #208337;
}
.blog-wrapper {
    padding-top: 33px !important;
    padding-bottom: 20px !important;
}

.apple-store {
    width: 214px;
    display: block;
    margin-left: auto;
    margin-top: 5px;
}
.google-play {
    width: 228px;
    display: block;
    margin-left: auto;
}
.d-heading {
    font-size: 38px;
    width: 605px;
    font-weight: bold;
    color: #199b00;
    line-height: 1.1;
    margin-bottom: 15px;
}
.downloadh5 {
    font-weight: 700;
    font-size: 22px;
    color: #212529;
    margin-bottom: 25px;
}
.download-p {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.3;
}
.create-acc {
    background: #00cc06;
    color: white;
    margin-top: 12px;
    padding: 12px 30px 17px 30px;
    font-size: 26px;
    border-radius: 7px;
    text-align: center;
    border: none;
}
.s-heading {
    color: #ffa33b;
    font-size: 38px;
    font-weight: 700;
    line-height: 0.9;
}
.s-text {
    font-size: 20px;
}
.s-content {
    width: 73%;
    margin: auto;
    text-align: center;
}
.frm-grp {
    display: flex;
    width: 86%;
    margin: auto;
    background: #f5f5f5;
    padding: 8px 10px 7px 46px;
    border-radius: 13px;
}
.frm-grp input {
    width: 100%;
    border: none;
    background: none;
}
.smart-btn {
    background: #00cc06;
    padding: 15px 26px;
    border-radius: 15px;
    font-size: 31px !important;
    color: white;
}
.smart-btn:hover {
    background: #00cc06;
    color: white;
}
.frm-grp input::placeholder {
    color: #e0e0e0;
    font-size: 20px;
}
/*Footer*/
.foot-img {
    width: 200px;
}
.foot-contact p {
    margin-bottom: 8px;
    font-size: 19px;
    line-height: 1.3;
    font-weight: 400;
}
.foot-head {
    margin-bottom: 41px;
}
.foot-head h5 {
    font-size: 24px;
}
.foot-links {
    padding-left: 0;
}
.foot-links li {
    list-style: none;
    margin-bottom: 13px;
}
.foot-link {
    font-size: 19px;
    color: black;
    font-weight: 400;
    margin-bottom: 28px;
}
.foot-link:hover {
    text-decoration: none;
    color: #00cc06;
}
.foot-links img {
    width: 24px;
}

.foot-social {
    margin-left: 10px;
}
.foot-contact {
    margin-top: 16px;
}
.foot2 {
    width: 100%;
    height: 97px;
    background: #033d04;
}
@media only screen and (max-width: 1125px) {
    .carousel-wrap {
        min-height: 544px;
    }
    .carousel-img {
        width: 551px;
    }
    .f-width {
        width: 90%;
        margin: auto;
    }
    .crd {
        padding-right: 15px;
        padding-left: 15px;
        margin-bottom: 35px;
    }

    .carousel-in {
        max-width: 85%;
        z-index: 8;
        padding-left: 76px;
        padding-top: 57px;
    }

    /* Farmshop */
    .f-c {
        padding: 40px 15px;
    }
    .farm-wrapper {
        padding: 50px 80px;
    }

    .security-img {
        width: 110px;
        height: 110px;
    }
    .security-img img {
        width: 90px;
    }
}
@media only screen and (max-width: 990px) {
    .carousel-banner {
        right: -37%;
        bottom: -53%;
    }
    .navbar-toggler[aria-expanded="true"] .tog {
        display: none;
    }
    .navbar-toggler[aria-expanded="true"] .fa-remove {
        display: block;
    }
    .fa-remove {
        font-size: 23px;
        width: 84px;
    }

    .navbar-light .navbar-nav .nav-link {
        padding-left: 0;
        font-size: 14px;
        padding: 16px 0px;
        font-family: revert;
        border-bottom: 0.1rem solid #aeffb0;
        width: 87%;
    }

    .nav-signup {
        color: white !important;
        border-radius: 12px;
        background: #00cc06;
        text-align: center;
        margin-top: 15px;
        border-bottom: none !important;
    }
    .nav-login {
        color: #ffb35c !important;
        border: 1px solid #eaffea;
        border-radius: 12px;
        text-align: center;
        margin-top: 20px;
        border-bottom: none !important;
        box-shadow: 0px 0px 8px #d9dee394;
    }
    .f-width {
        width: 95%;
        margin: auto;
    }

    .heading {
        font-size: 35px;
    }
    .f-text {
        font-size: 17px;
    }

    .carousel-img {
        right: -8%;
    }
    .carousel-wrap {
        height: 86vh;
    }

    /* Savings */
    .saving-cards {
        width: 80%;
        padding-top: 30px;
    }

    .naic {
        width: 217px;
    }
    .carouser-txt h2 {
        font-size: 66px;
    }
    .blog-image {
        width: 158px;
        border: 1px solid #e9ecef;
        border-radius: 12px;
    }
    .blog-content p {
        font-size: 20px;
        font-weight: 300;
    }
}
@media only screen and (max-width: 800px) {
    .carousel-img {
        display: none;
    }
    .carousel-banner {
        display: none;
    }
    .carousel-in {
        width: 92%;
    }
    .blog-content p {
        font-size: 16px;
    }
    .blog-image {
        width: 134px;
    }
    .blog-content h5 {
        font-size: 26px;
    }
}
@media only screen and (max-width: 780px) {
    .f-text {
        font-size: 16px;
    }

    .heading {
        color: #004a02;
        font-size: 31px;
        font-weight: 700;
    }

    /* Saving */
    .saving-cards {
        width: 90%;
        padding-top: 30px;
    }
    .saving-cards {
        width: 55%;
        padding-top: 30px;
    }

    .farm-wrapper {
        padding: 50px 20px;
    }
    .blog-image {
        width: 116px;
    }
    .users-box {
        width: 300px;
        min-height: 270px;
        box-shadow: 0px 0px 8px #dee2e6;
        border-radius: 8px;
        padding: 22px;
        margin: 19px 0px 23px 44px;
    }
}
@media only screen and (max-width: 770px) {
    /* Saving */
    .saving-cards {
        width: 55%;
        padding-top: 30px;
    }
    .w-wrapper {
        display: flex;
    }
    .w-numb {
        display: block;
    }
    .w-text {
        padding-right: 0;
    }
    .w-h4 {
        font-size: 22px;
        width: 56px;
        height: 56px;
        padding: 15px;
    }
    .work {
        height: 70px;
        width: 70px;
        padding-top: 6px;
    }

    .carousel-in {
        width: 100%;
        z-index: 8;
        padding-left: 40px;
        padding-top: 65px;
        position: relative;
    }
    .carouser-txt h2 {
        font-size: 54px;
    }
    .blog-image {
        width: 97px;
    }
    .blog-content p {
        font-size: 12px;
    }
    .blog-content h5 {
        font-size: 25px;
    }
    .google-play {
        margin-left: unset;
    }
    .apple-store {
        margin-left: unset;
    }
    .users-box {
        width: 300px;
        min-height: 270px;
        box-shadow: 0px 0px 8px #dee2e6;
        border-radius: 8px;
        padding: 22px;
        margin: 50px 0px 23px 44px;
    }
    .users-box {
        margin: 12px auto;
    }
    .greenline {
        width: 2px;
        height: 100%;
        top: 53px;
        right: 0;
        left: 35px;
    }
}

@media only screen and (max-width: 600px) {
    .carousel-wrap {
        height: 89vh;
    }
    .heading {
        font-size: 20px;
        font-weight: 700;
    }
    .f-text {
        font-size: 13px;
    }
    .f-width {
        width: 100%;
        margin: auto;
    }

    /* Saving */
    .saving-cards {
        width: 65%;
        padding-top: 30px;
    }

    .wrapper {
        background-color: #f5fff5;
        padding: 50px 25px;
    }

}

@media only screen and (max-width: 500px) {
    .carousel-wrap {
        height: 75vh;
    }
    .farm-card {
        width: 100%;
    }
    .carouser-txt h2 {
        font-size: 43px;
    }
    .carousel-foot a {
        padding: 8px 30px 12px 30px;
        font-size: 23px;
    }
    .carousel-foot p {
        font-size: 20px;
    }
    .carousel-in {
        padding-left: 23px;
    }
    .saving-cards {
        width: 90%;
        padding-top: 30px;
    }

    .card .heading {
        font-size: 25px;
    }
    .fa-remove {
        font-size: 23px;
        width: 30px;
    }
    .farm-wrapper {
        padding: 50px 30px;
    }
    .f-c {
        padding: 15px 15px;
    }
    .transaction-h5 {
        color: #005703;
        font-size: 15px;
        margin-bottom: 20px;
    }
    .transaction-img {
        width: 81px;
        margin-bottom: 20px;
    }
    .naic {
        width: 173px;
    }
    .social-head {
        text-align: left !important;
        margin-bottom: 40px;
    }
    .social-img {
        width: 62px;
        height: 62px;
        padding-top: 9px;
    }
    .social-img img {
        width: 38px;
    }
    .s-total {
        font-size: 28px;
        font-weight: 700;
    }
    .security-img {
        width: 72px;
        height: 72px;
        position: relative;
        text-align: center;
    }
    .security-img img {
        width: 47px;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .fin-txt {
        font-size: 10px;
    }
    .f-width {
        width: 94%;
        margin: auto;
    }
    .f-txtWrap {
        width: 95%;
    }
    .financial-wrapper {
        padding-top: 35px !important;
        padding-bottom: 35px !important;
    }
    .work-content {
        margin-top: 0px;
    }
    .w-head {
        margin-bottom: 0;
    }
    .w-text {
        font-size: 11px;
    }
    .blog-content p {
        font-size: 11px;
    }
    .blog-content h5 {
        font-size: 21px;
        line-height: 0.9;
    }
    .blog-image {
        width: 65px;
    }
    .blog-content {
        padding: 0px 6px;
    }
    .blog-wrapper {
        padding: 33px 30px 15px 30px !important;
    }
    .d-heading {
        font-size: 22px;
        width: 100%;
    }
    .downloadh5 {
        font-size: 12px;
        margin-bottom: 9px;
    }
    .download-p {
        font-size: 12px;
        line-height: 1.5;
    }
    .create-acc {
        margin-top: 17px;
        margin-bottom: 25px;
        padding: 13px 50px 15px 55px;
        font-size: 17px;
        border-radius: 16px;
    }
    .block-line {
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .s-content {
        width: 100%;
    }
    .s-heading {
        font-size: 29px;
    }
    .s-text {
        font-size: 13px;
    }
    .frm-grp {
        margin: 24px auto;
        background: #f5f5f5;
        padding: 8px 10px 7px 46px;
    }
    .smart-btn {
        padding: 12px 19px;
        font-size: 18px !important;
    }
    .navbar-brand img {
        width: 83px;
    }
    .carouser-txt h2 {
        font-weight: 600;
        font-size: 33px;
    }

    .carousel-foot {
        margin-top: 36px;
    }

    .carousel-foot a {
        padding: 8px 25px 12px 25px;
        font-size: 13px;
        border-radius: 10px;
    }
    .carousel-wrap {
        height: 50vh;
        min-height: 332px !important;
    }
    .carousel-in {
        padding-top: 38px;
    }
    .carouser-txt p {
        font-size: 11px;
    }
    .savings-wrapper {
        padding: 25px 0px;
    }
    .saving-cards {
        width: 90%;
        padding-top: 2px;
    }
    .saving-head h2 {
        text-align: left !important;
        padding-left: 41px;
    }
    .card {
        min-height: 400px;
    }
    .farm-img {
        width: 109px;
        max-height: 120px;
    }
    .users-box {
        width: 342px;
        margin: 50px 2px 50px 10px;
    }
    .smart-btn {
        padding: 10px 15px;
        font-size: 18px !important;
        border-radius: 11px;
    }
    .frm-grp {
        margin-bottom: 0;
        padding: 8px 10px 7px 6px;
    }

    .farm-wrapper {
        padding: 50px 18px;
    }
    .smartMoney-wrapper {
        padding-bottom: 25px !important;
    }
    .foot-contact p {
        font-size: 14px;
    }
    .foot-head h5 {
        font-size: 17px;
    }
    .foot-head {
        margin-bottom: 16px;
    }
    .foot-links li {
        list-style: none;
        margin-bottom: 3px;
    }
    .foot-link {
        font-size: 14px;
    }
    .f-locateNumb {
        display: flex;
        justify-content: space-between;
        padding-right: 22px;
    }
}
