* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    overflow-x: hidden !important;
    background: #fff;
    font: 400 1rem "Open Sans", sans-serif;
}

a {
    text-decoration: none !important;
}

.link-in {
    color: #ff8902;
    position: relative;
    transition: 200ms;
}

.link-in span {
    transition: 200ms;
}

.link-in::after {
    content: "";
    background: #00cc06;
    height: 5px;
    opacity: 0.1;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.link-in:hover {
    text-decoration: none;
    color: #ff8902;
}

.link-in:hover span {
    padding-left: 8px;
}

nav#nav-sm {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 1000000;
}

nav#nav-lg {
    display: none;
}

.trd-1635-dss {
    width: 100%;
    height: 100%;
}

.trd-1635-nav {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
}

.trd-1635-links {
    display: flex;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #000;
}

.trd-1635-links img {
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    filter: grayscale(100);
    opacity: 0.8;
}

.trd-1635-links h6 {
    margin-bottom: 0;
    font-size: 10px;
    opacity: 0.6;
}

.trd-1635-links.active img {
    filter: grayscale(0);
    opacity: 1;
}

.trd-1635-links.active h6 {
    color: #004a02;
}

.filter-gry {
    opacity: 0.7 !important;
}

main {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

.no-wrap {
    white-space: nowrap;
}

.trd-dss-wrapper {
    background: #00a605;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0;
    left: 0;
    z-index: 9999999;
}

.trd-dss-204 {
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.trd-dss-304 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.trd-dss-304 {
    color: #fff;
}

.trd-dss-304 h4 {
    font-weight: bolder;
    font-size: 16px;
    margin-bottom: 0;
}

.trd-dss-304 p {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 0;
}

.trd-dss-304 p span {
    margin-right: 8px;
    opacity: 0.8;
}

.trd-dss-304 p img {
    width: 20px;
}

.trd-dss-404 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.trd-dss-404 img {
    width: 50px;
    height: auto;
}

.trd-dss-444 {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: auto;
    margin-left: 0.2rem;
}

.trd-dss-444 a {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
}

.trd-dsh-account {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
}

.trd-dsh-inner {
    display: block;
    width: 100%;
}

.trd-dsh-scroll {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-flow: column;
    -moz-column-gap: 8px;
    column-gap: 8px;
    overflow-x: scroll;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: 250ms ease-in;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.trd-dsh-scroll::-webkit-scrollbar {
    display: none;
}

.trd-txt-light {
    color: #fff;
}

.trd-txt-light a {
    color: #fff;
}

.trd-bdr {
    position: relative;
}

.trd-bdr::before,
.trd-bdr::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 35px;
    position: absolute;
}

.trd-bdr::before {
    right: -10px;
    bottom: -10px;
    z-index: -1;
}

.trd-bdr::after {
    right: -20px;
    bottom: -20px;
    z-index: -2;
}

.trd-bdr .spiral {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 30px;
    overflow: hidden;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.trd-bdr .spiral .spiral-img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.trd-bdr .spiral .spiral-img img {
    width: 100%;
    height: 100%;
}

.trd-bdr .box {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 5;
    justify-content: center;
    align-items: flex-start;
}

.trd-bdr .box .trd-llt {
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.trd-dsh-rounded {
    border-radius: 35px;
}

.trd-dsh12-display {
    width: 355px;
    height: 155px;
    padding: 8px 2rem;
    padding-top: 0;
    background: #18b767;
    margin-left: 1rem;
    margin-right: 1rem;
}

.trd-dsh12-display .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trd-dsh12-display .details .trd-card-info {
    font-family: "Open Sans", sans-serif;
}

.trd-dsh12-display .details .trd-comp {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
}

.trd-dsh12-display .details .trd-comp img {
    width: 60px;
    height: auto;
}

.trd-dsh12-display .trd-balance {
    margin-bottom: 0.5rem;
}

.trd-dsh12-display .trd-balance h4 {
    font-size: 30px;
    font-weight: bolder;
    position: relative;
    line-height: 1;
    padding-left: 10px;
}

.trd-dsh12-display .trd-balance h4 sup {
    position: absolute;
    font-size: 10px;
    top: 7px;
    left: 0;
}

.trd-dsh12-display .trd-js-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.trd-dsh12-display .trd-js-links .img-wrapper {
    background: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    position: relative;
    box-shadow: 0px 0px 0px 7px #25c575;
}

.trd-dsh12-display .trd-js-links .img-wrapper img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.trd-dsh12-display .trd-js-links a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.trd-dsh12-display .trd-js-links a img {
    width: 15px;
    height: auto;
}

.trd-dsh12-display .trd-js-links a:first-of-type {
    margin-right: 2rem;
}

.trd-dsh12-display .trd-js-links a span {
    font-size: 12px;
}

.trd-dsh12-display .cn-trd {
    font-size: 16px;
    font-weight: lighter;
}

.trd-dsh12-display .trd-js202-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.trd-dsh12-display .trd-js202-links .trd-js202-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.trd-dsh12-display .trd-js202-links .trd-js202-infos h6 {
    font-weight: bold;
    font-size: 20px;
}

.trd-dsh12-display .trd-js202-links .trd-js202-infos p {
    font-size: 10px;
    text-transform: capitalize;
}

.trd-dsh12-display .trd-js202-links .trd-js202-infos:first-of-type {
    border-right: 2px solid #00cc06;
    margin-right: 1rem;
    padding-right: 1rem;
}

.trd-dsh12-display .trd-js204-links {
    display: block;
}

.trd-dsh12-display .trd-js204-links .trd-progress-bar {
    position: relative;
    padding: 7px;
    width: 100%;
    height: 35px;
    background: #fff;
    border-radius: 30px;
    overflow: hidden;
}

.trd-dsh12-display .trd-js204-links .trd-progress-val {
    position: relative;
    height: 100%;
    width: 90%;
    border-radius: 30px;
    background: linear-gradient(to right, #00d6bd, #01ecaa, #20ffc0);
    box-shadow: 0px 0px 35px 0px #ff8902d9;
}

.trd-dsh12-display .trd-js204-links .trd-progess-ivl {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    line-height: 3;
    font-size: 12px;
    text-align: center;
    color: #ff8902;
    z-index: 5;
}

.trd-dsh12-display.trd-jsd {
    background: #00a605;
}

.trd-dsh12-display.trd-ins {
    background: #ff8902;
}

.trd-dsh12-display.trd-jsd:hover,
.trd-dsh12-display.trd-ins:hover {
    color: #fff;
    text-decoration: none;
}

.trd-dsh12-display.trd-bdr::before {
    background: #dbffdc;
}

.trd-dsh12-display.trd-bdr::after {
    background: #f5fff5;
}

.trd-dsh12-display.trd-ins.trd-bdr::before {
    background: #ffebd4;
}

.trd-dsh12-display.trd-ins.trd-bdr::after {
    background: #fff8f0;
}

.trd-frmshop-inner {
    margin-top: 2rem;
}

.trd-sm-hidden {
    display: block;
}

.trd-xl-hidden {
    display: none;
}

.trd-frm-435 {
    margin-bottom: 1rem;
}

.trd-frm-435 div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    overflow: hidden;
    border-radius: 30px;
    background: #f5fff5;
}

.trd-frm-435 div h6 {
    color: #000;
    opacity: 0.7;
    font: 600 14px "Roboto", sans-serif;
    margin-bottom: 0;
}

.trd-frm-435 div a {
    color: #ff8902;
}

.trd-frm-435.title-tag-two div {
    margin-bottom: 2rem;
}

.trd-frm-435.title-tag-two div h6 {
    font-size: 20px;
    font-weight: lighter;
}

.trd-frm-352 {
    width: 100%;
    margin-bottom: 1.5rem;
    overflow: hidden;
}

.trd-frm-352 .farm-sec1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.trd-frm-352 .farm-sec2 .farm-location {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
}

.trd-frm-352 .farm-sec2 .farm-location p {
    font-size: 14px;
    color: #004a02;
    margin-bottom: 0;
}

.trd-frm-352 .farm-sec2 .farm-btn {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.trd-frm-352 .farm-img {
    width: 140px;
    height: auto;
    max-height: 150px;
    border: 2px solid #f5fff5;
    border-radius: 15px;
}

.trd-frm-352 .farm-details .plantation {
    line-height: 1;
    font-size: 10px;
}

.trd-frm-352 .farm-details .pc-mb-12 {
    margin-bottom: 0.4rem;
}

.trd-frm-352 .farm-details .plant-name {
    font-weight: bold;
    font-size: 18px;
}

.trd-frm-352 .farm-details .plant-amt {
    white-space: nowrap;
}

.trd-frm-352 .farm-details .plant-amt .cycle {
    font-size: 12px;
}

.trd-frm-352 .farm-details .plant-amt .f-amt {
    font-size: 16px;
    font-weight: bold;
}

.trd-frm-352 .farm-details .plant-amt .duration {
    font-size: 16px;
}

.trd-frm-352 .farm-details .roi {
    color: #ff8902;
}

.trd-rrf-43r {
    width: 100%;
    height: 100%;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.trd-rrf-inner.xl {
    display: none;
}

.trd-rrf-b-img {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
}

.trd-rrf-b-img img {
    width: 154px;
    height: auto;
}

.trd-rrf-top {
    text-align: left;
    font-size: 20px;
    opacity: 0.7;
    margin-bottom: 0;
}

.trd-rrf-img {
    -webkit-margin-after: 1rem;
    margin-block-end: 1rem;
}

.trd-rrf-img img {
    width: 100%;
    height: auto;
}

.trd-rrf-inner {
    background: #f5fff5;
}

.trd-rrf-blog {
    width: 100%;
    height: 100%;
}

.trd-rrf-b-content {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 0;
}

.trd-rrf-b-content .trd-rrf-b-img {
    margin-right: 1rem;
    border-radius: 30px;
}

.trd-rrf-b-content .ctr-xxd {
    font-size: 14px;
    opacity: 0.8;
}

.trd-rrf-b-content .ctr-xxd span {
    color: #00cc06;
    font-weight: bold;
}

.content-4243 {
    width: 50%;
}

.content-4243 .title {
    font: 500 18px "Roboto", sans-serif;
    color: #000;
}

.content-4243 .title span {
    opacity: 0.5;
    font-weight: lighter;
}

.trd-dsh-activities {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.trd-act-wrapper {
    width: 100%;
    margin-top: 2rem;
}

.trd-act627-wrapper {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    border-radius: 30px;
    box-shadow: 0 0 10px 8px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

.trd-activities-list {
    display: block;
    margin-bottom: 0;
}

.btn-hover-primary {
    background: #00cc06 !important;
    transition: 200ms ease-in;
}

.btn-hover-primary:hover {
    background: white !important;
    color: #00cc06 !important;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1) !important;
}

.trd-activities-item {
    width: 100%;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trd-activities-item .items {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.trd-activities-item .items .item-img {
    margin-right: 1rem;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trd-activities-item .items .item-img img {
    width: 15px;
    height: auto;
}

.trd-activities-item .items .item-img.img-type-1 {
    background: #eef8ee !important;
}

.trd-activities-item .items .item-img.img-type-2 {
    background: #fff3e5 !important;
}

.trd-activities-item .items .item-tag {
    color: #000;
}

.trd-activities-item .items .item-tag h5 {
    font: 600 18px "Roboto", sans-serif;
    margin-bottom: 0;
}

.trd-activities-item .items .item-tag p {
    font-size: 10px;
    margin-bottom: 0;
}

.trd-activities-item .details {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.trd-activities-item .details h5 {
    margin-bottom: 0;
    font-weight: bold;
    color: #004a02;
}

.trd-activities-item .details p {
    margin-bottom: 0;
    font-size: 12px;
    opacity: 0.7;
}

.trd-activities-item .details.type-x h5 {
    color: #ff8902;
}

.trd-dssh-437 a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 3px;
    position: relative;
}

.trd-dssh-437 a span {
    position: absolute;
    top: -7px;
    right: -5px;
    background: white;
    color: #ff8902;
    border: 2px solid #ff8902;
    font-size: 10px;
    padding-left: 5px;
    width: 20px;
    height: 20px;
    overflow: hidden;
    border-radius: 50%;
}

.trd-dssh-437 img {
    width: 36px !important;
}

.trd-dss-full-wrap {
    margin-top: 2rem;
}

.trasnction-tabs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.trasnction-tabs::-webkit-scrollbar {
    display: none;
}

.transaction-tab {
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.trsct-table {
    width: 100%;
    padding: 1rem 0;
    margin-bottom: 1rem;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.trsct-table::-webkit-scrollbar {
    display: none;
}

.trsct-table table {
    width: 100%;
}

.trsct-table thead {
    display: table-row-group;
    padding: 10px;
    margin-bottom: 20px;
    background: #f5fff5;
}

.trsct-table thead th {
    color: #0000008c;
}

.trsct-table tbody {
    border: 1px solid red;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
}

.trsct-table th,
.trsct-table td {
    padding: 18px 10px;
    text-align: center;
    white-space: nowrap;
}

.table-flex {
    width: 100%;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding-bottom: 2rem;
}

.table-flex::-webkit-scrollbar {
    display: none;
}

.table-view {
    width: 100%;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
}

.table-header {
    width: 100%;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    background: #f5fff5;
    color: #000000ad;
    font-weight: bolder;
    border-radius: 30px;
}

.table-header .table-head-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-header .table-head-content span {
    width: 25%;
    display: inline-block;
    padding: 1rem 1.2rem;
    text-align: center;
    margin-right: 1.5rem;
    white-space: nowrap;
}

.table-header .table-head-content span:last-of-type {
    margin-right: 0;
}

.table-body {
    width: 100%;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    margin-top: 1rem;
    padding: 10px;
}

.table-row {
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
}

.table-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.table-data .tb-item {
    width: 25%;
    margin-right: 1.5rem;
    text-align: center;
    white-space: nowrap;
    color: #0000009f;
}

.table-data .tb-item:last-of-type {
    margin-right: 0;
}

.table-data .tb-item .table-items {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 20px;
}

.table-data .tb-item .table-items .item-img {
    margin-right: 1rem;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eef8ee;
}

.table-data .tb-item .table-items .item-img.type-1 {
    background: #fff3e5;
}

.table-data .tb-item .table-items .item-img img {
    width: 15px;
    height: auto;
}

.table-data .tb-item .table-items .item-tag {
    text-align: left;
}

.table-data .tb-item .table-items .item-tag h5 {
    font: 600 20px "Roboto", sans-serif;
    margin-bottom: 0;
}

.table-data .tb-item .table-items .item-tag p {
    font-size: 12px;
    margin-bottom: 0;
}

.table-data .tb-item .details.type-x h5 {
    font-size: 18px;
    font-weight: bolder;
    color: #472600;
}

.table-data .tb-item .details.type-y h5 {
    font-size: 18px;
    font-weight: bolder;
    color: #ff8902;
}

.farmshop-dash.inv-section-xl {
    justify-content: flex-start;
    align-items: center;
}

.btn {
    box-shadow: none !important;
}

#sav1-box,
#sav2-box {
    cursor: pointer;
}

.tabs-btn {
    color: #ff8902;
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1) !important;
    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 12px;
    border-radius: 30px;
    transition: 300ms ease;
}

.tabs-btn.active {
    background: #006203;
    color: #ffffff;
}

.tabs-btn:hover {
    background: #006203;
    color: #ffffff;
}

.tabs-btn:last-of-type {
    margin-right: 0;
}

.trsct-table-header {
    width: 100%;
    margin-top: 10px;
    background: #f5fff5;
    color: #000000ad;
    font-weight: bolder;
    border-radius: 30px;
    padding: 15px 1rem;
}

.tables-body {
    opacity: 0.3;
}

.table-tab-top {
    text-align: left !important;
}

.table-row .table-data:nth-child(even) {
    background-color: #f5fff5;
}

.trd-activities-list .trd-activities-item:nth-child(even) {
    background-color: #f5fff5;
}

.padding-bottom-tab {
    padding-bottom: 6rem;
}

.farmshop-header.investment {
    background: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10000;
}

.farmhead-txt-wrapper a {
    display: inline-block;
}

.farmhead-txt-wrapper a img {
    width: 20px;
}

.circle-progress {
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.circle-progress .percentage {
    width: 73px;
    height: 73px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.12);
    position: absolute;
    top: 47%;
    left: 50%;
    line-height: 3.8;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: bolder;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
    transform: translate(-50%, -50%);
    z-index: 199;
}

.circle-progress .percentage.type-top {
    top: 48%;
}

.trd-invs-wrapper {
    position: relative;
    background: #ff9926;
    padding-bottom: 8rem;
}

.trd-inv-recents {
    position: absolute;
    border-radius: 20px;
    background: #fff;
    width: 100%;
}

.trd-invs-top {
    background: #ff9926;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
}

.trd-invs-top .topinvestments {
    padding: 18px 20px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.trd-invs-top .topinvestments::-webkit-scrollbar {
    display: none;
}

.ttp-investments {
    color: #ffffff;
    margin-bottom: 1.5rem;
}

.ttp-investments p {
    font-weight: lighter;
    margin-bottom: 0;
}

.ttp-investments h5 {
    font: 700 35px "Roboto", sans-serif;
}

.inv-chart {
    width: 100%;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chart-box {
    width: 33.33%;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    margin-right: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chart-box h6 {
    white-space: nowrap;
    font-weight: lighter;
    color: #fff;
}

.chart-box .chart-timing img {
    width: 13px;
    margin-right: 5px;
}

.chart-box .chart-timing span {
    color: rgba(255, 255, 255, 0.5);
    margin-right: 15px;
    font-size: 12px;
}

.chart-box a {
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    padding: 0.5rem 1.2rem;
    margin-top: 10px;
    color: #ff8902;
    background: #fff;
    border-radius: 30px;
    border: 1px solid #f5fff5;
}

.trd-act-wrapper.investments-wrap {
    padding-left: 10px;
    padding-right: 10px;
}

.lg-visible {
    display: none;
}

.notification-alert {
    background: #fff;
    width: 90%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0 auto;
    margin-top: 4rem;
    padding: 1rem 1.5rem;
    border-radius: 30px;
    position: absolute;
    top: 0;
    right: 5%;
    opacity: 0;
    pointer-events: none;
    transition: all 300ms ease-in;
    overflow: hidden;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
}

.notification-alert.show {
    transform: translateY(25px);
    opacity: 1;
    pointer-events: visible;
    transition: 300ms ease-in;
}

.notification-alert .trd-not-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notification-alert .trd-not-top h5 {
    margin-bottom: 0;
    opacity: 0.5;
}

.notification-alert .trd-not-top h5 img {
    width: 24px;
    height: auto;
}

.notification-alert .trd-not-top h5 span {
    font-size: 16px;
}

.notification-alert button {
    outline: none;
    border: none;
    box-shadow: none;
    background: transparent;
    padding: 1rem;
}

.notification-alert button img {
    width: 15px;
}

.notification-alert .trd-notification-dis {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.notification-alert .trd-notification-dis .trd-noti-link {
    font-size: 10px;
}

.notification-alert .trd-notification-dis .trd-side-1 {
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.notification-alert .trd-notification-dis .trd-side-1 .trd-side-img {
    margin-right: 10px;
    width: 200px;
    border-radius: 12px;
    overflow: hidden;
}

.notification-alert .trd-notification-dis .trd-side-1 .trd-side-img img {
    width: 100%;
    height: auto;
}

.notification-alert .trd-notification-dis .trd-side-1 h4 {
    font-size: 14px;
}

.trd-notification-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trd-notification-top h5 {
    margin-bottom: 0;
    opacity: 0.5;
    font-weight: bolder;
}

.trd-notification-top h5 img {
    width: 24px;
    height: auto;
}

.trd-notification-top h5 span {
    font-size: 20px;
}

.trd-notification-top button {
    outline: none;
    border: none;
    box-shadow: none;
    background: transparent;
    padding: 1rem;
}

.trd-notification-top button img {
    width: 15px;
}

.top-up-alert {
    background: #fff;
    width: 90%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    border-radius: 30px;
    position: absolute;
    top: 0;
    left: 5%;
    opacity: 0;
    pointer-events: none;
    transition: all 300ms ease-in;
    overflow: hidden;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
}

.top-up-alert.show {
    transform: translateY(25px);
    opacity: 1;
    pointer-events: visible;
    transition: 300ms ease-in;
}

.ttrd-top-alert .tab {
    overflow: hidden;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.ttrd-top-alert .tab button {
    background-color: inherit;
    width: 100%;
    float: left;
    text-align: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.2s;
    padding: 0;
    padding-left: 2rem;
    border-bottom: 4px solid #f5fff5;
    margin-bottom: 1rem;
}

.ttrd-top-alert .tab button:last-of-type {
    border-bottom: none;
}

.ttrd-top-alert .tab button.active .tabs-payment::before {
    opacity: 1;
}

.ttrd-top-alert .tab button.disabled {
    opacity: 0.3;
    pointer-events: none;
}

.ttrd-top-alert .tab button .tabs-payment {
    position: relative;
    margin-bottom: 1rem;
}

.ttrd-top-alert .tab button .tabs-payment h4 {
    font-size: 14px;
    font-weight: bolder;
    text-transform: capitalize;
    color: black;
}

.ttrd-top-alert .tab button .tabs-payment p {
    font-size: 14px;
    font-weight: lighter;
    text-transform: capitalize;
    margin-bottom: 0.5rem;
}

.ttrd-top-alert .tab button .tabs-payment p b {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: black;
    white-space: nowrap;
    text-transform: uppercase;
}

.ttrd-top-alert .tab button .tabs-payment::before,
.ttrd-top-alert .tab button .tabs-payment::after {
    content: "";
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: -32px;
}

.ttrd-top-alert .tab button .tabs-payment::before {
    width: 12px;
    height: 12px;
    background: #00cc06;
    z-index: 5;
    top: 4px;
    left: -28px;
    opacity: 0;
}

.ttrd-top-alert .tab button .tabs-payment::after {
    width: 20px;
    height: 20px;
    background: #fff;
    border: 2px solid #00cc06;
    z-index: 4;
}

.ttrd-top-alert .tab button .tabs-payment.withdrawal::before {
    background-color: #ff8902;
}

.ttrd-top-alert .tab button .tabs-payment.withdrawal::after {
    border-color: #ff8902;
}

.ttrd-top-alert .tabcontent {
    padding-left: 1rem;
    padding-right: 1rem;
    border-top: none;
}

.ttrd-top-alert .form-group {
    margin-bottom: 0.5rem;
}

.ttrd-top-alert .form-group label {
    font-size: 12px;
    font: 700 12px "Open Sans", sans-serif;
    text-transform: capitalize;
    margin-bottom: 0;
}

.ttrd-top-alert .form-group .form-control {
    box-shadow: none;
    border-radius: 30px;
    border: none;
    background: #e0e0e0;
    padding: 0.8rem 0;
    padding-left: 1rem;
}

.ttrd-top-alert .btn-top-up {
    outline: none;
    border: none;
    box-shadow: none;
    width: 100%;
    background: #00a605;
    margin-top: 1rem;
    padding: 1rem 2rem;
    border-radius: 30px;
    color: #fff;
    transition: 300ms ease-in;
}

.ttrd-top-alert .btn-top-up:hover {
    background: #fff;
    color: #00a605;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1) !important;
}

.ttrd-top-alert .disabled {
    opacity: 0.4 !important;
    pointer-events: none !important;
}

.top-up-alert.withdrawal {
    height: -webkit-max-content !important;
    height: -moz-max-content !important;
    height: max-content !important;
}

.sold-out.dash {
    background: #00cc06 !important;
}

.sold-out.dash:hover {
    color: #00cc06 !important;
    background: #fff !important;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1) !important;
}

.farm-btn.btn.btn-lg {
    font-size: 14px;
}

.purchase-alert {
    background: #fff;
    width: 90%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0 auto;
    padding: 0.8rem 1rem;
    border-radius: 30px;
    position: absolute;
    top: 5%;
    left: 5%;
    opacity: 0;
    pointer-events: none;
    transition: all 300ms ease-in;
    overflow: hidden;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
}

.purchase-alert.show {
    transform: translateY(25px);
    opacity: 1;
    pointer-events: visible;
    transition: 300ms ease-in;
}

.purchase-alert .trd-not-top {
    width: 100%;
}

.purchase-alert .trd-not-top button {
    border: none;
    outline: none;
    box-shadow: none;
    background: transparent;
    float: right;
    padding: 10px;
}

.purchase-alert .trd-not-top button img {
    width: 20px;
}

.purchase-alert .trd-not-top .clear-fix {
    clear: both;
}

.trd-purchase-body {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
}

.trd-pruchase-title h5 {
    font: 700 20px "Open Sans", sans-serif;
    color: #00cc06;
}

.trd-body-content {
    padding-left: 20px;
}

.trd-body-content form span {
    display: block;
    width: 100%;
    font-size: 12px;
    opacity: 0.6;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 1rem;
}

.trd-body-content form .form-group label {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.trd-body-content form .form-group .form-control {
    border: none;
    box-shadow: none !important;
    outline: none;
    border-radius: 20px;
    background: #e0e0e085;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

.trd-body-content form .form-group .form-control::-moz-placeholder {
    font-size: 12px;
}

.trd-body-content form .form-group .form-control:-ms-input-placeholder {
    font-size: 12px;
}

.trd-body-content form .form-group .form-control::placeholder {
    font-size: 12px;
}

.trd-body-content form .form-group p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0;
    white-space: nowrap;
}

.trd-body-content form .form-group p span {
    margin-right: 15px;
    margin-bottom: 0.5rem;
}

.trd-body-content form .form-group p span:last-of-type {
    margin-right: 0;
    color: #ff8902;
}

.trd-body-content form .btn-sb-buy {
    font-size: 14px;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    width: 90%;
    margin: 0 auto 1rem;
    background: #00cc06;
    color: #fff;
    transition: 200ms ease-in;
    border-radius: 30px;
}

.trd-body-content form .btn-sb-buy:hover {
    background: #fff;
    color: #006203;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1) !important;
}

.trd-body-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.trd-body-top .trd-srd-1 {
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    margin-bottom: 1rem;
}

.trd-body-top .trd-srd-1 h4 {
    font-size: 15px;
}

.trd-body-top .trd-srd-1 h5 {
    font-size: 15px;
    margin-bottom: 0;
}

.trd-body-top .trd-srd-1 h5 img {
    width: 18px;
}

.trd-body-top .trd-srd-2 {
    color: #ff8902;
    font-size: 16px;
}

.payment-method-select {
    position: relative;
    font-size: 12px;
}

.payment-method-select select {
    display: none;
}

.payment-method-select .select-selected {
    background-color: #e0e0e085;
}

.payment-method-select .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

.payment-method-select .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

.payment-method-select .select-items div,
.payment-method-select .select-selected {
    padding: 8px 12px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.payment-method-select .select-selected {
    border-radius: 20px;
    color: #6f6f6f;
}

.payment-method-select .select-items {
    position: absolute;
    background-color: #343a40;
    color: #fff;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

.payment-method-select .select-hide {
    display: none;
}

.payment-method-select .select-items div:hover,
.payment-method-select .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.modal {
    display: block;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    width: 100vw;
    height: 100vh;
    z-index: 10000000000000003000000000;
    background: transparent;
    transition: all 300ms ease-in;
}

.modal.open {
    background: rgba(0, 0, 0, 0.6);
    opacity: 1;
    pointer-events: visible;
}

.purchase-alert.sales {
    opacity: 0;
    pointer-events: none;
    height: 80%;
    top: 0;
    left: 5%;
}

.purchase-alert.sales.show {
    transform: translateY(25px);
    opacity: 1;
    pointer-events: visible;
    transition: 300ms ease-in;
}

.referral-side {
    position: absolute;
    opacity: 1;
    pointer-events: visible;
    top: 0;
    bottom: 0;
    right: 0;
    width: 80%;
    height: 100%;
    background: #fff;
    padding: 1rem;
    transition: 300ms ease-in;
    transform: translateX(102%);
}

.referral-side.show {
    transform: translateX(0);
}

.trd-referral-top {
    width: 100%;
}

.trd-referral-top button {
    border: none;
    outline: none;
    box-shadow: none;
    background: transparent;
    float: right;
    padding: 10px;
}

.trd-referral-top button img {
    width: 20px;
}

.trd-referral-top .clear-fix {
    clear: both;
}

.trd-referral-body {
    height: calc(100% - 43px);
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.trd-referral-body .body-wrap {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
}

.trd-referral-body .body-wrap h4 {
    font: 700 22px "Open Sans", sans-serif;
    font-weight: bolder;
    color: #006203;
}

.trd-referral-body .trd-referral-content {
    width: 100%;
}

.trd-referral-body .trd-referral-content .trd-rffr-img {
    width: 100%;
}

.trd-referral-body .trd-referral-content .trd-rffr-img img {
    width: 100%;
}

.trd-referral-body .trd-referral-content form {
    width: 100%;
    margin-top: 2rem;
}

.trd-referral-body .trd-referral-content form .form-group label {
    font-size: 14px;
    font-weight: bold;
    opacity: 0.7;
}

.trd-referral-body .trd-referral-content form .form-group .form-control {
    border: none;
    box-shadow: none !important;
    outline: none;
    border-radius: 15px;
    background: #f3f3f3;
    padding: 2rem 0;
    padding-left: 1rem;
}

.trd-referral-body
    .trd-referral-content
    form
    .form-group
    .form-control::-moz-placeholder {
    font-size: 12px;
}

.trd-referral-body
    .trd-referral-content
    form
    .form-group
    .form-control:-ms-input-placeholder {
    font-size: 12px;
}

.trd-referral-body
    .trd-referral-content
    form
    .form-group
    .form-control::placeholder {
    font-size: 12px;
}

.btn-grp-2 {
    font-size: 18px;
    color: #fff;
    background: #00cc06;
    padding: 1rem 2rem;
    width: 100%;
    border-radius: 15px;
    white-space: nowrap;
}

.btn-grp-2:hover {
    background: #fff;
    color: #00cc06;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1) !important;
}

.trd-body-top.plantation-chart {
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.trd-body-top.plantation-chart .trd-srd-1 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.trd-body-top.plantation-chart .trd-srd-1 span b {
    color: #ff8902;
}

.trd-body-top.plantation-chart .circle-progress {
    margin-right: 15px;
}

.transaction_succesful {
    background: #fff;
    width: 90%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0 auto;
    padding: 0.8rem 1.5rem;
    border-radius: 30px;
    position: absolute;
    top: 10%;
    left: 5%;
    opacity: 0;
    pointer-events: none;
    transition: all 300ms ease-in;
    overflow: hidden;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
}

.transaction_succesful.show {
    transform: translateY(25px);
    opacity: 1;
    pointer-events: visible;
    transition: 300ms ease-in;
}

.transaction_succesful .inner-wrapper {
    text-align: center;
}

.transaction_succesful .inner-wrapper h5 {
    color: #00cc06;
    font-size: 20px;
    font-weight: bolder;
}

.transaction_succesful.type-feed {
    opacity: 0;
    pointer-events: none;
}

.transaction_succesful.type-feed.show {
    transform: translateY(25px);
    opacity: 1;
    pointer-events: visible;
    transition: 300ms ease-in;
}

.inner-wrapper.type-2 {
    text-align: left;
}

.inner-wrapper.type-2 .form-group button {
    display: block;
    width: 90%;
    max-width: 400px;
    margin: 0.5rem auto 0;
}

.inner-wrapper.type-2 .form-group a {
    display: block;
    width: 80%;
    max-width: 300px;
    margin: 1rem auto 0;
    white-space: nowrap;
}

.inner-wrapper.type-2 .form-control {
    border: none;
    outline: none;
    box-shadow: none;
    background: #e0e0e0;
    padding: 15px 15px 0;
    border-radius: 15px;
}

.inner-wrapper.type-2 .form-control::-moz-placeholder {
    opacity: 0.4;
}

.inner-wrapper.type-2 .form-control:-ms-input-placeholder {
    opacity: 0.4;
}

.inner-wrapper.type-2 .form-control::placeholder {
    opacity: 0.4;
}

.transaction_succesful.testmonials {
    opacity: 0;
    pointer-events: none;
    border-radius: 15px;
}

.transaction_succesful.testmonials.show {
    transform: translateY(25px);
    opacity: 1;
    pointer-events: visible;
    transition: 300ms ease-in;
}

.inner-wrapper.type-2.carousel {
    overflow: hidden;
}

.dashboard-location {
    line-height: 32px;
}

.dashboard-location img {
    width: 14px;
    height: auto;
}

.dashboard-lltr {
    font-size: 12px !important;
    font-weight: bolder !important;
}

.img-dash {
    line-height: 25px;
}

.sellers-list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.sellers-list a {
    width: 60%;
    max-width: 240px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none !important;
    color: #fff;
    border-radius: 15px;
    text-align: center;
    padding: 0.5rem;
    background: #ffffff3b;
    white-space: nowrap;
}

.img-dash img {
    width: 12px;
}

.form-modal-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-nav {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 10px;
}

.box-nav button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #000;
    opacity: 0.4;
    padding: 0;
    animation: forwarding 700ms infinite linear;
    margin-right: 10px;
}

.sellers-table-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2rem;
    margin-bottom: 1.5rem;
}

.sellers-table-list span {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none !important;
    white-space: nowrap;
}

.table-sellers-list {
    display: block;
    width: 100%;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.table-list {
    color: #fff;
}

.table-sellers-list .table thead th {
    border: none !important;
}

.table-sellers-list .table th,
.table-sellers-list .table td {
    border: none !important;
}

.table-sellers-list::-webkit-scrollbar {
    display: none;
}

table.table-seller {
    color: #fff;
    font-size: 18px;
}

table.table-list thead th {
    font-weight: lighter;
    white-space: nowrap;
    padding: 15px 30px;
}

table.table-list td {
    font-weight: bolder;
    white-space: nowrap;
    padding: 15px 30px;
}

.table-list a img {
    width: 18px;
}

.table-list-xl {
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.xl-sellers-list span {
    text-transform: uppercase;
    color: #fff;
}

.hide-sellers img {
    width: 25px;
}

.table-list a.btn-sellers {
    text-decoration: none !important;
    display: inline-block;
    max-width: 145px;
    text-transform: uppercase;
    color: #ff9926;
    background: #fff;
    border-radius: 12px;
    padding: 0.3rem 0.8rem;
}

.seller-dsh-links a {
    color: #000;
    text-decoration: none !important;
    opacity: 0.5;
    text-transform: capitalize;
    display: inline-block;
    margin-right: 5px;
    font-weight: lighter;
}

.seller-dsh-links b {
    opacity: 0.7;
}

.owl-carousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    /* position relative and z-index fix webkit rendering fonts issue */
    position: relative;
    z-index: 1;
}
.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
    /* fix firefox animation glitch */
}
.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}
.owl-carousel .owl-item img {
    display: block;
    width: 100%;
}
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
    display: none;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
}
.owl-carousel.owl-loaded {
    display: block;
}
.owl-carousel.owl-loading {
    opacity: 0;
    display: block;
}
.owl-carousel.owl-hidden {
    opacity: 0;
}
.owl-carousel.owl-refresh .owl-item {
    visibility: hidden;
}
.owl-carousel.owl-drag .owl-item {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.owl-carousel.owl-grab {
    cursor: move;
    cursor: grab;
}
.owl-carousel.owl-rtl {
    direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
    float: right;
}

/* No Js */
.no-js .owl-carousel {
    display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
    animation-duration: 1000ms;
    animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
    z-index: 0;
}

.owl-carousel .owl-animated-out {
    z-index: 1;
}

.owl-carousel .fadeOut {
    animation-name: fadeOut;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
    transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity 400ms ease;
}
.owl-carousel .owl-item .owl-lazy[src^=""],
.owl-carousel .owl-item .owl-lazy:not([src]) {
    max-height: 0;
}
.owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000;
}

.owl-carousel .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url("owl.video.play.png") no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    transition: transform 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
    -ms-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
    display: none;
}

.owl-carousel .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.owl-theme .owl-nav {
    margin-top: 10px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-nav [class*="owl-"] {
    color: #fff;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #d6d6d6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
    background: #869791;
    color: #fff;
    text-decoration: none;
}
.owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default;
}

.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 10px;
}

.owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #d6d6d6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #869791;
}

.trd-invs-wrapper.bg-unit-primary {
    background: #ffffff;
}

.trd-invs-top.bg-unit-primary {
    background: #00a605;
}

.farmshop-header.bg-unit-primary {
    background: #00a605;
}

.inv-chart.unit-sales {
    display: block;
    min-width: 100%;
    overflow: hidden;
}

.chart-box-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topinvestments.unit-sales {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: #fff;
    overflow: hidden;
}

.roi-new-text {
    color: #000 !important;
}

.trd-srd-2.roi-extended {
    margin-bottom: 15px;
}

.unit-sales-text {
    margin-bottom: 0;
    color: #fff;
    font-size: 22px;
}

.border-buy-extt {
    border: 2px solid #000 !important;
    background: #fff !important;
}

.chart-box-wrapper .chart-box {
    margin-bottom: 2.5rem;
    margin-right: 0;
    width: 80%;
    padding: 14px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chart-box-wrapper .chart-box .circle-progress {
    margin-right: 20px;
}

.chart-box-top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.wrapper-unit {
    font-size: 12px;
}

.wrapper-unit div {
    margin-bottom: 10px;
}

.wrapper-unit .name {
    font-weight: bold;
}

.wrapper-unit em {
    font-style: normal;
    color: #ff9926;
    margin-right: 3px;
}

.wrapper-unit img {
    width: 15px !important;
}

.wrapper-unit h6,
.wrapper-unit .chart-timing span {
    color: #000 !important;
}

.buy_units_btn {
    margin-top: 1.5rem !important;
    background: #0dbf13 !important;
    border-radius: 10px !important;
    color: #fff !important;
    font-size: 12px;
    font-weight: bolder;
}

.purchase-alert.sales.unit-buy {
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    left: 0;
    top: auto;
    bottom: 0;
    height: 60%;
    transform: translate(0) !important;
}

@media only screen and (min-width: 576px) {
    .trd-1635-links img {
        width: 24px;
        height: 24px;
    }

    .trd-1635-links h6 {
        font-size: 12px;
    }

    .trd-dss-304 h4 {
        font-size: 25px;
    }

    .trd-dss-304 p {
        font-size: 14px;
    }

    .trd-dss-304 p span {
        margin-right: 10px;
    }

    .trd-dss-304 p img {
        width: 22px;
    }

    .trd-dss-404 img {
        width: 65px;
    }

    .notification-alert {
        width: 80%;
    }

    .trasnction-tabs {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }

    .trsct-table-header {
        width: initial;
    }

    .tabs-btn {
        font-size: 14px;
    }

    .ttrd-top-alert .tab button .tabs-payment h4 {
        font-size: 14px;
    }

    .ttrd-top-alert .tab button .tabs-payment p {
        font-size: 12px;
    }

    .ttrd-top-alert .tab button .tabs-payment p b {
        font-size: 14px;
    }

    .top-up-alert {
        width: 435px;
        height: 620px;
    }

    .purchase-alert {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) !important;
    }

    .trd-pruchase-title h5 {
        font-size: 22px;
    }

    .trd-body-top .trd-srd-1 h4 {
        font-size: 18px;
    }

    .trd-body-top .trd-srd-1 h5 {
        font-size: 18px;
    }

    .trd-body-top .trd-srd-1 h5 img {
        width: 18px;
    }

    .trd-body-content form .form-group .form-control {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .trd-body-content form .form-group p span {
        font-size: 14px;
        margin-right: 15px;
        margin-bottom: 0.5rem;
    }

    .trd-body-content form .form-group p span:last-of-type {
        margin-right: 0;
        color: #ff8902;
    }

    .trd-body-content form .btn-sb-buy {
        font-size: 14px;
        padding: 1rem 1.5rem;
        text-transform: uppercase;
        width: 90%;
        margin: 0 auto 1rem;
        background: #00cc06;
        color: #fff;
        transition: 200ms ease-in;
        border-radius: 30px;
    }

    .trd-body-content form .btn-sb-buy:hover {
        background: #fff;
        color: #006203;
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1) !important;
    }

    .payment-method-select .select-items div,
    .payment-method-select .select-selected {
        padding: 1rem 1.5rem;
    }

    .transaction_succesful {
        width: 80%;
        top: 15%;
        left: 10%;
    }

    .transaction_succesful .inner-wrapper h5 {
        font-size: 24px;
    }
}

@media only screen and (min-width: 768px) {
    .trd-1635-links img {
        width: 26px;
        height: 26px;
    }

    .trd-1635-links h6 {
        font-size: 14px;
    }

    .trd-dss-wrapper {
        padding: 1.5rem 1rem;
    }

    .trd-dss-304 h4 {
        font-size: 34px;
    }

    .trd-dss-304 p {
        font-size: 16px;
    }

    .trd-dss-304 p img {
        width: 24px;
    }

    .trd-dss-404 img {
        width: 70px;
    }

    .notification-alert {
        width: 70%;
    }

    .ttrd-top-alert .form-group {
        margin-bottom: 0.5rem;
    }

    .ttrd-top-alert .form-group label {
        font-size: 14px;
        font: 700 14px "Open Sans", sans-serif;
        margin-bottom: 0.5rem;
    }

    .ttrd-top-alert .form-group .form-control {
        padding: 1rem 0;
        padding-left: 0.8rem;
    }

    .ttrd-top-alert .btn-top-up {
        padding: 0.8rem;
        border-radius: 15px;
    }

    .trd-pruchase-title h5 {
        font-size: 28px;
    }

    .trd-body-top .trd-srd-1 h4 {
        font-size: 18px;
    }

    .trd-body-top .trd-srd-1 h5 {
        font-size: 18px;
    }

    .trd-body-top .trd-srd-1 h5 img {
        width: 18px;
    }

    .trd-body-content form .form-group .form-control {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .trd-body-content form .form-group p span {
        font-size: 14px;
        margin-right: 15px;
        margin-bottom: 0.5rem;
    }

    .trd-body-content form .form-group p span:last-of-type {
        margin-right: 0;
        color: #ff8902;
    }

    .trd-body-content form .btn-sb-buy {
        font-size: 14px;
        padding: 1rem 1.5rem;
        text-transform: uppercase;
        width: 90%;
        margin: 0 auto 1rem;
        background: #00cc06;
        color: #fff;
        transition: 200ms ease-in;
        border-radius: 30px;
    }

    .trd-body-content form .btn-sb-buy:hover {
        background: #fff;
        color: #006203;
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1) !important;
    }

    .payment-method-select .select-items div,
    .payment-method-select .select-selected {
        padding: 1rem 1.5rem;
    }

    .referral-side {
        width: 50%;
    }

    .trd-referral-body {
        height: calc(100% - 250px);
    }

    .trd-referral-body .body-wrap h4 {
        font-size: 26px;
    }

    .trd-referral-body .trd-referral-content form .form-group label {
        font-size: 18px;
    }

    .trd-referral-body .trd-referral-content form .form-group .form-control {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .trd-referral-body
        .trd-referral-content
        form
        .form-group
        .form-control::-moz-placeholder {
        font-size: 14px;
    }

    .trd-referral-body
        .trd-referral-content
        form
        .form-group
        .form-control:-ms-input-placeholder {
        font-size: 14px;
    }

    .trd-referral-body
        .trd-referral-content
        form
        .form-group
        .form-control::placeholder {
        font-size: 14px;
    }

    .transaction_succesful {
        width: 615px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) !important;
    }

    .transaction_succesful .inner-wrapper h5 {
        font-size: 26px;
    }

    .transaction_succesful .inner-wrapper a {
        width: 50%;
        margin: 0 auto;
        margin-bottom: 1rem;
    }

    .purchase-alert.sales {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) !important;
    }

    .purchase-alert.sales.unit-buy {
        width: 70%;
        left: 50%;
        top: 50%;
        bottom: auto;
        border-radius: 20px;
        transform: translate(-50%, -50%) !important;
        height: fit-content;
    }
}

@media only screen and (min-width: 992px) {
    .trd-dss-wrapper {
        position: relative;
        height: 128px;
    }

    .trd-dss-wrapper .trds-pst {
        position: relative;
        z-index: 4;
    }

    .trd-dss-wrapper::after {
        content: "";
        width: 600px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        pointer-events: none;
        background: url(/images/406_Converted.svg) 55% repeat;
    }

    .trd-act-wrapper {
        width: 95%;
        margin: 0 auto;
        margin-top: 2rem;
    }

    .trd-frm-435 div {
        border-radius: 10px;
    }

    .trd-dss-304 h4 {
        font-size: 38px;
    }

    .trd-dss-304 p {
        font-size: 18px;
    }

    .trd-dss-304 p img {
        width: 24px;
    }

    .trd-dss-404 img {
        width: 75px;
    }

    .trd-dsh-scroll {
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
    }

    .trd-rrf-b-content .ctr-xxd {
        font-size: 18px;
    }

    .notification-alert {
        width: 50%;
    }

    .trd-noti-link {
        font-size: 12px !important;
    }

    .lg-visible {
        display: block;
    }

    .lg-visible h6 {
        font-size: 14px;
    }

    .purchase-alert {
        width: 80%;
        padding: 3rem;
        max-width: 765px;
    }

    .trd-pruchase-title h5 {
        font-size: 28px;
    }

    .trd-body-content form span {
        font-size: 16px;
        font-weight: lighter;
    }

    .trd-body-content form .form-group label {
        font-size: 18px;
    }

    .trd-body-content form .form-group .form-control {
        min-height: 90px;
    }

    .trd-body-content form .form-group .form-control::-moz-placeholder {
        font-size: 16px;
    }

    .trd-body-content form .form-group .form-control:-ms-input-placeholder {
        font-size: 16px;
    }

    .trd-body-content form .form-group .form-control::placeholder {
        font-size: 16px;
    }

    .trd-body-content form .form-group p span {
        font-size: 16px;
    }

    .trd-body-content form .btn-sb-buy {
        width: 80%;
        margin: 0 auto;
        border-radius: 15px;
    }

    .trd-body-top .trd-srd-1 h4 {
        font-size: 22px;
    }

    .trd-body-top .trd-srd-1 h5 {
        font-size: 20px;
    }

    .trd-body-top .trd-srd-1 h5 img {
        width: 20px;
    }

    .payment-method-select {
        font-size: 18px;
    }

    .payment-method-select .select-items div,
    .payment-method-select .select-selected {
        padding: 1.8rem 0.8rem;
    }

    .referral-side {
        width: 580px;
        padding: 3rem;
    }

    .transaction_succesful {
        width: 900px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .transaction_succesful .inner-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5rem;
    }

    .transaction_succesful .inner-wrapper h5 {
        font-size: 28px;
        margin-bottom: 2rem;
    }

    .transaction_succesful .inner-wrapper a {
        width: 50%;
        margin: 0 auto;
        margin-bottom: 1rem;
    }

    .inner-wrapper.type-2 h5 {
        width: 100%;
    }

    .inner-wrapper.type-2 form {
        width: 100%;
    }

    .inner-wrapper.type-2 .form-group button {
        display: block;
        width: 90%;
        max-width: 400px;
        margin: 1rem auto 0;
    }

    .box-nav {
        display: none;
    }

    /* table.table-seller tbody tr td:first-of-type {
        width: 200px;
    } */


    .wrapper-unit {
        font-size: 16px !important;
    }

    .chart-timing span {
        font-size: 16px !important;
    }

    .buy_units_btn {
        font-size: 16px;
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
        width: 100% !important;
    }
}

@media only screen and (min-width: 1200px) {
    .navs {
        position: relative;
        z-index: 999999;
    }

    nav#nav-sm {
        display: none;
    }

    nav#nav-lg {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 200px;
        z-index: 23444444444;
    }

    .trd-nav-lg {
        width: 100%;
        height: 100%;
    }

    main {
        width: calc(100% - 200px);
        margin-left: auto;
        padding-left: 0.5rem;
    }

    .trd-nav-js43-top {
        background: #fff;
        width: 100%;
        height: 128px;
        margin-bottom: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    }

    .top-nav-img {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        height: auto;
    }

    .top-nav-img img {
        width: 130px;
        height: auto;
    }

    .trd-dss-wrapper::after {
        width: 800px;
    }

    .trd-nav-js45-top {
        background: #00a605;
        width: 100%;
        height: calc(100% - 136px);
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }

    .trd-nav-js45-top .trd-navbar {
        background: inherit;
        margin-bottom: 0;
        padding-top: 0.5rem;
        position: relative;
        width: 100%;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
    }

    .trd-nav-js45-top .trd-nav-item {
        border-bottom: 2px solid #0dbf13;
    }

    .trd-nav-js45-top .trd-nav-item:last-of-type {
        border-bottom: 0;
    }

    .trd-nav-js45-top .trd-nav-link {
        display: block;
        width: 100%;
        height: 100%;
        color: #12d61a;
        transition: 200ms ease;
        font-size: 18px;
        text-transform: capitalize;
        padding: 1rem 0.4rem;
    }

    .trd-nav-js45-top .trd-nav-link.active {
        color: #fff;
    }

    .trd-nav-js45-top .trd-nav-link:hover {
        color: #fff;
    }

    .trd-nav-js45-top .trd-nav-link img {
        width: 20px;
        margin-right: 0.8rem;
    }

    .trd-dsh12-display {
        width: 33.33%;
        padding: 1rem;
    }

    .trd-dsh12-display .trd-balance {
        margin-bottom: 0.5rem;
    }

    .trd-dsh12-display .trd-balance h4 {
        font-size: 28px;
    }

    .trd-dsh12-display .trd-balance h4 sup {
        top: 8px;
    }

    .trd-dsh12-display .trd-js-links .img-wrapper {
        width: 15px;
        height: 15px;
        margin-right: 10px;
    }

    .trd-dsh12-display .trd-js-links a img {
        width: 10px;
    }

    .trd-dsh12-display .trd-js-links a .w3-font {
        font-size: 10px;
    }

    .trd-dsh12-display .trd-js202-links .trd-js202-infos h6 {
        font-size: 12px;
    }

    .trd-dsh12-display .trd-js202-links .trd-js202-infos:first-of-type {
        margin-right: 0.2rem;
        padding-right: 0.2rem;
    }

    .trd-dsh12-display .trd-js204-links .trd-progress-bar {
        height: 30px;
    }

    .trd-dsh12-display .trd-js204-links .trd-progess-ivl {
        font-size: 13px;
        line-height: 2;
    }

    .trd-dsh12-display .cn-trd {
        font-size: 18px;
    }

    .trd-comp {
        display: none;
    }

    .trd-frmshop-inner {
        margin-top: 0rem;
        padding: 1rem;
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    }

    .trd-frm-435.xxl {
        display: none;
    }

    .trd-rrf-inner.xl {
        display: block;
    }

    .trd-rrf-inner.sm {
        display: none;
    }

    .farm-sec1.xxlg .farm-img {
        display: none;
    }

    .trd-xl-hidden {
        display: none;
    }

    .trd-sm-hidden {
        display: none;
    }

    .trd-rrf-b-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .trd-rrf-b-content .trd-rrf-b-img {
        margin-bottom: 2rem;
    }

    .trd-rrf-43r {
        margin-bottom: 0rem !important;
    }

    .content-4243 {
        width: 100%;
    }

    .notification-alert {
        width: 680px;
    }

    .farmhead-txt-wrapper a {
        display: none;
    }

    .trd-invs-wrapper {
        background: #fff;
    }

    .circle-progress .percentage {
        width: 100px;
        height: 100px;
        top: 47.5%;
        line-height: 5;
    }

    .farmshop-header.investment {
        background: #fff;
    }

    .farmshop-dash.inv-section-xl {
        justify-content: flex-start;
        align-items: center;
        margin-left: 0;
        margin-bottom: 1.5rem;
        padding: 0 1.6rem;
    }

    .trd-invs-top {
        background: #fff;
    }

    .trd-invs-top .topinvestments {
        background: url("/images/trado icon-5.png") 115% no-repeat;
        background-size: 550px 550px;
        background-color: #ff9926;
        border-radius: 20px;
        display: flex;
        width: 96%;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .trd-invs-top .topinvestments .bg-trand {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1000;
        width: 50%;
        height: 100%;
        background: url("/images/trado_icon_reformed.png") no-repeat center
            center/cover;
    }

    .trd-invs-top .topinvestments .ttp-investments {
        position: relative;
        z-index: 5;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .trd-invs-top .topinvestments .inv-chart {
        position: relative;
        z-index: 5;
    }

    .top-up-alert {
        top: 15%;
        left: 19%;
    }

    .chart-box a {
        width: 70%;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .purchase-alert {
        width: 70%;
        top: 50%;
        left: 50%;
    }

    .purchase-alert.sales {
        left: 50%;
        width: 50%;
        padding: 2.5rem 4rem;
    }

    .topinvestments.unit-sales {
        background: #fff !important;
        width: 100%;
        border-radius: 0;
    }
}

@media only screen and (min-width: 1500px) {
    nav#nav-lg {
        width: 250px;
    }

    main {
        width: calc(100% - 250px);
    }

    .trd-comp {
        display: block;
    }

    .trd-dsh12-display .trd-js-links .img-wrapper {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    .trd-dsh12-display .trd-js-links a img {
        width: 15px;
    }

    .trd-dsh12-display .trd-js-links a .w3-font {
        font-size: 16px;
    }

    .trd-dsh12-display .trd-js202-links .trd-js202-infos h6 {
        font-size: 20px;
    }

    .trd-dsh12-display .trd-js202-links .trd-js202-infos:first-of-type {
        margin-right: 0.5rem;
        padding-right: 0.5rem;
    }

    .trd-dsh12-display .trd-js202-links .trd-js202-infos p {
        font-size: 12px;
    }

    .trd-dsh12-display .trd-js204-links .trd-progress-bar {
        height: 30px;
    }

    .trd-dsh12-display .trd-js204-links .trd-progess-ivl {
        font-size: 13px;
    }

    .trd-dsh12-display .cn-trd {
        font-size: 12px;
    }

    .farm-sec1.xxlg .farm-img {
        display: block;
    }

    .trd-rrf-b-content {
        flex-direction: row;
    }

    .trd-rrf-b-content .ctr-xxd {
        font-size: 12px;
    }

    .trd-rrf-b-img img {
        width: 90px;
    }

    .trd-frmshop-inner {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}
