body{
    width: 100vw;
    height: 100vh;
    background: #f5fff5 !important;
    overflow-x: hidden;
}

.prj-image{
    width: 428px;
    height: 244px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 13px;
    border: 3px solid #ffffff;
}

.project-pTxt{
    font-size: 14px;
    color: #000000bd;
    font-weight: 600;
}

.prj-video, .prj-img{
    position: relative;
    width: 100%;
    height: auto;
    max-height: 400px;
    overflow: hidden;
    border: 3px solid #fff;
    border-radius: 15px;
}

video, .prj-img img{
    display: block;
    width: 100%;
    height: auto;
}

video{
    display: block;
}
 
.project-img-wrap img{
    width: 55px;
    height: auto;
    display: inline-flex;
}
.project-header-wrapper{
    padding: 1.8rem 1rem;
}
.project-img-wrap .project-h4{
    display: inline-flex;
    margin-bottom: 0;
    margin-left: 9px;
    color: white;
    font-size: 27px;
    font-weight: 600;
}
.img-userImg-wrap img{
    width: 85px;
}

.project-body-wrapper{
    width: 90%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 90px;
}

.project-pTxt{
    font-size: 14px;
    color: #000000bd;
    font-weight: 600;
}

.prj-video-wrapper{
    width: 100%;
    height: auto;
    border-radius: 15px;
    overflow: hidden;
}

.prj-video button{
    outline: none;
    border: none;
    box-shadow: none !important;
    padding-left: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #00a605;
}

.prj-video button img{
    width: 30px;
    height: auto;
}

.project-foot-txt{
    font-size: 9px;
    color: #adb5bd;
    text-align: right;
}

.project-colored-txt{
    color: orange;
}

@media only screen and (min-width: 768px){
    .prj-video,
    .prj-img{
        height: 188px;
        width: 100%;
        margin-right: auto;
    }
}

@media only screen and (min-width: 992px){
    .prj-video,
    .prj-img{
        height: 230px;
        width: 100%;
        margin-right: auto;
    }
}

@media only screen and (min-width: 1200px){
    .prj-video,
    .prj-img{
        height: 240px;
        width: 100%;
        margin-right: auto;
    }

    .project-wrapper-project{
        width: 100%;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1450px){
    .project-wrapper-project{
        width: 78%;
        margin: 0 auto;
    }
}



/*


.project-video-wrapper{
    width: 100%;
    margin: 0 auto;
}

.prj-video{
    position: relative;
}

.prj-image{
    width: 428px;
    height: 244px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 13px;
    border: 3px solid #ffffff;
}

.prj-image img{
    width: 100%;
    height: auto;
}

.prj-video button{
    outline: none;
    border: none;
    box-shadow: none !important;
    padding-left: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #00a605;
}

.prj-video button img{
    width: 35px;
    height: auto;
}

.prj-video video{
    width: 428px;
    height: 244px;
    border-radius: 13px;
    border: 3px solid #ffffff;
    box-shadow: 0px 2px 5px #80808070;
}
.project-foot-txt{
    font-size: 9px;
    color: #adb5bd;
    text-align: right;
}
.project-colored-txt{
    color: orange;
}
@media only screen and (max-width: 1125px){
    .project-body-wrapper{
        margin-bottom: 130px;
    }
}

@media only screen and (max-width: 1200px){
    .project-body-wrapper{
        margin-bottom: 130px;
    }
}
@media only screen and (max-width: 999px){
    .prj-video video {
        width: 100%;
    }
}
@media only screen and (max-width: 885px){
    .prj-video video {
        /*height: 231px;*/
        /* width: 341px; */
    /* }
}
@media only screen and (max-width: 885px){
    .project-video-wrapper {
        width: 100%;
    }
    .prj-video video {
        width: 100%;
    }
} */ 
