.savings-header {
    height: 128px;
    width: 96%;
    background: white;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}
.savings-txt-wrapper {
    position: relative;
}
.savings-img {
    width: 90px;
    padding: 27px 0px;
}
.saving-dash {
    color: #00000052;
    font-weight: 200;
}
.savings-p {
    color: #21252994;
    font-size: 13px;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
}
.savings-balance-wrapper {
    background-image: url("../images/trado icon-5.png");
    background-color: #00a605;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 482px;
    width: 95%;
    border-radius: 10px;
    box-shadow: 0px 0px 9px #00000036;
    margin-left: 20px;
}
.savings-bal-inner {
    padding: 26px 35px;
    color: white;
}
.savings-p-head {
    font-size: 19px;
    color: #ffffffab;
    font-weight: 200;
    margin-bottom: 0px;
}
.savings-balance {
    position: relative;
}
.savings-amt {
    font-weight: 800;
    font-size: 49px;
}
.savings-n {
    font-size: 10px;
    position: absolute;
    top: 9px;
    left: 0;
}
.savings-event-wrapper {
    display: flex;
}
.savings-event-footer {
    display: flex;
}
.event-amt {
    font-size: 21px;
    color: #0fcd16;
    margin-bottom: 2px;
}
.event-amt .fa-angle-down {
    color: #ffffffbf;
    font-size: 23px;
    margin-left: 9px;
}
.s-event-p {
    font-size: 12px;
    color: #ffffffd4;
    margin-bottom: 2px;
}
#sav1-box {
    padding-right: 26px;
    border-right: 2px solid #00dc07;
    margin-right: 15px;
}

.top-up-alert.save_up.how {
    opacity: 1;
    pointer-events: visible;
}

.save-up-btnImg1 {
    width: 16px;
    margin-right: 14px;
}
.save-up-btn1 {
    background: #00e607;
    border-radius: 10px;
    padding: 11px 0px;
    width: 148px;
    margin-top: 20px;
}
.save-up-btn2 {
    background: #ffa33b;
    border-radius: 10px;
    padding: 11px 0px;
    width: 148px;
    margin-top: 20px;
    margin-left: 15px;
}
.save-up-s {
    color: white;
    font-size: 15px;
}
.transactions-wrapper {
    width: 95%;
    margin-left: 20px;
}
.trans-box {
    display: flex;
    justify-content: space-between;
    padding: 15px 19px;
    margin-top: 21px;
    background: #f5fff5;
    border-radius: 6px;
    margin-bottom: 15px;
}
.trans-p {
    margin-bottom: 0px;
    color: #21252985;
    font-weight: 600;
    font-size: 17px;
}
.trans-see-all {
    margin-bottom: 0;
    color: #ff8902;
    font-size: 12px;
}
.transaction-table-wrapper {
    margin-bottom: 120px;
}
.table-title-wrapper {
    display: flex;
}
.trans-table-img {
    background: #e5ffe5d1;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    position: relative;
    margin-right: 14px;
}
.trans-table-img img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 11px;
}

.trans-title {
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 600;
    color: #000000d6;
}
.trans-sub-title {
    margin-bottom: 0;
    font-size: 10px;
    color: #00000059;
}
.trans-table-description {
    font-size: 14px;
    color: #00000085;
}
.trans-table-amt {
    color: #ff8902;
    font-size: 14px;
    margin-bottom: 0;
}
.trans-table-date {
    margin-bottom: 0;
    font-size: 9px;
    color: #00000085;
}
.transaction-table-wrapper tr {
    display: flex;
    justify-content: space-between;
}
.transaction-table-wrapper td {
    padding: 6px 10px;
    border-top: none;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: white;
}
.table-striped tbody tr:nth-of-type(even) {
    background-color: #f5fff5;
}
.upcoming-popUp-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #00000091;
    z-index: 999999;
    display: none;
    justify-content: center;
    align-items: center;
    animation: showover 200ms linear;
}
.upcoming-popUp-box {
    background: white;
    width: 65%;
    max-width: 800px;
    margin: auto;
    margin-top: 65px;
    margin-bottom: 75px;
    padding: 30px 55px;
    border-radius: 35px;
    animation: popover 300ms linear;
}

@keyframes popover {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes showover {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.up-popUp-header {
    display: flex;
    justify-content: space-between;
}
.up-popUp-title p {
    font-size: 16px;
    color: #212529;
    font-weight: 600;
}
.up-event-numb {
    font-size: 36px;
    font-weight: 900;
    color: #00db06;
    margin-bottom: 0px;
}
.pop-up-btn1 {
    background: #ffa33b;
    border-radius: 11px;
    padding: 8px 0px;
    width: 130px;
}
.pop-up-btnImg {
    width: 13px;
    margin-right: 0px;
}
.pop-up-s {
    color: white;
    font-size: 10px;
    font-weight: 100;
}
.upcoming-popUp-box tbody {
    background: #f5fff5;
    border-radius: 43px !important;
}

.popUp-title {
    font-size: 14px;
    font-weight: 500;
    color: #606260;
}
.popUp-amt {
    font-size: 14px;
    font-weight: 700;
    color: #000000;
}
.popUp-date {
    font-size: 14px;
    font-weight: 500;
    color: #606260;
}
.up-popUp-table thead th {
    color: #00000052;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 99999999;
    transition: 400ms ease;
    opacity: 0;
    pointer-events: none;
}

.modal.open {
    opacity: 1;
    pointer-events: visible;
}

.top-up-alert.save_up,
.top-up-alert.save_up.wiithdrawal {
    opacity: 0;
    pointer-events: none;
    transition: 400ms ease;
    border-radius: 0 !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
}

.top-up-alert.save_up.show,
.top-up-alert.save_up.wiithdrawal.show {
    opacity: 1;
    pointer-events: visible;
}

.tabcontent.save_up .form-group label {
    color: #000000;
}
.tabcontent.save_up .form-group {
    margin-bottom: 10px;
}
.tabcontent.save_up .form-control::placeholder {
    font-size: 8px;
}

.save_up_tab p span {
    font-size: 12px;
}

.up-popUp-close {
    padding: 14px;
    height: fit-content;
    cursor: pointer;
}

@media only screen and (max-width: 500px) {
    .savings-header {
        width: 96%;
        margin: auto;
    }
    .savings-bal-inner {
        padding: 23px 20px;
        color: white;
    }
    .savings-balance-wrapper {
        width: 96%;
        margin: auto;
        margin-top: 10px;
    }
    .savings-p-head {
        font-size: 16px;
    }
    .savings-amt {
        font-size: 39px;
    }
    .savings-n {
        top: 7px;
    }
    .event-amt {
        font-size: 20px;
        margin-bottom: 1px;
    }
    #sav1-box {
        padding-right: 16px;
        margin-right: 16px;
    }
    .event-amt .fa-angle-down {
        font-size: 20px;
        margin-left: 6px;
    }
    .save-up-btn1 {
        padding: 7px 0px;
        width: 128px;
        margin-top: 15px;
    }
    .save-up-btn2 {
        padding: 7px 0px;
        width: 128px;
        margin-top: 15px;
    }
    .transactions-wrapper {
        width: 95%;
        margin: auto;
    }
}

@media only screen and (max-width: 575px) {
    .upcoming-popUp-box {
        width: 100%;
        padding: 15px 10px;
    }
}

@media only screen and (min-width: 576px) {
    .upcoming-popUp-box {
        width: 80%;
        padding: 15px 10px;
    }
}

@media only screen and (min-width: 768px) {
    .top-up-alert.save_up {
        width: 80%;
    }

    .save-up-tab-header {
        font-size: 20px !important;
    }

    .tabcontent.save_up .form-group label {
        font-size: 16px;
    }

    .save_up_tab p span {
        font-size: 16px;
    }

    .tabcontent.save_up .form-control {
        height: 60px;
        border-radius: 15px;
    }

    .tabcontent.save_up .form-control::placeholder {
        font-size: 14px;
        padding-left: 1rem;
    }

    .upcoming-popUp-box {
        width: 80%;
        padding: 20px 30px;
    }
}

@media only screen and (min-width: 992px) {
    .top-up-alert.save_up {
        padding: 3rem;
        width: 70%;
        max-width: 800px;
        height: fit-content;
    }

    .save-up-tab-header {
        font-size: 20px !important;
    }

    .btn-top-up.save-up-submit {
        padding: 1.5rem;
    }
}
