.settings-nav-wrapper{
    background: #00a605;
    height: 163px;
}

.settings-header-container{
    width: 92%;
    margin: auto;
    padding: 39px 0px 0px 0px;
}

.settings-h4{
    color: white;
    font-size: 38px;
    font-weight: 500;
    margin-bottom: 0;
    display: inline-block;
    width: 90%
}
.tab-pane{
    margin: 20px 0px 150px 0px;
}
.edit-pro-png{
    display: none;
 }
.set-ul{
    display: flex;
    justify-content: space-between;
}
.settings-nav{
    margin-top: 37px;
}
.settings-nav nav{
    width: 80%;
    margin-left: 66px;
}
.sett-link span{
    font-size: 18px;
    font-weight: 200;
    color: #ffffffab;
    margin-left: 6px;
}
.sett-link{
    padding: 0px 18px;
}
.set-nav-img2{
    display: none;
}
.nav-tabs {
     border-bottom: none;
    justify-content: space-between;
}
.nav-tabs .nav-link.active{
    color: black !important;
    background: none !important;
    border: 1px solid transparent !important;
    border-bottom: 11px solid white !important;
    padding-bottom: 12px;
}
.nav-tabs .nav-link:hover{
    border: 1px solid transparent !important;
    color: white;
}
.nav-tabs .nav-link span.active{
    font-weight: 600;
    color: white;
}
.nav-tabs .nav-link.active:hover{
    color: black !important;
    background: none !important;
    border-bottom: 11px solid white !important;
    padding-bottom: 12px;
}
.chng-pro-btn{
    border: 1px solid white;
    font-weight: 500;
    background: #f5fff5;
    color: #00a605;
    font-size: 14px;
    padding: 18px 0px;
    width: 264px;
    border-radius: 8px;
    box-shadow: 0px 1px 9px #e9ecefe0;
    margin-left: 40px;
}

.set-save-btn:hover{
    color:#fff
}
.set-cancel-btn:hover{
    color: #00a605;
}

.set-pro-img{
    width: 200px;
}
.settings-pro-img{
    margin: 40px 0px 0px 88px;
}
.settings-edtForm-wrapper .form-control{
    background: #f5f5f5;
    border: none;
    border-radius: 9px;
    height: 52px;
    padding: .375rem 1.5rem;
}
.settings-edtForm-wrapper .form-group label{
    font-weight: 600;
    color: #343a40c7;
    font-size: 18px;
}
.settings-edtForm-wrapper{
    margin-bottom: 170px;
    margin-top: 30px;
    margin-left: 84px;
    width: 80%;
}
.set-save-btn{
     font-size: 11px;
     width: 161px;
     background: #00cc06;
     height: 42px;
     border: none;
    color: white;
     border-radius: 10px;
    margin-right: 60px;
}
.set-edt-btn{
    width: fit-content;
    margin: 30px auto;
}
.set-cancel-btn{
    font-size: 11px;
    width: 161px;
    background: white;
    color: #00cc06;
    height: 42px;
    border: 1px solid #00cc06;
    border-radius: 10px;
    margin-left: 33px;
}
.form-row>.col, .form-row>[class*=col-] {
    padding-right: 16px;
    padding-left: 11px;
}
.set-phNumb-wrapper{
    position: relative;
}
.phone-inp-img{
    position: absolute;
    bottom: 14px;
    left: 39px;
}
#set-phNumb-inp{
    padding-left: 102px;
}
.frm-inp-img{
    margin-right: 5px;
}
.edit-header{
    width: 92%;
    margin: auto;
    padding: 39px 0px 0px 0px
}
.edit-header-wrapper{
    background: #00a605;
    height: 163px;
}
.edit-header-wrapper {
    display: none;
}

.settings-edtForm-wrapper .form-control::placeholder{
    font-size: 14px;
    color: #000000eb;
    font-weight: 500;
}
 /*Change Password */
.settings-chgPwd-wrapper .form-control::placeholder{
    font-size: 14px;
    color: #343a4017;
    font-weight: 500;
}
.settings-chgPwd-wrapper{
    width: 86%;
    margin: auto;

}
.settings-chgPwd-wrapper .form-control{
    background: #f5f5f5;
    border: none;
    border-radius: 9px;
    height: 65px;
    padding: .375rem 1.5rem;
}
.settings-chgPwd-wrapper .form-group label{
    font-weight: 600;
    color: #343a40c7;
    font-size: 18px;
}
.settings-chgPwd-wrapper .form-group{
    position: relative;
    width: 76%;
    margin: 40px 0px;
}
.chg-pwd-img{
    position: absolute;
    right: -16px;
    bottom: 19px;
    width: 27px;
}
.set-pwd-btn{
    width: 76%;
    margin: auto;
}
.set-pwd-btn .set-save-btn{
    font-size: 11px;
    width: 207px;
    background: #00cc06;
    height: 50px;
    border: none;
    color: white;
    border-radius: 10px;
    /*margin-right: 60px;*/
}
.set-pwd-btn .set-cancel-btn{
    font-size: 11px;
    width: 207px;
    background: white;
    height: 50px;
    border: 1px solid #00cc06;
    color: #00cc06;
    border-radius: 10px;
    margin-right: 60px;
}
/*  Terms and Conditions    */
.t-c-body{
    min-height: 400px;
    position: relative;
}
#t-c-btns{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
@media only screen and (max-width: 1125px){
    .settings-nav {
        width: 100%;
        margin-top: 40px;
    }
    .nav-tabs {
        justify-content: unset;
    }
    .sett-link {
        padding: 0px 15px;
    }
    .sett-link span {
        font-size: 15px;
    }
    .settings-chgPwd-wrapper .form-group {
        width: 100%;
        margin: 40px 0px;
    }
    .set-pwd-btn {
        width: 100%;
        text-align: center;
    }
    .settings-nav nav {
        width: 100%;
        margin-left: 54px;
    }
}
@media only screen and (max-width: 776px){
    .tab-pane {
        margin: 140px 0px 150px 0px;
    }
    .settings-nav nav{
        display: none;
    }
    .set-pwd-btn {
        width: 100%;
        text-align: center;
        margin: auto;
    }
    .edit-pro-png{
        display: inline-block!important;
    }
    .set-pro-img {
        display: block;
        width: 185px;
    }
    .chng-pro-btn {
        display: block;
        font-size: 13px;
        padding: 18px 0px;
        width: 214px;
        margin-left: 0px;
        border-radius: 30px;
    }
    .settings-nav-wrapper {
        position: relative;
    }
    .settings-pro-img {
        margin: 0px 0px 0px 0px;
        position: absolute;
        width: fit-content;
        top: 36%;
        left: 0;
        right: 0;
        margin: auto;
    }
    .settings-edtForm-wrapper{
        width: 80%;
        margin: auto !important;
        margin-top: 210px !important;
        margin-bottom: 155px !important;
    }
    .set-cancel-btn {
        margin: 0px 20px;
        border-radius: 30px;
    }
    .set-save-btn {
        margin: 0px 20px;
        border-radius: 30px;
    }
    /*edit*/
    .settings-nav-wrapper {
        background: transparent;
        height: 0px;
    }

    .settings-header-container {
        display: none;
    }
    .settings-nav-container {
        padding: 0px 0px 0px 0px;
    }
    .settings-nav {
        margin-top: 0px;
    }
    .tab-pane {
        margin: 0px 0px 150px 0px;
    }
    .edit-header-wrapper {
        display: block;
        height: 100px;
    }
    .edit-header {
        padding: 13px 0px 0px 0px;
    }
    .settings-h4 {
        font-size: 20px;
        color: #f8f9faa6;
    }
    .edit-header-wrapper{
        position: relative;
    }
    .settings-pro-img{
        display: none;
    }
    .settings-pro1-img{
        position: absolute;
        width: fit-content;
        right: 0;
        left: 0;
        top: 34%;
        margin: auto;
    }

    /* Change Password */
    .set-pwd-btn .set-save-btn {
        width: 148px;
        height: 44px;
        border-radius: 18px;
    }
    .set-pwd-btn .set-cancel-btn {
        width: 148px;
        height: 44px;
        border-radius: 18px;
        margin-right: 0px;
    }
    #chgPwd-header-wrapper{
        height: 100px;
    }
    #chg-pwd-header {
        padding: 17px 0px;
    }
    #chg-pwd-txt {
        font-size: 16px;
    }
    .settings-chgPwd-wrapper .form-control::placeholder{
        font-size: 12px;
        color: #343a4040;
    }
    .settings-edtForm-wrapper .form-control::placeholder{
        font-size: 12px;
        color: #343a4040;
    }
    /*  Terms and Conditions   */
    .set-angle-left{
        width: 90%;
        margin: auto;
        color: #ffffffcf;
        font-size: 19px;
        padding-top: 10px;
    }
    #terms-header{
        padding: 9px 0px 9px 0px !important;
    }

/*    mobile settings display*/
    .settings-nav-container {
        padding: 0px 0px 35px 0px;
        background: green;
    }
    .tab-arrow-back{
        width: 96%;
        margin-left: auto;
        padding-top: 10px;
    }
    .tab-arrow-back img{
        transform: rotate(178deg);
    }
    .tab-content{
        display: none;
    }
    .settings-header-container {
         display: block;
    }
    .settings-nav nav {
        display: block;
        position: absolute;
        background: white;
        color: black;
        z-index: 9;
        top: 114px;
        box-shadow: 0px 0px 10px #80808036;
        left: 0;
        right: 0;
        top: 79px;
        margin: auto;
        width: 79%;
        border-radius: 10px;
    }
    .nav-tabs{
        padding: 10px 0px;
        display: block;
    }
    .nav-tabs .nav-link {
        padding: 20px 0px;
        margin: 0px 14px;
        border-bottom: 1px solid #28a74552;
    }
    .sett-link span {
        font-weight: 200;
        color: #6c757d !important;
        margin-left: 6px;
    }
    .set-nav-img1{
        display: none;
    }
    .set-nav-img2{
        display: inline-block;
    }
    .tab-nav-arrow{
        float: right;
        padding-top: 6px;
    }
    .set-nav-logout{
        padding: 45px 0px;
    }
    .set-logout-wrapper{
        text-align: center;
    }
    .set-logout-link span{
        color: #6c757d;
        font-size: 13px;
    }
    .set-logout-link img{
        width: 16px;
    }
    .nav-tabs .nav-link.active{
        border-bottom: 1px solid #28a74552 !important;
        padding-bottom: 12px;
    }
    .nav-tabs .nav-link:hover{
        border-bottom: 1px solid #28a74552 !important;
        color: white;
    }
    .nav-tabs .nav-link span.active{
        font-weight: 600;
        color: black !important;
    }
    .nav-tabs .nav-link.active:hover{
        color: black !important;
        background: none !important;
        border-bottom: 1px solid #28a74552 !important;
        padding-bottom: 12px;
    }
}
@media only screen and (max-width: 600px){


    .set-pro-img {
        width: 150px;
    }
    .settings-pro-img {
        top: 48%;
    }

    .settings-edtForm-wrapper .form-group label {
        font-size: 13px;
    }
/*    edt*/

    .settings-edtForm-wrapper {
        width: 90%;
        margin-top: 116px !important;
    }
    .chng-pro-btn {
        font-size: 10px;
        padding: 6px 0px;
        width: 161px;
    }
    .settings-edtForm-wrapper .form-control {
        height: 42px;
        border-radius: 16px;
        padding: .375rem 1.5rem;
    }
    .settings-edtForm-wrapper .form-group {
        margin-bottom: .8rem;
    }
    .set-save-btn {
        font-size: 10px;
        height: 36px;
    }
    .set-cancel-btn{
        font-size: 10px;
        height: 36px;
    }
    .set-edt-btn {
        margin: 10px auto;
    }

    /* Change Password */
    .set-pwd-btn .set-save-btn {
        width: 144px;
        height: 36px;
    }
    .set-pwd-btn .set-cancel-btn{
        width: 144px;
        height: 36px;
    }
}
@media only screen and (max-width: 500px){
    /*.settings-edtForm-wrapper {*/
    /*    width: 100%;*/
    /*}*/
    .settings-edtForm-wrapper .form-control {
        height: 47px;
    }
    .set-save-btn {
        width: 137px;
        margin: 0;
    }
    .set-cancel-btn{
        width: 137px;
        margin: 0;
    }

    .settings-chgPwd-wrapper .form-control {
        border-radius: 16px;
        height: 43px;
    }
    .settings-chgPwd-wrapper {
        width: 90%;
    }
    .chg-pwd-img {
        right: 15px;
        bottom: 12px;
        width: 25px;
    }
    .settings-chgPwd-wrapper .form-group {
        width: 100%;
        margin: 23px 0px;
    }
    .settings-chgPwd-wrapper .form-group label {
        font-size: 12px;
        margin-left: 8px;
        margin-bottom: 3px;
    }

}
