* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  background: #fff;
}

a {
  text-decoration: none;
}

.link-in {
  color: #ff8902;
  position: relative;
}

.link-in::after {
  content: "";
  background: #00cc06;
  height: 5px;
  opacity: 0.1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.link-in:hover {
  text-decoration: none;
  color: #ff8902;
}

main {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

main .wrapper{
  width: 100%;
  height: 100%;
}

.image-intro-container {
  display: none;
}

.trd-1112 {
  height: 70vh;
  position: relative;
}

.trd-1112-wrapper {
  margin-bottom: 5rem;
  position: absolute;
  width: 90%;
  max-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.trd-1112-bg {
  position: absolute;
  top: 0;
  bottom: 50%;
  left: 0;
  right: 0;
  overflow: hidden;
  background: #006203;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.trd-1112-bg::before {
  content: "";
  position: absolute;
  width: 110%;
  height: 105%;
  top: -5%;
  left: -7%;
  right: 0;
  bottom: 0;
  z-index: 0;
  background: url("/images/406_Converted.svg") 0 0 repeat;
  transform: rotate(-5deg);
}

.trd-xvz {
  position: relative;
  z-index: 1;
}

.trd-1112-top {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-top: 5rem;
}

.trd-1112-top .top-img {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 110px;
  margin: 0 auto;
}

.trd-1112-top img {
  width: 150px;
  height: auto;
}

.trd-1112-form {
  background: #fff;
  border-radius: 1rem;
  padding: 2rem 1.5rem;
  margin-bottom: 4rem;
  box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.1);
}

.trd-1112-form .header {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.trd-1112-form .header h5 {
  font: 600 24px "Roboto", sans-serif;
  margin-bottom: 0;
}

.trd-1112-form .header p {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  padding-left: 1rem;
  padding-right: 1rem;
}

.sign_up_form {
  display: block;
}

.sign_up_form .form-dropdown {
  position: relative;
}

.sign_up_form .form-dropdown .form-control {
  padding-left: 2.5rem;
}

.sign_up_form .country-drop {
  width: 45px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 9999999999;
}

.sign_up_form .voidapt {
  display: none;
}

.sign_up_form #a {
  padding-left: 0px;
}

.sign_up_form #a img,
.sign_up_form .btn-select img {
  width: 20px;
}

.sign_up_form #a li {
  height: 35px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign_up_form #a li:hover {
  background-color: #F4F3F3;
}

.sign_up_form .b {
  display: none;
  background: #fff;
  width: 100%;
  max-width: 350px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  border-radius: 5px;
  position: relative;
  z-index: 9999999999;
}

.sign_up_form .open {
  display: show !important;
}

.sign_up_form .btn-select {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign_up_form .btn-select li {
  list-style: none;
  float: left;
  padding-bottom: 0px;
}

.sign_up_form .btn-select:hover li {
  margin-left: 0px;
}

.sign_up_form .btn-select:focus {
  outline: none;
  border: none;
}

.sign_up_form .form-group {
  margin-bottom: 0.5rem;
  position: relative;
}

.sign_up_form .form-group label {
  font: 400 12px "Open Sans", sans-serif;
  margin-bottom: 0.2rem;
}

.sign_up_form .form-control {
  border: none;
  outline: none;
  box-shadow: none;
  background: #f5f5f5;
  padding-left: 18px;
  padding-bottom: 10px;
  border-radius: 0.5rem;
}

.sign_up_form .form-control::-moz-placeholder {
  font-size: 10px;
  opacity: 0.3;
}

.sign_up_form .form-control:-ms-input-placeholder {
  font-size: 10px;
  opacity: 0.3;
}

.sign_up_form .form-control::placeholder {
  font-size: 10px;
  opacity: 0.3;
}

.sign_up_form .svx-pass-icon {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 0;
  right: 10px;
}

.sign_up_form .svx-pass-icon img {
  cursor: pointer;
  width: 20px;
  position: absolute;
}

.sign_up_form .form-check {
  margin-bottom: 0.8rem;
}

.sign_up_form .form-check-label {
  font-size: 12px;
  opacity: 0.8;
}

.sign_up_form .sin_alt {
  text-align: center;
  font-size: 12px;
}

.trado-pri-btn {
  width: 100%;
  background: #00cc06;
  color: #fff;
  border-radius: 0.8rem;
  line-height: 2.3;
  transition: 200ms ease;
  margin-bottom: 1rem;
}

.trado-pri-btn:hover {
  background: #fff;
  color: #00cc06;
  box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.2);
}

.trd-js32 {
  position: relative;
  display: block;
  padding: 1rem 2.5rem;
  padding-left: 4rem;
}

.trd-js32 img {
  width: 100%;
  height: auto;
}

.trd-js32 .top-brand {
  width: 200px;
  margin-bottom: 2rem;
}

.trd-js32 .top {
  width: 80%;
  margin-right: auto;
}

.trd-js32 .top .header h5 {
  font: 700 45px "Roboto", sans-serif;
  line-height: 48px;
  margin-bottom: 0;
  opacity: 0.9;
}

.trd-js32 .top .header p {
  font-size: 20px;
  line-height: 25px;
  opacity: 0.8;
}

.trd-js434 {
  width: 75%;
}

.trd-js-lg {
  width: 100% !important;
  margin-bottom: 0.8rem !important;
}

text-opacity {
  opacity: 0.7;
}

.trado-w-js0453 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trad-h-100 {
  height: 45px !important;
}

@media (min-width: 576px) {
  .trd-1112-bg {
    left: -50%;
    right: -50%;
  }

  .trd-1112-top {
    margin-bottom: 1rem;
  }

  .trd-1112-top img {
    width: 170px;
  }

  .trd-1112-form .header h5 {
    font-size: 26px;
  }

  .sign_up_form .form-group label {
    font-size: 14px;
  }

  .sign_up_form .form-control::-moz-placeholder {
    font-size: 12px;
  }

  .sign_up_form .form-control:-ms-input-placeholder {
    font-size: 12px;
  }

  .sign_up_form .form-control::placeholder {
    font-size: 12px;
  }

  .sign_up_form .form-check-label {
    font-size: 14px;
  }

  .sign_up_form .sin_alt {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .trd-1112-form .header p {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  .image-intro-container {
    display: block;
  }

  .trd-js442{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .abs{
    height: 650px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }

  main .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }

  .trd-1112 {
    height: 100vh;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .trd-js434-top {
    margin-top: 1rem;
  }

  .trd-1112-top {
    display: none;
  }

  .h-max-content {
    height: 100%;
    background: #006203;
  }

  .trd-1112-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .trd-1112-form .header {
    display: none;
  }

  .trd-1112-form .sign_up_form {
    width: 100%;
  }

  .trd-1112-wrapper {
    margin-bottom: 0;
    width: 90%;
    min-height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .trd-1112-bg {
    left: 0;
    right: 0;
    bottom: 0;
  }

  .trado-pri-btn {
    line-height: 3;
  }

  .tr-pd {
    padding: 3rem;
  }

  .trd-xvz {
    height: 100%;
    margin: auto;
  }

  .trad-h-100 {
    height: 55px !important;
  }

  .trd-js-flex{
    height: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }


  .trd-js445{
    max-width: 100%;
    width: 100%;
  }

  .sign_up_form .form-control {
    min-height: 42px;
  }

  .abs-trd-xl{
    height: fit-content !important;
  }
}

@media (min-width: 1200px) {
  .sign_up_form .form-group {
    margin-bottom: 1rem;
  }

  .sign_up_form .form-group label {
    font-size: 17px;
  }

  .bottom-icon {
    bottom: 8px !important;
  }

  .trd-1112-form {
    padding: 5rem 3rem;
  }

  .tr-pd {
    padding: 7rem 4rem;
  }

  .text-uppercase {
    text-transform: uppercase;
  }

  .width-ex {
    width: 80%;
    margin: 0 auto 1rem;
  }

  .trd-js434 {
    max-width: 80%;
  }

  .trad-js-734 {
    margin-bottom: 2.5rem !important;
  }

  .trad-js-734 label {
    font-size: 28px !important;
  }

  .trad-js-734 input::-moz-placeholder {
    font-size: 16px !important;
  }

  .trad-js-734 input:-ms-input-placeholder {
    font-size: 16px !important;
  }

  .trad-js-734 input::placeholder {
    font-size: 16px !important;
  }

  .trad-js-734 .form-control {
    height: 55px;
  }

  .trad-h-100 {
    height: 68px !important;
  }
}

@media (min-width: 1600px) {
  .container {
    width: 100%;
  }

  .abs{
    height: 750px;
    overflow: hidden;
  }

  .trd-js434 {
    max-width: 70%;
  }

  .trd-js32 {
    padding-left: 6rem;
  }

  .tr-pd {
    padding: 7rem;
  }
}

